In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import numpy as np
pd.set_option('display.float_format', '{:.6f}'.format)
pd.set_option('display.float_format', lambda x: "{:.6f}".format(x) if not pd.isna(x) else "NaN")

In [2]:
import os
import pandas as pd

directory = '../data/Tables-SamagraMaster/'

csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

for file in csv_files:
    file_name = os.path.splitext(file)[0]
    globals()[file_name + '_df'] = pd.read_csv(os.path.join(directory, file))

C:\Users\Admin\AppData\Local\Temp\ipykernel_23528\471122471.py:10: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()[file_name + '_df'] = pd.read_csv(os.path.join(directory, file))

In [3]:
Division_df.columns

Index(['id', 'state_id', 'division_code', 'division_name', 'division_name_hi'], dtype='object')

In [4]:
district_df.columns

Index(['ID', 'Division_ID', 'District_Name', 'District_NameH', 'IS_TRIBAL',
       'DDO_Code', 'DDO_Code_SJ', 'LGD_Code', 'Census_Code',
       'edistrict_state_code', 'edistrict_district_code'],
      dtype='object')

In [5]:
LocalBody_df.columns

Index(['id', 'LB_Type', 'District_ID', 'LB_name_E', 'LB_name_H', 'Block_Id',
       'DDO_Code', 'Is_Active', 'insert_date', 'Remarks', 'LSK_ID',
       'Tehsil_Id', 'edistrict_tehsil_id_temp', 'Lgd_code', 'Trible'],
      dtype='object')

In [6]:
GPZone_df.columns

Index(['id', 'LB_Id', 'Zone_Code', 'Zone_Name', 'Zone_Name_hi', 'Is_Zone',
       'VidhanSabha_ID', 'Is_Active', 'insert_date', 'Remarks', 'lgd_code',
       'inserted_on', 'update_date', 'Is_Tribal', 'GIS_lgd_code',
       'Unnamed: 15'],
      dtype='object')

In [7]:
VillageWard_df.columns

Index(['ID', 'gp_zone_id', 'Tehsil_Id', 'VW_Name_en', 'VW_Name_hi',
       'Is_Village', 'Ward_Local_Known_Name', 'Ward_Local_Known_Name_Hi',
       'Is_Active', 'Remarks', 'inserted_on', 'update_date', 'Correct_VW_ID',
       'GIS_lgd_code', 'edistrict_Village_code', 'edistrict_Village_code_temp',
       'Tehsil_Name', 'LLY_CensCD', 'LLY_vill_ward_Lgd_code',
       'GIS_Tehsil_code', 'GIS_gp_zone_lgd_Code', 'VidhanSabha_Name',
       'VidhanSabha_Code'],
      dtype='object')

In [8]:
CastList_df.columns

Index(['ID', 'Category_id', 'Caste_Code', 'OldCaste', 'Caste'], dtype='object')

In [9]:
Category_df.columns

Index(['ID', 'Category_Name', 'Category_Name_Hi'], dtype='object')

In [10]:
gender_df.columns

Index(['id', 'Gender', 'Gender_Hi', 'Gender_S_Hi', 'Gender_abbr'], dtype='object')

In [11]:
Marital_df.columns

Index(['id', 'marital_status', 'marital_status_Hi'], dtype='object')

In [12]:
Relation_df.columns

Index(['ID', 'Relation_Name', 'Relation_Name_Hi', 'Is_Male',
       'Relation_Name_abbr', 'Order_By', 'Is_For_UnMarried',
       'Map_With_Relation_ID'],
      dtype='object')

In [13]:
df1=pd.merge(Division_df,district_df,left_on="id",right_on="Division_ID",how="left")

In [14]:
df2=pd.merge(df1,LocalBody_df,left_on="Division_ID",right_on="District_ID",how="left")

In [15]:
df3=pd.merge(df2,GPZone_df,left_on="District_ID",right_on="id",how="left")

In [16]:
df4=pd.merge(df3,VillageWard_df,left_on="id",right_on="gp_zone_id",how="left")

In [19]:
df4.head(1)

,id_x,state_id,division_code,division_name,division_name_hi,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y,LB_Type,District_ID,LB_name_E,LB_name_H,Block_Id,DDO_Code_y,Is_Active_x,insert_date_x,Remarks_x,LSK_ID,Tehsil_Id_x,edistrict_tehsil_id_temp,Lgd_code,Trible,id,LB_Id,Zone_Code,Zone_Name,Zone_Name_hi,Is_Zone,VidhanSabha_ID,Is_Active_y,insert_date_y,Remarks_y,lgd_code,inserted_on_x,update_date_x,Is_Tribal,GIS_lgd_code_x,Unnamed: 15,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Ward_Local_Known_Name,Ward_Local_Known_Name_Hi,Is_Active,Remarks,inserted_on_y,update_date_y,Correct_VW_ID,GIS_lgd_code_y,edistrict_Village_code,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code
0,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23497,3,20,"Nagar Parishad, TAAL","नगर परिषद, ताल",116.000000,3115802008,1,NaN,NaN,NaN,NaN,NaN,250840\r\n\r\n,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000

In [22]:
df4['id_x'].dtype

dtype('int64')

In [25]:
df4['id_x']=df4['id_x'].astype(str)

In [26]:
df4['id_x'].dtype

dtype('O')

In [27]:
CastList_df['ID'].dtype

dtype('O')

In [29]:
df5=pd.merge(df4,CastList_df,left_on="id_x",right_on="ID",how="left")

In [31]:
Category_df['ID'].dtype

dtype('int64')

In [32]:
Category_df['ID']=Category_df['ID'].astype(str)

In [33]:
Category_df['ID'].dtype

dtype('O')

In [36]:
df5.head(1)

,id_x,state_id,division_code,division_name,division_name_hi,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y,LB_Type,District_ID,LB_name_E,LB_name_H,Block_Id,DDO_Code_y,Is_Active_x,insert_date_x,Remarks_x,LSK_ID,Tehsil_Id_x,edistrict_tehsil_id_temp,Lgd_code,Trible,id,LB_Id,Zone_Code,Zone_Name,Zone_Name_hi,Is_Zone,VidhanSabha_ID,Is_Active_y,insert_date_y,Remarks_y,lgd_code,inserted_on_x,update_date_x,Is_Tribal,GIS_lgd_code_x,Unnamed: 15,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Ward_Local_Known_Name,Ward_Local_Known_Name_Hi,Is_Active,Remarks,inserted_on_y,update_date_y,Correct_VW_ID,GIS_lgd_code_y,edistrict_Village_code,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code,ID,Category_id,Caste_Code,OldCaste,Caste
0,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23497,3,20,"Nagar Parishad, TAAL","नगर परिषद, ताल",116.000000,3115802008,1,NaN,NaN,NaN,NaN,NaN,250840\r\n\r\n,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr..."

In [39]:
Category_df['ID']=Category_df['ID'].astype("int64")

In [43]:
df6=pd.merge(df5,Category_df,left_on="ID_x",right_on="ID",how="left")

C:\Users\Admin\AppData\Local\Temp\ipykernel_23528\3190824784.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  df6=pd.merge(df5,Category_df,left_on="ID_x",right_on="ID",how="left")

In [46]:
gender_df['id'].dtype

dtype('int64')

In [47]:
gender_df['id']=gender_df['id'].astype(str)

In [49]:
df5.head(1)

,id_x,state_id,division_code,division_name,division_name_hi,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y,LB_Type,District_ID,LB_name_E,LB_name_H,Block_Id,DDO_Code_y,Is_Active_x,insert_date_x,Remarks_x,LSK_ID,Tehsil_Id_x,edistrict_tehsil_id_temp,Lgd_code,Trible,id,LB_Id,Zone_Code,Zone_Name,Zone_Name_hi,Is_Zone,VidhanSabha_ID,Is_Active_y,insert_date_y,Remarks_y,lgd_code,inserted_on_x,update_date_x,Is_Tribal,GIS_lgd_code_x,Unnamed: 15,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Ward_Local_Known_Name,Ward_Local_Known_Name_Hi,Is_Active,Remarks,inserted_on_y,update_date_y,Correct_VW_ID,GIS_lgd_code_y,edistrict_Village_code,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code,ID,Category_id,Caste_Code,OldCaste,Caste
0,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23497,3,20,"Nagar Parishad, TAAL","नगर परिषद, ताल",116.000000,3115802008,1,NaN,NaN,NaN,NaN,NaN,250840\r\n\r\n,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr..."

In [51]:
gender_df['id']=gender_df['id'].astype("int64")

In [53]:
df6=pd.merge(df5,gender_df,left_on="ID_x",right_on="id",how="left")

C:\Users\Admin\AppData\Local\Temp\ipykernel_23528\2877107010.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'id_x'} in the result is deprecated and will raise a MergeError in a future version.
  df6=pd.merge(df5,gender_df,left_on="ID_x",right_on="id",how="left")

In [55]:
df7=pd.merge(df6,Marital_df,left_on="ID_x",right_on="id",how="left")

In [57]:
final_df=pd.merge(df7,Relation_df,left_on="ID_x",right_on="ID",how="left")

C:\Users\Admin\AppData\Local\Temp\ipykernel_23528\1646803664.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  final_df=pd.merge(df7,Relation_df,left_on="ID_x",right_on="ID",how="left")

In [58]:
final_df

,id_x,state_id,division_code,division_name,division_name_hi,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y,LB_Type,District_ID,LB_name_E,LB_name_H,Block_Id,DDO_Code_y,Is_Active_x,insert_date_x,Remarks_x,LSK_ID,Tehsil_Id_x,edistrict_tehsil_id_temp,Lgd_code,Trible,id_x,LB_Id,Zone_Code,Zone_Name,Zone_Name_hi,Is_Zone,VidhanSabha_ID,Is_Active_y,insert_date_y,Remarks_y,lgd_code,inserted_on_x,update_date_x,Is_Tribal,GIS_lgd_code_x,Unnamed: 15,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Ward_Local_Known_Name,Ward_Local_Known_Name_Hi,Is_Active,Remarks,inserted_on_y,update_date_y,Correct_VW_ID,GIS_lgd_code_y,edistrict_Village_code,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code,ID_x,Category_id,Caste_Code,OldCaste,Caste,id_y,Gender,Gender_Hi,Gender_S_Hi,Gender_abbr,id,marital_status,marital_status_Hi,ID_y,Relation_Name,Relation_Name_Hi,Is_Male,Relation_Name_abbr,Order_By,Is_For_UnMarried,Map_With_Relation_ID
0,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23497,3,20,"Nagar Parishad, TAAL","नगर परिषद, ताल",116.000000,3115802008,1,NaN,NaN,NaN,NaN,NaN,250840\r\n\r\n,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23498,3,20,"Nagar Parishad, AALOT","नगर परिषद, आलोट",116.000000,3115802008,1,NaN,NaN,NaN,123.000000,NaN,250839\r\n,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23499,2,20,"Nagar Palika, JAORA","नगर पालिका, जावरा",118.000000,3135802010,1,NaN,NaN,NaN,NaN,3501.000000,250837,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23500,3,20,"Nagar Parishad, BADAWADA","नगर परिषद, बड़ावदा",118.000000,3115802008,1,NaN,NaN,NaN,NaN,NaN,250838,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,20,20,Bhopal,NaN,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23501,3,20,"Nagar Parishad, PIPLODA","नगर परिषद, पिपलौदा",119.000000,3135802013,1,NaN,NaN,NaN,121.000000,3500.000000,250836,NaN,20,24028,NaN,DIMANI,दिमनी,0,NaN,1,NaN,NaN,143586,NaN,NaN,NaN,143586.000000,NaN,57163,20,6.000000,Dimani,दिमनी,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451973.000000,NaN,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5463,29,20,29,Ujjain,NaN,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24212,6,29,"Janpad Panchayat, KHALWA","जनपद पंचायत, खालवा",192.000000,2125802012,1,NaN,NaN,NaN,NaN,3715.000000,3839,1.000000,29,24028,NaN,DOHARA,दोहरा,0,NaN,1,NaN,NaN,143587,NaN,NaN,NaN,143587.000000,NaN,57172,29,6.000000,Dohara,दोहरा,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451962.000000,NaN,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5464,29,20,29,Ujjain,NaN,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24213,6,29,"Janpad Panchayat, KHANDWA","जनपद पंचायत, खण्डवा",193.000000,2105802016,1,NaN,NaN,NaN,NaN,3716.000000,3840,NaN,29,24028,NaN,DOHARA,दोहरा,0,NaN,1,NaN,NaN,143587,NaN,NaN,NaN,143587.000000,NaN,57172,29,6.000000,Dohara,दोहरा,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451962.000000,NaN,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5465,29,20,29,Ujjain,NaN,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24214,6,29,"Janpad Panchayat, PANDHANA","जनपद पंचायत, पंधाना",194.000000,2105802019,1,NaN,NaN,NaN,NaN,3718.000000,3841,NaN,29,24028,NaN,DOHARA,दोहरा,0,NaN,1,NaN,NaN,143587,NaN,NaN,NaN,143587.000000,NaN,57172,29,6.000000,Dohara,दोहरा,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451962.000000,NaN,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5466,29,20,29,Ujjain,NaN,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24215,6,29,"Janpad Panchayat, PUNASA","जनपद पंचायत, पुनासा",195.000000,2135802017,1,NaN,NaN,NaN,NaN,3717.000000,3842,NaN,29,24028,NaN,DOHARA,दोहरा,0,NaN,1,NaN,NaN,143587,NaN,NaN,NaN,143587.000000,NaN,57172,29,6.000000,Dohara,दोहरा,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451962.000000,NaN,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5467,29,20,29,Ujjain,NaN,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24752,3,29,"Nagar Parishad, PUNASA","नगर परिषद, पुनासा",NaN,NaN,1,23-01-2023,After Parisiman Provided Data,NaN,NaN,NaN,NaN,NaN,29,24028,NaN,DOHARA,दोहरा,0,NaN,1,NaN,NaN,143587,NaN,NaN,NaN,143587.000000,NaN,57172,29,6.000000,Dohara,दोहरा,1.000000,NaN,NaN,1,NaN,NaN,NaN,NaN,451962.000000,NaN,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
final_df.dropna(axis=1, how='all', inplace=True)

In [65]:
final_df

,id_x,state_id,division_code,division_name,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y,LB_Type,District_ID,LB_name_E,LB_name_H,Block_Id,DDO_Code_y,Is_Active_x,insert_date_x,Remarks_x,Tehsil_Id_x,edistrict_tehsil_id_temp,Lgd_code,Trible,id_x,LB_Id,Zone_Name,Zone_Name_hi,Is_Zone,Is_Active_y,lgd_code,update_date_x,GIS_lgd_code_x,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Is_Active,Remarks,update_date_y,GIS_lgd_code_y,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code,ID_x,Category_id,Caste_Code,OldCaste,Caste,id_y,Gender,Gender_Hi,Gender_S_Hi,Gender_abbr,id,marital_status,marital_status_Hi,ID_y,Relation_Name,Relation_Name_Hi,Is_Male,Relation_Name_abbr,Order_By,Is_For_UnMarried,Map_With_Relation_ID
0,20,20,20,Bhopal,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23497,3,20,"Nagar Parishad, TAAL","नगर परिषद, ताल",116.000000,3115802008,1,NaN,NaN,NaN,NaN,250840\r\n\r\n,NaN,20,24028,DIMANI,दिमनी,0,1,143586,NaN,143586.000000,57163,20,6.000000,Dimani,दिमनी,1.000000,1,NaN,NaN,451973.000000,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,20,20,Bhopal,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23498,3,20,"Nagar Parishad, AALOT","नगर परिषद, आलोट",116.000000,3115802008,1,NaN,NaN,123.000000,NaN,250839\r\n,NaN,20,24028,DIMANI,दिमनी,0,1,143586,NaN,143586.000000,57163,20,6.000000,Dimani,दिमनी,1.000000,1,NaN,NaN,451973.000000,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20,20,20,Bhopal,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23499,2,20,"Nagar Palika, JAORA","नगर पालिका, जावरा",118.000000,3135802010,1,NaN,NaN,NaN,3501.000000,250837,NaN,20,24028,DIMANI,दिमनी,0,1,143586,NaN,143586.000000,57163,20,6.000000,Dimani,दिमनी,1.000000,1,NaN,NaN,451973.000000,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,20,20,Bhopal,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23500,3,20,"Nagar Parishad, BADAWADA","नगर परिषद, बड़ावदा",118.000000,3115802008,1,NaN,NaN,NaN,NaN,250838,NaN,20,24028,DIMANI,दिमनी,0,1,143586,NaN,143586.000000,57163,20,6.000000,Dimani,दिमनी,1.000000,1,NaN,NaN,451973.000000,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,20,20,Bhopal,30,20,RAJGARH,राजगढ़,0.000000,422.000000,3002602001.000000,422.000000,442.000000,23.000000,442.000000,23501,3,20,"Nagar Parishad, PIPLODA","नगर परिषद, पिपलौदा",119.000000,3135802013,1,NaN,NaN,121.000000,3500.000000,250836,NaN,20,24028,DIMANI,दिमनी,0,1,143586,NaN,143586.000000,57163,20,6.000000,Dimani,दिमनी,1.000000,1,NaN,NaN,451973.000000,451966.000000,Ambah,451973.000000,451973.000000,3385.000000,143586.000000,Dimani,7.000000,20,3,20.000000,"Dhobi (excluding Bhopal, Raisen & Sehore Distr...","Dhobi (excluding Bhopal, Raisen & Sehore Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5463,29,20,29,Ujjain,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24212,6,29,"Janpad Panchayat, KHALWA","जनपद पंचायत, खालवा",192.000000,2125802012,1,NaN,NaN,NaN,3715.000000,3839,1.000000,29,24028,DOHARA,दोहरा,0,1,143587,NaN,143587.000000,57172,29,6.000000,Dohara,दोहरा,1.000000,1,NaN,NaN,451962.000000,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5464,29,20,29,Ujjain,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24213,6,29,"Janpad Panchayat, KHANDWA","जनपद पंचायत, खण्डवा",193.000000,2105802016,1,NaN,NaN,NaN,3716.000000,3840,NaN,29,24028,DOHARA,दोहरा,0,1,143587,NaN,143587.000000,57172,29,6.000000,Dohara,दोहरा,1.000000,1,NaN,NaN,451962.000000,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5465,29,20,29,Ujjain,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24214,6,29,"Janpad Panchayat, PANDHANA","जनपद पंचायत, पंधाना",194.000000,2105802019,1,NaN,NaN,NaN,3718.000000,3841,NaN,29,24028,DOHARA,दोहरा,0,1,143587,NaN,143587.000000,57172,29,6.000000,Dohara,दोहरा,1.000000,1,NaN,NaN,451962.000000,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5466,29,20,29,Ujjain,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24215,6,29,"Janpad Panchayat, PUNASA","जनपद पंचायत, पुनासा",195.000000,2135802017,1,NaN,NaN,NaN,3717.000000,3842,NaN,29,24028,DOHARA,दोहरा,0,1,143587,NaN,143587.000000,57172,29,6.000000,Dohara,दोहरा,1.000000,1,NaN,NaN,451962.000000,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5467,29,20,29,Ujjain,51,29,AGAR MALWA,आगर मालवा,0.000000,667.000000,3802602001.000000,667.000000,501.000000,23.000000,468.000000,24752,3,29,"Nagar Parishad, PUNASA","नगर परिषद, पुनासा",NaN,NaN,1,23-01-2023,After Parisiman Provided Data,NaN,NaN,NaN,NaN,29,24028,DOHARA,दोहरा,0,1,143587,NaN,143587.000000,57172,29,6.000000,Dohara,दोहरा,1.000000,1,NaN,NaN,451962.000000,451955.000000,Ambah,451962.000000,451962.000000,3385.000000,143587.000000,Ambah,8.000000,29,3,29.000000,"Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...","Lohar, Luhar, Lohpita, Gadoley,Hunga Lohar, G...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
final_df.shape

(5468, 77)

In [62]:
final_df['division_name'].unique()

array(['Bhopal', 'Hoshangabad', 'Sagar', 'Chambal', 'Gwalior', 'Indore',
       'Jabalpur', 'Rewa', 'Shahdol', 'Ujjain'], dtype=object)

In [59]:
final_df.to_csv("Master.csv",index=False)