## Importing the essential libraries over here

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import numpy as np
pd.set_option('display.float_format', '{:.6f}'.format)
pd.set_option('display.float_format', lambda x: "{:.6f}".format(x) if not pd.isna(x) else "NaN")

## Importing the Reference datasets over here

In [2]:
AahaarAnudan_df=pd.read_csv("../data/Tables-Sampledata/AahaarAnudan.csv",low_memory=False)

In [3]:
AahaarAnudan_df.head(2)

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,GP,Village,Cast,SubCaste,SamagraID,SamagraFamilyID,eEKYC_Status,Profile_Status,eKYC_Date,Project_status,DOB,Gender,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,Insert_Date_Time,DePtID,SchemeID,Active,Remark
0,AA00004493,Tersi bai,NaN,1988-01-01 00:00:00.000,Umaria,Pali,Gijari,NaN,ST,Baiga,100560904,20133068,Yes,Active,2023-04-21 15:20:00.000,NaN,1988-01-01,Female,194269509179031456.000000,2020-08-19 17:29:49.403,NaN,24,33,NaN,NaN
1,AA00038674,SAJAN BAI,W/O: Bhanwar,1979-01-01 00:00:00.000,Dindori,Amarpur,RAMPURI,RAMPURI,ST,Baiga,100614458,20145994,Yes,Active,2023-04-13 15:55:00.000,NaN,1979-01-01,Female,0.000000,2020-08-19 17:29:49.403,NaN,24,33,NaN,NaN

In [4]:
AahaarAnudan_df.columns

Index(['ApplicationID', 'Beneficiary_Name', 'Father/HusbandName',
       'DateOFBirth', 'District', 'Block', 'GP', 'Village', 'Cast', 'SubCaste',
       'SamagraID', 'SamagraFamilyID', 'eEKYC_Status', 'Profile_Status',
       'eKYC_Date', 'Project_status', 'DOB', 'Gender',
       'RefKey_of_Beneficiaries', 'Aadhaar_Anudaan_Registration_Date',
       'Insert_Date_Time', 'DePtID', 'SchemeID', 'Active', 'Remark'],
      dtype='object')

## Performing the Column selections over here

In [5]:
selected_AahaarAnudan_df=AahaarAnudan_df[['ApplicationID', 'Beneficiary_Name', 'Father/HusbandName',
       'DateOFBirth', 'District', 'Block', 'Village', 'Cast',
       'RefKey_of_Beneficiaries', 'Aadhaar_Anudaan_Registration_Date',
       'DePtID', 'SchemeID']]

In [6]:
# dataframe after performing the column selection over here
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
0,AA00004493,Tersi bai,NaN,1988-01-01 00:00:00.000,Umaria,Pali,NaN,ST,194269509179031456.000000,2020-08-19 17:29:49.403,24,33
1,AA00038674,SAJAN BAI,W/O: Bhanwar,1979-01-01 00:00:00.000,Dindori,Amarpur,RAMPURI,ST,0.000000,2020-08-19 17:29:49.403,24,33
2,AA00039668,BUNDI,FUL SINGH,1985-01-05 00:00:00.000,Dindori,Amarpur,Rampuri,NaN,NaN,2020-08-19 17:29:49.403,24,33
3,AA00062254,Mango,Chota No Sirneme,1975-04-03 00:00:00.000,Ashoknagar,Ashoknagar,bhonslegao,ST,287993394052219936.000000,2020-08-19 17:29:49.403,24,33
4,AA00216038,BHAGVATI,Tularam Adivasi,1985-01-01 00:00:00.000,Gwalior,Ghatigaon,UMMEDGARH,ST,0.000000,2020-12-06 11:17:42.663,24,33
5,AA00224410,MUNNI,Ranveer Singh No Sirname,1976-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,556960043973309824.000000,2020-12-30 13:25:12.187,24,33
6,AA00224415,PARBATI,Pappu No Siranme,1988-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,245654937535116192.000000,2020-12-30 13:30:25.513,24,33
7,AA00232121,Rampi Bai,Mahipal Baiga,1989-01-01 00:00:00.000,Umaria,Pali,Ginjri,ST,858644199876731136.000000,2021-02-25 05:47:46.407,24,33
8,AA00233877,SHANTI,Karan Adiwasi,1967-01-01 00:00:00.000,Gwalior,Dabra,KARRA,ST,882770800328247680.000000,2021-03-31 09:13:39.880,24,33
9,AA00240399,REENA ADIVASI,VIJAY ADIWASI,1963-01-01 00:00:00.000,Shivpuri,Badarwas,Jambada Bujurg,NaN,NaN,NaN,24,33

In [7]:
selected_AahaarAnudan_df_initial=selected_AahaarAnudan_df.copy()

In [8]:
selected_AahaarAnudan_df.shape

(10, 12)

In [9]:
len(selected_AahaarAnudan_df['ApplicationID'].unique())

10

Observation
- ApplicationID is the primary key over here

## Performing the Data Cleansing over here

In [10]:
## removing the duplicate entries

In [11]:
selected_AahaarAnudan_df.duplicated().sum()

0

In [12]:
selected_AahaarAnudan_df.drop_duplicates(inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7796\1750919136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df.drop_duplicates(inplace=True)

Observation
- We don't have any duplicate observations over here

## Handling Garbage Values over here
Identify and handle irrelevant and non-logical data entries that do not contribute to the analysis and insights. This activity shall involve filtering out outliers or irrelevant data entries.

In [13]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
0,AA00004493,Tersi bai,NaN,1988-01-01 00:00:00.000,Umaria,Pali,NaN,ST,194269509179031456.000000,2020-08-19 17:29:49.403,24,33
1,AA00038674,SAJAN BAI,W/O: Bhanwar,1979-01-01 00:00:00.000,Dindori,Amarpur,RAMPURI,ST,0.000000,2020-08-19 17:29:49.403,24,33
2,AA00039668,BUNDI,FUL SINGH,1985-01-05 00:00:00.000,Dindori,Amarpur,Rampuri,NaN,NaN,2020-08-19 17:29:49.403,24,33
3,AA00062254,Mango,Chota No Sirneme,1975-04-03 00:00:00.000,Ashoknagar,Ashoknagar,bhonslegao,ST,287993394052219936.000000,2020-08-19 17:29:49.403,24,33
4,AA00216038,BHAGVATI,Tularam Adivasi,1985-01-01 00:00:00.000,Gwalior,Ghatigaon,UMMEDGARH,ST,0.000000,2020-12-06 11:17:42.663,24,33
5,AA00224410,MUNNI,Ranveer Singh No Sirname,1976-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,556960043973309824.000000,2020-12-30 13:25:12.187,24,33
6,AA00224415,PARBATI,Pappu No Siranme,1988-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,245654937535116192.000000,2020-12-30 13:30:25.513,24,33
7,AA00232121,Rampi Bai,Mahipal Baiga,1989-01-01 00:00:00.000,Umaria,Pali,Ginjri,ST,858644199876731136.000000,2021-02-25 05:47:46.407,24,33
8,AA00233877,SHANTI,Karan Adiwasi,1967-01-01 00:00:00.000,Gwalior,Dabra,KARRA,ST,882770800328247680.000000,2021-03-31 09:13:39.880,24,33
9,AA00240399,REENA ADIVASI,VIJAY ADIWASI,1963-01-01 00:00:00.000,Shivpuri,Badarwas,Jambada Bujurg,NaN,NaN,NaN,24,33

Observation
- We don't have such observations in the above dataframe over here

## Handling Missing Values
The system should implement strategies to handle missing or null values, such as missing values in records of citizens etc. or removal of records with missing values.

In [14]:
selected_AahaarAnudan_df.isnull().sum()

ApplicationID                        0
Beneficiary_Name                     0
Father/HusbandName                   1
DateOFBirth                          0
District                             0
Block                                0
Village                              1
Cast                                 2
RefKey_of_Beneficiaries              2
Aadhaar_Anudaan_Registration_Date    1
DePtID                               0
SchemeID                             0
dtype: int64

In [15]:
missing_values=[feature for feature in selected_AahaarAnudan_df.columns if selected_AahaarAnudan_df[feature].isnull().sum()>=1]
for feature in missing_values:
    print(feature)

Father/HusbandName
Village
Cast
RefKey_of_Beneficiaries
Aadhaar_Anudaan_Registration_Date

In [16]:
selected_AahaarAnudan_df[missing_values]

,Father/HusbandName,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date
0,NaN,NaN,ST,194269509179031456.000000,2020-08-19 17:29:49.403
1,W/O: Bhanwar,RAMPURI,ST,0.000000,2020-08-19 17:29:49.403
2,FUL SINGH,Rampuri,NaN,NaN,2020-08-19 17:29:49.403
3,Chota No Sirneme,bhonslegao,ST,287993394052219936.000000,2020-08-19 17:29:49.403
4,Tularam Adivasi,UMMEDGARH,ST,0.000000,2020-12-06 11:17:42.663
5,Ranveer Singh No Sirname,BHONSLEGAON,ST,556960043973309824.000000,2020-12-30 13:25:12.187
6,Pappu No Siranme,BHONSLEGAON,ST,245654937535116192.000000,2020-12-30 13:30:25.513
7,Mahipal Baiga,Ginjri,ST,858644199876731136.000000,2021-02-25 05:47:46.407
8,Karan Adiwasi,KARRA,ST,882770800328247680.000000,2021-03-31 09:13:39.880
9,VIJAY ADIWASI,Jambada Bujurg,NaN,NaN,NaN

Observation
- One way is that we can remove the entire observation having missing values over here (Best)
- Second way is that for categorical features we can replace missing values with "Missing" Indicator

## Dropping the entire observation where we have missing values over here

In [17]:
selected_AahaarAnudan_df.dropna(inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\4289968178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df.dropna(inplace=True)

In [18]:
selected_AahaarAnudan_df[missing_values]

,Father/HusbandName,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date
1,W/O: Bhanwar,RAMPURI,ST,0.000000,2020-08-19 17:29:49.403
3,Chota No Sirneme,bhonslegao,ST,287993394052219936.000000,2020-08-19 17:29:49.403
4,Tularam Adivasi,UMMEDGARH,ST,0.000000,2020-12-06 11:17:42.663
5,Ranveer Singh No Sirname,BHONSLEGAON,ST,556960043973309824.000000,2020-12-30 13:25:12.187
6,Pappu No Siranme,BHONSLEGAON,ST,245654937535116192.000000,2020-12-30 13:30:25.513
7,Mahipal Baiga,Ginjri,ST,858644199876731136.000000,2021-02-25 05:47:46.407
8,Karan Adiwasi,KARRA,ST,882770800328247680.000000,2021-03-31 09:13:39.880

In [19]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,AA00038674,SAJAN BAI,W/O: Bhanwar,1979-01-01 00:00:00.000,Dindori,Amarpur,RAMPURI,ST,0.000000,2020-08-19 17:29:49.403,24,33
3,AA00062254,Mango,Chota No Sirneme,1975-04-03 00:00:00.000,Ashoknagar,Ashoknagar,bhonslegao,ST,287993394052219936.000000,2020-08-19 17:29:49.403,24,33
4,AA00216038,BHAGVATI,Tularam Adivasi,1985-01-01 00:00:00.000,Gwalior,Ghatigaon,UMMEDGARH,ST,0.000000,2020-12-06 11:17:42.663,24,33
5,AA00224410,MUNNI,Ranveer Singh No Sirname,1976-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,556960043973309824.000000,2020-12-30 13:25:12.187,24,33
6,AA00224415,PARBATI,Pappu No Siranme,1988-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,245654937535116192.000000,2020-12-30 13:30:25.513,24,33
7,AA00232121,Rampi Bai,Mahipal Baiga,1989-01-01 00:00:00.000,Umaria,Pali,Ginjri,ST,858644199876731136.000000,2021-02-25 05:47:46.407,24,33
8,AA00233877,SHANTI,Karan Adiwasi,1967-01-01 00:00:00.000,Gwalior,Dabra,KARRA,ST,882770800328247680.000000,2021-03-31 09:13:39.880,24,33

## Standardizing formats
The system must ensure consistency in data formats across different attributes and/or datasets. This may involve converting the raw data into a common, standardized and consumable format (e.g. date (DD/MM/YYYY), numbers, gender, first name, suffix, last name, etc.) to facilitate easier comparison, merging and analysis.

In [20]:
numerical_feature=[feature for feature in selected_AahaarAnudan_df.columns if selected_AahaarAnudan_df[feature].dtype!="O"]
for feature in numerical_feature:
    print(feature)

RefKey_of_Beneficiaries
DePtID
SchemeID

In [21]:
cat_feature=[feature for feature in selected_AahaarAnudan_df.columns if selected_AahaarAnudan_df[feature].dtype=="O"]
for feature in cat_feature:
    print(feature)

ApplicationID
Beneficiary_Name
Father/HusbandName
DateOFBirth
District
Block
Village
Cast
Aadhaar_Anudaan_Registration_Date

## Fetching all the features having Date in it over here

In [22]:
date_feature = [feature for feature in cat_feature if 'Yr' in feature or 'Year' in feature or "yr" in feature or "year" in feature or "Date" in feature]
date_feature

['DateOFBirth', 'Aadhaar_Anudaan_Registration_Date']

In [23]:
# Convert selected columns to datetime format
for col in date_feature:
    selected_AahaarAnudan_df[col] = pd.to_datetime(selected_AahaarAnudan_df[col], format='%Y-%m-%d')

# Convert datetime format to 'dd/mm/yyyy' format
for col in date_feature:
    selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].dt.strftime('%d/%m/%Y')

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3964040395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = pd.to_datetime(selected_AahaarAnudan_df[col], format='%Y-%m-%d')
C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3964040395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = pd.to_datetime(selected_AahaarAnudan_df[col], format='%Y-%m-%d')
C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3964040395.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].dt.strftime('%d/%m/%Y')
C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3964040395.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].dt.strftime('%d/%m/%Y')

In [24]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,AA00038674,SAJAN BAI,W/O: Bhanwar,01/01/1979,Dindori,Amarpur,RAMPURI,ST,0.000000,19/08/2020,24,33
3,AA00062254,Mango,Chota No Sirneme,03/04/1975,Ashoknagar,Ashoknagar,bhonslegao,ST,287993394052219936.000000,19/08/2020,24,33
4,AA00216038,BHAGVATI,Tularam Adivasi,01/01/1985,Gwalior,Ghatigaon,UMMEDGARH,ST,0.000000,06/12/2020,24,33
5,AA00224410,MUNNI,Ranveer Singh No Sirname,01/01/1976,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,556960043973309824.000000,30/12/2020,24,33
6,AA00224415,PARBATI,Pappu No Siranme,01/01/1988,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,245654937535116192.000000,30/12/2020,24,33
7,AA00232121,Rampi Bai,Mahipal Baiga,01/01/1989,Umaria,Pali,Ginjri,ST,858644199876731136.000000,25/02/2021,24,33
8,AA00233877,SHANTI,Karan Adiwasi,01/01/1967,Gwalior,Dabra,KARRA,ST,882770800328247680.000000,31/03/2021,24,33

Observation
- Sometimes what will happen will be first name and last name in separate columns we need to combine both of them to create full name
- and many more such cases

## Naming Standardizing over here
Names are standardized based on similar sounding letters/patterns used in Indian names.
- Replace adjacent similar characters by single character. E.g. “aa” replaced by “a”, “”bb” replaced by “b” etc.

In [25]:
## Converting the categories into lower case for applying the naming standardization properly
def convert_to_lower(name):
    return name.lower()

In [26]:
selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(convert_to_lower)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\1858644449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(convert_to_lower)

In [27]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,aa00038674,sajan bai,w/o: bhanwar,01/01/1979,dindori,amarpur,rampuri,st,0.000000,19/08/2020,24,33
3,aa00062254,mango,chota no sirneme,03/04/1975,ashoknagar,ashoknagar,bhonslegao,st,287993394052219936.000000,19/08/2020,24,33
4,aa00216038,bhagvati,tularam adivasi,01/01/1985,gwalior,ghatigaon,ummedgarh,st,0.000000,06/12/2020,24,33
5,aa00224410,munni,ranveer singh no sirname,01/01/1976,ashoknagar,ashoknagar,bhonslegaon,st,556960043973309824.000000,30/12/2020,24,33
6,aa00224415,parbati,pappu no siranme,01/01/1988,ashoknagar,ashoknagar,bhonslegaon,st,245654937535116192.000000,30/12/2020,24,33
7,aa00232121,rampi bai,mahipal baiga,01/01/1989,umaria,pali,ginjri,st,858644199876731136.000000,25/02/2021,24,33
8,aa00233877,shanti,karan adiwasi,01/01/1967,gwalior,dabra,karra,st,882770800328247680.000000,31/03/2021,24,33

In [28]:
def replace_adjacent_duplicates(value):
    import re
    if isinstance(value, str):
        return re.sub(r'(.)\1+', r'\1', value)
    else:
        return value

In [29]:
cat_feature

['ApplicationID',
 'Beneficiary_Name',
 'Father/HusbandName',
 'DateOFBirth',
 'District',
 'Block',
 'Village',
 'Cast',
 'Aadhaar_Anudaan_Registration_Date']

In [30]:
selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(replace_adjacent_duplicates)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\4086845694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(replace_adjacent_duplicates)

In [31]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,a038674,sajan bai,w/o: bhanwar,01/01/1979,dindori,amarpur,rampuri,st,0.000000,19/08/2020,24,33
3,a06254,mango,chota no sirneme,03/04/1975,ashoknagar,ashoknagar,bhonslegao,st,287993394052219936.000000,19/08/2020,24,33
4,a0216038,bhagvati,tularam adivasi,01/01/1985,gwalior,ghatigaon,umedgarh,st,0.000000,06/12/2020,24,33
5,a02410,muni,ranver singh no sirname,01/01/1976,ashoknagar,ashoknagar,bhonslegaon,st,556960043973309824.000000,30/12/2020,24,33
6,a02415,parbati,papu no siranme,01/01/198,ashoknagar,ashoknagar,bhonslegaon,st,245654937535116192.000000,30/12/2020,24,33
7,a0232121,rampi bai,mahipal baiga,01/01/1989,umaria,pali,ginjri,st,858644199876731136.000000,25/02/2021,24,33
8,a02387,shanti,karan adiwasi,01/01/1967,gwalior,dabra,kara,st,882770800328247680.000000,31/03/2021,24,33

In [32]:
def replace_characters(name):
    replacements = {'e': 'i', 'j': 'z', 'v': 'w', 'q': 'k'}
    for old, new in replacements.items():
        name = name.replace(old, new)
    return name

In [33]:
selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(replace_characters)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\4238718020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(replace_characters)

In [34]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,a038674,sazan bai,w/o: bhanwar,01/01/1979,dindori,amarpur,rampuri,st,0.000000,19/08/2020,24,33
3,a06254,mango,chota no sirnimi,03/04/1975,ashoknagar,ashoknagar,bhonsligao,st,287993394052219936.000000,19/08/2020,24,33
4,a0216038,bhagwati,tularam adiwasi,01/01/1985,gwalior,ghatigaon,umidgarh,st,0.000000,06/12/2020,24,33
5,a02410,muni,ranwir singh no sirnami,01/01/1976,ashoknagar,ashoknagar,bhonsligaon,st,556960043973309824.000000,30/12/2020,24,33
6,a02415,parbati,papu no siranmi,01/01/198,ashoknagar,ashoknagar,bhonsligaon,st,245654937535116192.000000,30/12/2020,24,33
7,a0232121,rampi bai,mahipal baiga,01/01/1989,umaria,pali,ginzri,st,858644199876731136.000000,25/02/2021,24,33
8,a02387,shanti,karan adiwasi,01/01/1967,gwalior,dabra,kara,st,882770800328247680.000000,31/03/2021,24,33

## Replacing the bigrams over here

In [35]:
def replace_bigrams(name):
    replacements = {'ph': 'f', 'gh': 'g', 'th': 't', 'kh': 'k', 'dh': 'd', 'ch': 'c', 'sh': 's', 'au': 'o',
                    'bh': 'b', 'ks': 'x', 'ck': 'k', 'ah': 'h'}
    for old, new in replacements.items():
        name = name.replace(old, new)
    return name

In [36]:
selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(replace_bigrams)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\496433814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(replace_bigrams)

In [37]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,a038674,sazan bai,w/o: banwar,01/01/1979,dindori,amarpur,rampuri,st,0.000000,19/08/2020,24,33
3,a06254,mango,cota no sirnimi,03/04/1975,asoknagar,asoknagar,bonsligao,st,287993394052219936.000000,19/08/2020,24,33
4,a0216038,bagwati,tularam adiwasi,01/01/1985,gwalior,gatigaon,umidgarh,st,0.000000,06/12/2020,24,33
5,a02410,muni,ranwir sing no sirnami,01/01/1976,asoknagar,asoknagar,bonsligaon,st,556960043973309824.000000,30/12/2020,24,33
6,a02415,parbati,papu no siranmi,01/01/198,asoknagar,asoknagar,bonsligaon,st,245654937535116192.000000,30/12/2020,24,33
7,a0232121,rampi bai,mhipal baiga,01/01/1989,umaria,pali,ginzri,st,858644199876731136.000000,25/02/2021,24,33
8,a02387,santi,karan adiwasi,01/01/1967,gwalior,dabra,kara,st,882770800328247680.000000,31/03/2021,24,33

In [38]:
def remove_consonant_a(name):
    consonants = 'bcdfghjklmnpqrstvwxyz'
    new_name = ''
    for i in range(len(name)):
        if i > 0 and name[i] == 'a' and name[i - 1].lower() in consonants:
            continue  # Skip adding 'a' if it follows a consonant
        new_name += name[i]
    return new_name

In [39]:
selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(remove_consonant_a)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\853626296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[cat_feature] = selected_AahaarAnudan_df[cat_feature].applymap(remove_consonant_a)

In [40]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,a038674,szn bi,w/o: bnwr,01/01/1979,dindori,amrpur,rmpuri,st,0.000000,19/08/2020,24,33
3,a06254,mngo,cot no sirnimi,03/04/1975,asokngr,asokngr,bonsligo,st,287993394052219936.000000,19/08/2020,24,33
4,a0216038,bgwti,tulrm adiwsi,01/01/1985,gwlior,gtigon,umidgrh,st,0.000000,06/12/2020,24,33
5,a02410,muni,rnwir sing no sirnmi,01/01/1976,asokngr,asokngr,bonsligon,st,556960043973309824.000000,30/12/2020,24,33
6,a02415,prbti,ppu no sirnmi,01/01/198,asokngr,asokngr,bonsligon,st,245654937535116192.000000,30/12/2020,24,33
7,a0232121,rmpi bi,mhipl big,01/01/1989,umria,pli,ginzri,st,858644199876731136.000000,25/02/2021,24,33
8,a02387,snti,krn adiwsi,01/01/1967,gwlior,dbr,kr,st,882770800328247680.000000,31/03/2021,24,33

In [41]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,a038674,szn bi,w/o: bnwr,01/01/1979,dindori,amrpur,rmpuri,st,0.000000,19/08/2020,24,33
3,a06254,mngo,cot no sirnimi,03/04/1975,asokngr,asokngr,bonsligo,st,287993394052219936.000000,19/08/2020,24,33
4,a0216038,bgwti,tulrm adiwsi,01/01/1985,gwlior,gtigon,umidgrh,st,0.000000,06/12/2020,24,33
5,a02410,muni,rnwir sing no sirnmi,01/01/1976,asokngr,asokngr,bonsligon,st,556960043973309824.000000,30/12/2020,24,33
6,a02415,prbti,ppu no sirnmi,01/01/198,asokngr,asokngr,bonsligon,st,245654937535116192.000000,30/12/2020,24,33
7,a0232121,rmpi bi,mhipl big,01/01/1989,umria,pli,ginzri,st,858644199876731136.000000,25/02/2021,24,33
8,a02387,snti,krn adiwsi,01/01/1967,gwlior,dbr,kr,st,882770800328247680.000000,31/03/2021,24,33

## Converting all the names into uppercase over here

In [42]:
def convert_to_uppercase(text):
    return text.upper()

In [43]:
for col in cat_feature:
    selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(convert_to_uppercase)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\2547436842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(convert_to_uppercase)

In [44]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,W/O: BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0.000000,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936.000000,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0.000000,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824.000000,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192.000000,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136.000000,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680.000000,31/03/2021,24,33

In [45]:
import re
salutation_patterns = [
    r'^Mr\.\s',
    r'^Mrs\.\s',
    r'^Ms\.\s',
    r'^Miss\.\s',
    r'^Master\.\s',
    r'^Dr\.\s',
    r'^Smt\.\s',
    r'^Sh\.\s'
]

# Function to remove salutations from names
def remove_salutations(text):
    for pattern in salutation_patterns:
        text = re.sub(pattern, '', text)
    return text.strip()

# Apply the function to each categorical column
for col in cat_feature:
    selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_salutations)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3582110556.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_salutations)

In [46]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,W/O: BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0.000000,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936.000000,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0.000000,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824.000000,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192.000000,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136.000000,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680.000000,31/03/2021,24,33

In [47]:
relationship_patterns = [
    r'\bS/O\b', r'\bSO\s', r'\bS\sO\b',
    r'\bD/O\b', r'\bDO\s', r'\bD\sO\b',
    r'\bW/O\b', r'\bWO\s', r'\bW\sO\b'
]

def remove_relationship_markers(text):
    for pattern in relationship_patterns:
        text = re.sub(pattern, '', text)
    return text.strip()

for col in cat_feature:
    selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_relationship_markers)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\2262068324.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_relationship_markers)

In [48]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,: BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0.000000,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936.000000,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0.000000,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824.000000,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192.000000,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136.000000,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680.000000,31/03/2021,24,33

In [49]:
cat_feature

['ApplicationID',
 'Beneficiary_Name',
 'Father/HusbandName',
 'DateOFBirth',
 'District',
 'Block',
 'Village',
 'Cast',
 'Aadhaar_Anudaan_Registration_Date']

In [50]:
def remove_special_characters(text):
    return re.sub(r'[^A-Za-z\s]', '', text)

In [51]:
columns_to_clean = ['Beneficiary_Name','Father/HusbandName','District','Block','Village','Cast']

def remove_special_characters(text):
    return re.sub(r'[^A-Za-z\s]', '', text)

# Apply the function to each specified column
for col in columns_to_clean:
    selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_special_characters)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3785924153.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_special_characters)

In [52]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0.000000,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936.000000,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0.000000,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824.000000,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192.000000,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136.000000,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680.000000,31/03/2021,24,33

In [53]:
stop_words = [
    'devi', 'dei', 'debi',
    'kumar', 'kumaar', 'kumari', 'kumaari', 'kmr', 'kumr',
    'bhai', 'bhau', 'bai',
    'ben',
    'singh', 'kaur',
    'Md', 'Mohd', 'Mohammad', 'Mohamad'
]

def remove_stop_words(text):
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

for col in columns_to_clean:
    selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_stop_words)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\1486308465.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df[col] = selected_AahaarAnudan_df[col].apply(remove_stop_words)

In [54]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0.000000,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936.000000,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0.000000,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824.000000,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192.000000,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136.000000,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680.000000,31/03/2021,24,33

Given: The system is expected to run the above processes for all fields such as mobile number, name, last name, Government issued identity numbers, Date of birth, age, email id, income, gender, etc. to ensure adherence to standard formats and a logical citizen profile is created.

In [55]:
selected_AahaarAnudan_df['RefKey_of_Beneficiaries']=selected_AahaarAnudan_df['RefKey_of_Beneficiaries'].astype("int64")

C:\Users\Admin\AppData\Local\Temp\ipykernel_13756\3417284192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_AahaarAnudan_df['RefKey_of_Beneficiaries']=selected_AahaarAnudan_df['RefKey_of_Beneficiaries'].astype("int64")

## Comparing the reference dataframes over here

In [56]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680,31/03/2021,24,33

In [57]:
selected_AahaarAnudan_df_initial

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
0,AA00004493,Tersi bai,NaN,1988-01-01 00:00:00.000,Umaria,Pali,NaN,ST,194269509179031456.000000,2020-08-19 17:29:49.403,24,33
1,AA00038674,SAJAN BAI,W/O: Bhanwar,1979-01-01 00:00:00.000,Dindori,Amarpur,RAMPURI,ST,0.000000,2020-08-19 17:29:49.403,24,33
2,AA00039668,BUNDI,FUL SINGH,1985-01-05 00:00:00.000,Dindori,Amarpur,Rampuri,NaN,NaN,2020-08-19 17:29:49.403,24,33
3,AA00062254,Mango,Chota No Sirneme,1975-04-03 00:00:00.000,Ashoknagar,Ashoknagar,bhonslegao,ST,287993394052219936.000000,2020-08-19 17:29:49.403,24,33
4,AA00216038,BHAGVATI,Tularam Adivasi,1985-01-01 00:00:00.000,Gwalior,Ghatigaon,UMMEDGARH,ST,0.000000,2020-12-06 11:17:42.663,24,33
5,AA00224410,MUNNI,Ranveer Singh No Sirname,1976-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,556960043973309824.000000,2020-12-30 13:25:12.187,24,33
6,AA00224415,PARBATI,Pappu No Siranme,1988-01-01 00:00:00.000,Ashoknagar,Ashoknagar,BHONSLEGAON,ST,245654937535116192.000000,2020-12-30 13:30:25.513,24,33
7,AA00232121,Rampi Bai,Mahipal Baiga,1989-01-01 00:00:00.000,Umaria,Pali,Ginjri,ST,858644199876731136.000000,2021-02-25 05:47:46.407,24,33
8,AA00233877,SHANTI,Karan Adiwasi,1967-01-01 00:00:00.000,Gwalior,Dabra,KARRA,ST,882770800328247680.000000,2021-03-31 09:13:39.880,24,33
9,AA00240399,REENA ADIVASI,VIJAY ADIWASI,1963-01-01 00:00:00.000,Shivpuri,Badarwas,Jambada Bujurg,NaN,NaN,NaN,24,33

In [58]:
AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,GP,Village,Cast,SubCaste,SamagraID,SamagraFamilyID,eEKYC_Status,Profile_Status,eKYC_Date,Project_status,DOB,Gender,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,Insert_Date_Time,DePtID,SchemeID,Active,Remark
0,AA00004493,Tersi bai,NaN,1988-01-01 00:00:00.000,Umaria,Pali,Gijari,NaN,ST,Baiga,100560904,20133068,Yes,Active,2023-04-21 15:20:00.000,NaN,1988-01-01,Female,194269509179031456.000000,2020-08-19 17:29:49.403,NaN,24,33,NaN,NaN
1,AA00038674,SAJAN BAI,W/O: Bhanwar,1979-01-01 00:00:00.000,Dindori,Amarpur,RAMPURI,RAMPURI,ST,Baiga,100614458,20145994,Yes,Active,2023-04-13 15:55:00.000,NaN,1979-01-01,Female,0.000000,2020-08-19 17:29:49.403,NaN,24,33,NaN,NaN
2,AA00039668,BUNDI,FUL SINGH,1985-01-05 00:00:00.000,Dindori,Amarpur,RAMPURI,Rampuri,NaN,NaN,100611335,20144988,NaN,NaN,NaN,NaN,1989-01-01,Female,NaN,2020-08-19 17:29:49.403,NaN,24,33,NaN,NaN
3,AA00062254,Mango,Chota No Sirneme,1975-04-03 00:00:00.000,Ashoknagar,Ashoknagar,sadumra,bhonslegao,ST,Sahariya,100667821,20158538,Yes,Active,2023-04-21 15:20:00.000,NaN,1975-04-03,Female,287993394052219936.000000,2020-08-19 17:29:49.403,NaN,24,33,NaN,NaN
4,AA00216038,BHAGVATI,Tularam Adivasi,1985-01-01 00:00:00.000,Gwalior,Ghatigaon,UMMEDGARH,UMMEDGARH,ST,Sahariya,100653656,20138387,Yes,Active,2023-04-21 15:20:00.000,NaN,1985-01-01,Female,0.000000,2020-12-06 11:17:42.663,NaN,24,33,NaN,NaN
5,AA00224410,MUNNI,Ranveer Singh No Sirname,1976-01-01 00:00:00.000,Ashoknagar,Ashoknagar,SADUMARA,BHONSLEGAON,ST,Sahariya,100315152,20061739,Yes,Active,2023-04-21 15:20:00.000,NaN,1976-01-01,Female,556960043973309824.000000,2020-12-30 13:25:12.187,NaN,24,33,NaN,NaN
6,AA00224415,PARBATI,Pappu No Siranme,1988-01-01 00:00:00.000,Ashoknagar,Ashoknagar,SADUMARA,BHONSLEGAON,ST,Sahariya,100439551,20103048,Yes,Active,2023-04-21 15:20:00.000,NaN,1988-01-01,Female,245654937535116192.000000,2020-12-30 13:30:25.513,NaN,24,33,NaN,NaN
7,AA00232121,Rampi Bai,Mahipal Baiga,1989-01-01 00:00:00.000,Umaria,Pali,Ginjri,Ginjri,ST,Baiga,100561224,47748332,Yes,Active,2023-04-21 15:20:00.000,NaN,1989-01-01,Female,858644199876731136.000000,2021-02-25 05:47:46.407,NaN,24,33,NaN,NaN
8,AA00233877,SHANTI,Karan Adiwasi,1967-01-01 00:00:00.000,Gwalior,Dabra,KARRA,KARRA,ST,Sahariya,100613171,20145770,Yes,Active,2023-04-28 16:34:00.000,NaN,1967-01-01,Female,882770800328247680.000000,2021-03-31 09:13:39.880,NaN,24,33,NaN,NaN
9,AA00240399,REENA ADIVASI,VIJAY ADIWASI,1963-01-01 00:00:00.000,Shivpuri,Badarwas,jambadi bujurg,Jambada Bujurg,NaN,NaN,100196901,20049071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,33,NaN,NaN

In [59]:
columns_to_clean

['Beneficiary_Name',
 'Father/HusbandName',
 'District',
 'Block',
 'Village',
 'Cast']

In [61]:
selected_AahaarAnudan_df

,ApplicationID,Beneficiary_Name,Father/HusbandName,DateOFBirth,District,Block,Village,Cast,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,DePtID,SchemeID
1,A038674,SZN BI,BNWR,01/01/1979,DINDORI,AMRPUR,RMPURI,ST,0,19/08/2020,24,33
3,A06254,MNGO,COT NO SIRNIMI,03/04/1975,ASOKNGR,ASOKNGR,BONSLIGO,ST,287993394052219936,19/08/2020,24,33
4,A0216038,BGWTI,TULRM ADIWSI,01/01/1985,GWLIOR,GTIGON,UMIDGRH,ST,0,06/12/2020,24,33
5,A02410,MUNI,RNWIR SING NO SIRNMI,01/01/1976,ASOKNGR,ASOKNGR,BONSLIGON,ST,556960043973309824,30/12/2020,24,33
6,A02415,PRBTI,PPU NO SIRNMI,01/01/198,ASOKNGR,ASOKNGR,BONSLIGON,ST,245654937535116192,30/12/2020,24,33
7,A0232121,RMPI BI,MHIPL BIG,01/01/1989,UMRIA,PLI,GINZRI,ST,858644199876731136,25/02/2021,24,33
8,A02387,SNTI,KRN ADIWSI,01/01/1967,GWLIOR,DBR,KR,ST,882770800328247680,31/03/2021,24,33

In [64]:
import csv
from fuzzywuzzy import fuzz

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Sample source data CSV file path
source_csv_path = '../data/Tables-Sampledata/Ayusman.csv'

# Sample reference data CSV file path
reference_csv_path = '../data/Tables-Sampledata/AahaarAnudan.csv'

# Read data from CSV files
source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

In [67]:
source_data[5]

{'\ufeffahl_tin': '101237353',
 'ahl_hhid': '20293387',
 'name_ben': 'LAXMI CHAND REGAR',
 'father_name_secc': 'PANNA LAL REGAR',
 'mother_name_secc': 'PARA BAI REGAR',
 'dob_ben': '1976',
 'gender_ben': 'M',
 'district_code': '431',
 'village_code': '114381',
 'ward_code': 'NULL',
 'rural_urban': 'U',
 'pmrssm_id': 'PN6Z02QMT',
 'updateddate': '2019-01-27 20:38:00',
 'matched_Samagra': '3',
 'DePtID': '1126',
 'SchemeID': '81'}

In [68]:
reference_data[5]

{'\ufeffApplicationID': 'AA00224410',
 'Beneficiary_Name': 'MUNNI',
 'Father/HusbandName': 'Ranveer Singh No Sirname',
 'DateOFBirth': '1976-01-01 00:00:00.000',
 'District': 'Ashoknagar',
 'Block': 'Ashoknagar',
 'GP': 'SADUMARA',
 'Village': 'BHONSLEGAON',
 'Cast': 'ST',
 'SubCaste': 'Sahariya',
 'SamagraID': '100315152',
 'SamagraFamilyID': '20061739',
 'eEKYC_Status': 'Yes',
 'Profile_Status': 'Active',
 'eKYC_Date': '2023-04-21 15:20:00.000',
 'Project_status': 'NULL',
 'DOB': '1976-01-01',
 'Gender': 'Female',
 'RefKey_of_Beneficiaries': '556960043973309834',
 'Aadhaar_Anudaan_Registration_Date': '2020-12-30 13:25:12.187',
 'Insert_Date_Time': 'NULL',
 'DePtID': '24',
 'SchemeID': '33',
 'Active': 'NULL',
 'Remark': 'NULL'}

In [69]:
# Function to perform fuzzy matching
def fuzzy_match_records(source_record, reference_records, threshold=70):
    matches = []
    for ref_record in reference_records:
        name_similarity = fuzz.token_sort_ratio(source_record["name_ben"], ref_record["Beneficiary_Name"])
        if name_similarity >= threshold:
            matches.append((source_record, ref_record, name_similarity))
    return matches

# Perform fuzzy matching
matches = []
for source_record in source_data:
    matches.extend(fuzzy_match_records(source_record, reference_data))

# Print matched records
for match in matches:
    print("Source:", match[0])
    print("Reference:", match[1])
    print("Name Similarity:", match[2])
    print()

Source: {'\ufeffahl_tin': '101777519', 'ahl_hhid': '20426229', 'name_ben': 'Sanjaya Bai', 'father_name_secc': 'RANJEET BALMIK', 'mother_name_secc': '', 'dob_ben': '1988', 'gender_ben': 'F', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PANY03NLS', 'updateddate': '2019-03-02 06:44:00', 'matched_Samagra': '3', 'DePtID': '1126', 'SchemeID': '81'}
Reference: {'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 80

Source: {'\ufeffahl_tin': '100614458', 'ahl_hhid': '20145994', 'name_ben': 'Sahjan Bai', 'father_name_secc': 'BHAVAR LAL', 'mother_name_secc': '', 'dob_ben': '1979', 'gender_ben': 'F', 'district_code': '404', 'village_code': '111996', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'POFHRFPHY', 'updateddate': '2021-03-16 18:39:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference: {'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 95

Source: {'\ufeffahl_tin': '100000982', 'ahl_hhid': '20000184', 'name_ben': 'Shivani', 'father_name_secc': 'MOTI LAL LALTAPRASAD', 'mother_name_secc': 'GANGABAI YADAV', 'dob_ben': '2001', 'gender_ben': 'F', 'district_code': '409', 'village_code': '97900', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'P0LF5C9B9', 'updateddate': '2019-03-23 16:12:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference: {'\ufeffApplicationID': 'AA00233877', 'Beneficiary_Name': 'SHANTI', 'Father/HusbandName': 'Karan Adiwasi', 'DateOFBirth': '1967-01-01 00:00:00.000', 'District': 'Gwalior', 'Block': 'Dabra', 'GP': 'KARRA', 'Village': 'KARRA', 'Cast': 'ST', 'SubCaste': 'Sahariya', 'SamagraID': '100613171', 'SamagraFamilyID': '20145770', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-28 16:34:00.000', 'Project_status': 'NULL', 'DOB': '1967-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '882770800328247691', 'Aadhaar_Anudaan_Registration_Date': '2021-03-31 09:13:39.880', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 77

Source: {'\ufeffahl_tin': '101308798', 'ahl_hhid': '44801429', 'name_ben': 'Bhavna', 'father_name_secc': '', 'mother_name_secc': '', 'dob_ben': '2006', 'gender_ben': 'F', 'district_code': '431', 'village_code': '114381', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PLVM3NRHK', 'updateddate': '2019-01-27 17:41:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference: {'\ufeffApplicationID': 'AA00216038', 'Beneficiary_Name': 'BHAGVATI ', 'Father/HusbandName': 'Tularam Adivasi', 'DateOFBirth': '1985-01-01 00:00:00.000', 'District': 'Gwalior', 'Block': 'Ghatigaon', 'GP': 'UMMEDGARH', 'Village': 'UMMEDGARH', 'Cast': 'ST', 'SubCaste': 'Sahariya', 'SamagraID': '100653656', 'SamagraFamilyID': '20138387', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1985-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-12-06 11:17:42.663', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 71

Source: {'\ufeffahl_tin': '100611335', 'ahl_hhid': '20144988', 'name_ben': 'Bundi Bai', 'father_name_secc': '', 'mother_name_secc': '', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '404', 'village_code': '111996', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PC6PXZPZH', 'updateddate': '2021-03-16 17:18:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference: {'\ufeffApplicationID': 'AA00039668', 'Beneficiary_Name': 'BUNDI', 'Father/HusbandName': 'FUL SINGH', 'DateOFBirth': '1985-01-05 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'Rampuri', 'Cast': 'NULL', 'SubCaste': 'NULL', 'SamagraID': '100611335', 'SamagraFamilyID': '20144988', 'eEKYC_Status': 'NULL', 'Profile_Status': 'NULL', 'eKYC_Date': 'NULL', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': 'NULL', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 71

Source: {'\ufeffahl_tin': '109159635', 'ahl_hhid': '22255378', 'name_ben': 'SURTAYA BAI ', 'father_name_secc': 'MAANGILAL BHILALA', 'mother_name_secc': 'CHAMPA BAI BHILALA', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '431', 'village_code': '107857', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PNDCQKIS9', 'updateddate': '2019-04-11 16:42:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference: {'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 70

In [71]:
import csv
import pandas as pd
from fuzzywuzzy import fuzz

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Sample source data CSV file path
source_csv_path = '../data/Tables-Sampledata/Ayusman.csv'

# Sample reference data CSV file path
reference_csv_path = '../data/Tables-Sampledata/AahaarAnudan.csv'

# Read data from CSV files
source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

# Function to perform fuzzy matching
def fuzzy_match_records(source_record, reference_records, threshold=70):
    matches = []
    for ref_record in reference_records:
        name_similarity = fuzz.token_sort_ratio(source_record["name_ben"], ref_record["Beneficiary_Name"])
        if name_similarity >= threshold:
            matches.append({
                'BaseData': source_record,
                'ReferenceData': ref_record,
                'NameSimilarity': name_similarity
            })
    return matches

# Perform fuzzy matching
matches = []
for source_record in source_data:
    matches.extend(fuzzy_match_records(source_record, reference_data))

# Convert matched results to pandas DataFrame
matched_df = pd.DataFrame(matches)

# Save matched results to CSV
matched_df.to_csv('matched_results.csv', index=False)

# Print matched records
for index, match in matched_df.iterrows():
    print("Base Data:")
    print(match['BaseData'])
    print("Reference Data:")
    print(match['ReferenceData'])
    print("Name Similarity:", match['NameSimilarity'])
    print()

Base Data:
{'\ufeffahl_tin': '101777519', 'ahl_hhid': '20426229', 'name_ben': 'Sanjaya Bai', 'father_name_secc': 'RANJEET BALMIK', 'mother_name_secc': '', 'dob_ben': '1988', 'gender_ben': 'F', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PANY03NLS', 'updateddate': '2019-03-02 06:44:00', 'matched_Samagra': '3', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 80

Base Data:
{'\ufeffahl_tin': '100614458', 'ahl_hhid': '20145994', 'name_ben': 'Sahjan Bai', 'father_name_secc': 'BHAVAR LAL', 'mother_name_secc': '', 'dob_ben': '1979', 'gender_ben': 'F', 'district_code': '404', 'village_code': '111996', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'POFHRFPHY', 'updateddate': '2021-03-16 18:39:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 95

Base Data:
{'\ufeffahl_tin': '100000982', 'ahl_hhid': '20000184', 'name_ben': 'Shivani', 'father_name_secc': 'MOTI LAL LALTAPRASAD', 'mother_name_secc': 'GANGABAI YADAV', 'dob_ben': '2001', 'gender_ben': 'F', 'district_code': '409', 'village_code': '97900', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'P0LF5C9B9', 'updateddate': '2019-03-23 16:12:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00233877', 'Beneficiary_Name': 'SHANTI', 'Father/HusbandName': 'Karan Adiwasi', 'DateOFBirth': '1967-01-01 00:00:00.000', 'District': 'Gwalior', 'Block': 'Dabra', 'GP': 'KARRA', 'Village': 'KARRA', 'Cast': 'ST', 'SubCaste': 'Sahariya', 'SamagraID': '100613171', 'SamagraFamilyID': '20145770', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-28 16:34:00.000', 'Project_status': 'NULL', 'DOB': '1967-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '882770800328247691', 'Aadhaar_Anudaan_Registration_Date': '2021-03-31 09:13:39.880', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 77

Base Data:
{'\ufeffahl_tin': '101308798', 'ahl_hhid': '44801429', 'name_ben': 'Bhavna', 'father_name_secc': '', 'mother_name_secc': '', 'dob_ben': '2006', 'gender_ben': 'F', 'district_code': '431', 'village_code': '114381', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PLVM3NRHK', 'updateddate': '2019-01-27 17:41:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00216038', 'Beneficiary_Name': 'BHAGVATI ', 'Father/HusbandName': 'Tularam Adivasi', 'DateOFBirth': '1985-01-01 00:00:00.000', 'District': 'Gwalior', 'Block': 'Ghatigaon', 'GP': 'UMMEDGARH', 'Village': 'UMMEDGARH', 'Cast': 'ST', 'SubCaste': 'Sahariya', 'SamagraID': '100653656', 'SamagraFamilyID': '20138387', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1985-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-12-06 11:17:42.663', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 71

Base Data:
{'\ufeffahl_tin': '100611335', 'ahl_hhid': '20144988', 'name_ben': 'Bundi Bai', 'father_name_secc': '', 'mother_name_secc': '', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '404', 'village_code': '111996', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PC6PXZPZH', 'updateddate': '2021-03-16 17:18:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00039668', 'Beneficiary_Name': 'BUNDI', 'Father/HusbandName': 'FUL SINGH', 'DateOFBirth': '1985-01-05 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'Rampuri', 'Cast': 'NULL', 'SubCaste': 'NULL', 'SamagraID': '100611335', 'SamagraFamilyID': '20144988', 'eEKYC_Status': 'NULL', 'Profile_Status': 'NULL', 'eKYC_Date': 'NULL', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': 'NULL', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 71

Base Data:
{'\ufeffahl_tin': '109159635', 'ahl_hhid': '22255378', 'name_ben': 'SURTAYA BAI ', 'father_name_secc': 'MAANGILAL BHILALA', 'mother_name_secc': 'CHAMPA BAI BHILALA', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '431', 'village_code': '107857', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PNDCQKIS9', 'updateddate': '2019-04-11 16:42:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 70

## Ratcliff/Obershelp Pattern Recognition algorithm (‘SequenceMatcher’)

In [77]:
import csv
import pandas as pd
from difflib import SequenceMatcher

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Sample source data CSV file path
source_csv_path = '../data/Tables-Sampledata/Ayusman.csv'

# Sample reference data CSV file path
reference_csv_path = '../data/Tables-Sampledata/AahaarAnudan.csv'

# Read data from CSV files
source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

# Function to perform fuzzy matching using SequenceMatcher
def sequence_match_records(source_record, reference_records, threshold=0.6):
    matches = []
    for ref_record in reference_records:
        name_similarity = SequenceMatcher(None, source_record["name_ben"], ref_record["Beneficiary_Name"]).ratio()
        if name_similarity >= threshold:
            matches.append({
                'BaseData': source_record,
                'ReferenceData': ref_record,
                'NameSimilarity': name_similarity
            })
    return matches

# Perform fuzzy matching using SequenceMatcher
matches = []
for source_record in source_data:
    matches.extend(sequence_match_records(source_record, reference_data))

# Convert matched results to pandas DataFrame
matched_df = pd.DataFrame(matches)

# Save matched results to CSV
matched_df.to_csv('matched_results_sequence_matcher.csv', index=False)

# Print matched records
for index, match in matched_df.iterrows():
    print("Base Data:")
    print(match['BaseData'])
    print("Reference Data:")
    print(match['ReferenceData'])
    print("Name Similarity:", match['NameSimilarity'])
    print()

Base Data:
{'\ufeffahl_tin': '101479790', 'ahl_hhid': '20352037', 'name_ben': 'Ramkesh Bairwa', 'father_name_secc': 'BABU LAL', 'mother_name_secc': 'PRASADI BAI', 'dob_ben': '1985', 'gender_ben': 'M', 'district_code': '431', 'village_code': '107808', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PMQVEFY51', 'updateddate': '2019-02-27 17:32:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.6086956521739131

Base Data:
{'\ufeffahl_tin': '101613328', 'ahl_hhid': '20385136', 'name_ben': 'RAJU BAIRWA', 'father_name_secc': 'JAY RAM', 'mother_name_secc': '', 'dob_ben': '1978', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114381', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'P7U5PLOJ5', 'updateddate': '2019-02-22 12:59:00', 'matched_Samagra': '3', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.6

Base Data:
{'\ufeffahl_tin': '101450426', 'ahl_hhid': '20345228', 'name_ben': 'Mangi Lal', 'father_name_secc': 'BABU LAL', 'mother_name_secc': '', 'dob_ben': '1974', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PWP1YHE0A', 'updateddate': '2019-02-28 19:56:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00062254', 'Beneficiary_Name': 'Mango ', 'Father/HusbandName': 'Chota No Sirneme', 'DateOFBirth': '1975-04-03 00:00:00.000', 'District': 'Ashoknagar', 'Block': 'Ashoknagar', 'GP': 'sadumra', 'Village': 'bhonslegao', 'Cast': 'ST', 'SubCaste': 'Sahariya', 'SamagraID': '100667821', 'SamagraFamilyID': '20158538', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1975-04-03', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '287993394052219930', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.6666666666666666

Base Data:
{'\ufeffahl_tin': '101688802', 'ahl_hhid': '20403485', 'name_ben': 'Raj Balmik', 'father_name_secc': 'VISHNU BALMIKI', 'mother_name_secc': 'SUNITA BAI', 'dob_ben': '2007', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'P6ANS1DKX', 'updateddate': '2021-03-23 12:30:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.631578947368421

Base Data:
{'\ufeffahl_tin': '101770313', 'ahl_hhid': '20424585', 'name_ben': 'Ramdas Balmik', 'father_name_secc': 'MOHAN', 'mother_name_secc': '', 'dob_ben': '1972', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PV5ACOWSH', 'updateddate': '2019-03-02 07:36:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.6363636363636364

Base Data:
{'\ufeffahl_tin': '109159635', 'ahl_hhid': '22255378', 'name_ben': 'SURTAYA BAI ', 'father_name_secc': 'MAANGILAL BHILALA', 'mother_name_secc': 'CHAMPA BAI BHILALA', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '431', 'village_code': '107857', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PNDCQKIS9', 'updateddate': '2019-04-11 16:42:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.6666666666666666

## Levenshtein algorithm (‘FuzzyWuzzy’)

In [80]:
import csv
import pandas as pd
from fuzzywuzzy import fuzz

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Sample source data CSV file path
source_csv_path = '../data/Tables-Sampledata/Ayusman.csv'

# Sample reference data CSV file path
reference_csv_path = '../data/Tables-Sampledata/AahaarAnudan.csv'

# Read data from CSV files
source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

# Function to perform fuzzy matching using Levenshtein algorithm
def levenshtein_match_records(source_record, reference_records, threshold=60):
    matches = []
    for ref_record in reference_records:
        name_similarity = fuzz.ratio(source_record["name_ben"], ref_record["Beneficiary_Name"])
        if name_similarity >= threshold:
            matches.append({
                'BaseData': source_record,
                'ReferenceData': ref_record,
                'NameSimilarity': name_similarity
            })
    return matches

# Perform fuzzy matching using Levenshtein algorithm
matches = []
for source_record in source_data:
    matches.extend(levenshtein_match_records(source_record, reference_data))

# Convert matched results to pandas DataFrame
matched_df = pd.DataFrame(matches)

# Save matched results to CSV
matched_df.to_csv('matched_results_levenshtein.csv', index=False)

# Print matched records
for index, match in matched_df.iterrows():
    print("Base Data:")
    print(match['BaseData'])
    print("Reference Data:")
    print(match['ReferenceData'])
    print("Name Similarity:", match['NameSimilarity'])
    print()

Base Data:
{'\ufeffahl_tin': '101479790', 'ahl_hhid': '20352037', 'name_ben': 'Ramkesh Bairwa', 'father_name_secc': 'BABU LAL', 'mother_name_secc': 'PRASADI BAI', 'dob_ben': '1985', 'gender_ben': 'M', 'district_code': '431', 'village_code': '107808', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PMQVEFY51', 'updateddate': '2019-02-27 17:32:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 61

Base Data:
{'\ufeffahl_tin': '101613328', 'ahl_hhid': '20385136', 'name_ben': 'RAJU BAIRWA', 'father_name_secc': 'JAY RAM', 'mother_name_secc': '', 'dob_ben': '1978', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114381', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'P7U5PLOJ5', 'updateddate': '2019-02-22 12:59:00', 'matched_Samagra': '3', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 60

Base Data:
{'\ufeffahl_tin': '101450426', 'ahl_hhid': '20345228', 'name_ben': 'Mangi Lal', 'father_name_secc': 'BABU LAL', 'mother_name_secc': '', 'dob_ben': '1974', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PWP1YHE0A', 'updateddate': '2019-02-28 19:56:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00062254', 'Beneficiary_Name': 'Mango ', 'Father/HusbandName': 'Chota No Sirneme', 'DateOFBirth': '1975-04-03 00:00:00.000', 'District': 'Ashoknagar', 'Block': 'Ashoknagar', 'GP': 'sadumra', 'Village': 'bhonslegao', 'Cast': 'ST', 'SubCaste': 'Sahariya', 'SamagraID': '100667821', 'SamagraFamilyID': '20158538', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1975-04-03', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '287993394052219930', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 67

Base Data:
{'\ufeffahl_tin': '101688802', 'ahl_hhid': '20403485', 'name_ben': 'Raj Balmik', 'father_name_secc': 'VISHNU BALMIKI', 'mother_name_secc': 'SUNITA BAI', 'dob_ben': '2007', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'P6ANS1DKX', 'updateddate': '2021-03-23 12:30:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 63

Base Data:
{'\ufeffahl_tin': '101770313', 'ahl_hhid': '20424585', 'name_ben': 'Ramdas Balmik', 'father_name_secc': 'MOHAN', 'mother_name_secc': '', 'dob_ben': '1972', 'gender_ben': 'M', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PV5ACOWSH', 'updateddate': '2019-03-02 07:36:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 64

Base Data:
{'\ufeffahl_tin': '109159635', 'ahl_hhid': '22255378', 'name_ben': 'SURTAYA BAI ', 'father_name_secc': 'MAANGILAL BHILALA', 'mother_name_secc': 'CHAMPA BAI BHILALA', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '431', 'village_code': '107857', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PNDCQKIS9', 'updateddate': '2019-04-11 16:42:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 67

In [84]:
import csv
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Sample source data CSV file path
source_csv_path = '../data/Tables-Sampledata/Ayusman.csv'

# Sample reference data CSV file path
reference_csv_path = '../data/Tables-Sampledata/AahaarAnudan.csv'

# Read data from CSV files
source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

# Function to perform fuzzy matching using Jaccard similarity
def jaccard_match_records(source_record, reference_records, threshold=0.3):
    matches = []
    source_name_tokens = set(source_record["name_ben"].split())
    for ref_record in reference_records:
        ref_name_tokens = set(ref_record["Beneficiary_Name"].split())
        jaccard_similarity = len(source_name_tokens.intersection(ref_name_tokens)) / len(source_name_tokens.union(ref_name_tokens))
        if jaccard_similarity >= threshold:
            matches.append({
                'BaseData': source_record,
                'ReferenceData': ref_record,
                'NameSimilarity': jaccard_similarity
            })
    return matches

# Perform fuzzy matching using Jaccard similarity
matches = []
for source_record in source_data:
    matches.extend(jaccard_match_records(source_record, reference_data))

# Convert matched results to pandas DataFrame
matched_df = pd.DataFrame(matches)

# Save matched results to CSV
matched_df.to_csv('matched_results_jaccard.csv', index=False)

# Print matched records
for index, match in matched_df.iterrows():
    print("Base Data:")
    print(match['BaseData'])
    print("Reference Data:")
    print(match['ReferenceData'])
    print("Name Similarity:", match['NameSimilarity'])
    print()

Base Data:
{'\ufeffahl_tin': '101777519', 'ahl_hhid': '20426229', 'name_ben': 'Sanjaya Bai', 'father_name_secc': 'RANJEET BALMIK', 'mother_name_secc': '', 'dob_ben': '1988', 'gender_ben': 'F', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PANY03NLS', 'updateddate': '2019-03-02 06:44:00', 'matched_Samagra': '3', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.3333333333333333

Base Data:
{'\ufeffahl_tin': '100614458', 'ahl_hhid': '20145994', 'name_ben': 'Sahjan Bai', 'father_name_secc': 'BHAVAR LAL', 'mother_name_secc': '', 'dob_ben': '1979', 'gender_ben': 'F', 'district_code': '404', 'village_code': '111996', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'POFHRFPHY', 'updateddate': '2021-03-16 18:39:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.3333333333333333

Base Data:
{'\ufeffahl_tin': '100611335', 'ahl_hhid': '20144988', 'name_ben': 'Bundi Bai', 'father_name_secc': '', 'mother_name_secc': '', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '404', 'village_code': '111996', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PC6PXZPZH', 'updateddate': '2021-03-16 17:18:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.3333333333333333

Base Data:
{'\ufeffahl_tin': '101458420', 'ahl_hhid': '20347038', 'name_ben': 'Motya Bai', 'father_name_secc': 'GANESH RAM', 'mother_name_secc': '', 'dob_ben': '1953', 'gender_ben': 'F', 'district_code': '431', 'village_code': '107808', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'P8C5LMRB7', 'updateddate': '2019-02-28 08:33:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.3333333333333333

Base Data:
{'\ufeffahl_tin': '109159635', 'ahl_hhid': '22255378', 'name_ben': 'SURTAYA BAI ', 'father_name_secc': 'MAANGILAL BHILALA', 'mother_name_secc': 'CHAMPA BAI BHILALA', 'dob_ben': '1989', 'gender_ben': 'F', 'district_code': '431', 'village_code': '107857', 'ward_code': 'NULL', 'rural_urban': 'R', 'pmrssm_id': 'PNDCQKIS9', 'updateddate': '2019-04-11 16:42:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00038674', 'Beneficiary_Name': 'SAJAN BAI', 'Father/HusbandName': 'W/O: Bhanwar', 'DateOFBirth': '1979-01-01 00:00:00.000', 'District': 'Dindori', 'Block': 'Amarpur', 'GP': 'RAMPURI', 'Village': 'RAMPURI', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100614458', 'SamagraFamilyID': '20145994', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-13 15:55:00.000', 'Project_status': 'NULL', 'DOB': '1979-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '0', 'Aadhaar_Anudaan_Registration_Date': '2020-08-19 17:29:49.403', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.3333333333333333

Base Data:
{'\ufeffahl_tin': '101911867', 'ahl_hhid': '20458501', 'name_ben': 'Chandra Bai', 'father_name_secc': 'PYARE LAL', 'mother_name_secc': '', 'dob_ben': '1950', 'gender_ben': 'F', 'district_code': '431', 'village_code': '114392', 'ward_code': 'NULL', 'rural_urban': 'U', 'pmrssm_id': 'PMXFL5TB7', 'updateddate': '2019-03-31 05:18:00', 'matched_Samagra': '1', 'DePtID': '1126', 'SchemeID': '81'}
Reference Data:
{'\ufeffApplicationID': 'AA00232121', 'Beneficiary_Name': 'Rampi Bai', 'Father/HusbandName': 'Mahipal Baiga', 'DateOFBirth': '1989-01-01 00:00:00.000', 'District': 'Umaria', 'Block': 'Pali', 'GP': 'Ginjri ', 'Village': 'Ginjri ', 'Cast': 'ST', 'SubCaste': 'Baiga', 'SamagraID': '100561224', 'SamagraFamilyID': '47748332', 'eEKYC_Status': 'Yes', 'Profile_Status': 'Active', 'eKYC_Date': '2023-04-21 15:20:00.000', 'Project_status': 'NULL', 'DOB': '1989-01-01', 'Gender': 'Female', 'RefKey_of_Beneficiaries': '858644199876731179', 'Aadhaar_Anudaan_Registration_Date': '2021-02-25 05:47:46.407', 'Insert_Date_Time': 'NULL', 'DePtID': '24', 'SchemeID': '33', 'Active': 'NULL', 'Remark': 'NULL'}
Name Similarity: 0.3333333333333333

In [ ]:
# Master + Family combined
# Preprocessing
# run

In [8]:
import csv
import pandas as pd
from fuzzywuzzy import fuzz

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Sample source data CSV file path
source_csv_path = '../data/Tables-Sampledata/Family_Member.csv'

# Sample reference data CSV file path
reference_csv_path = '../research/ReferenceData.csv'

# Read data from CSV files
source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

# Function to perform fuzzy matching
def fuzzy_match_records(source_record, reference_records, threshold=70):
    matches = []
    for ref_record in reference_records:
        name_similarity = fuzz.token_sort_ratio(source_record["FullNameEn"], ref_record["FullNameEn"])
        if name_similarity >= threshold:
            matches.append({
                'BaseData': source_record,
                'ReferenceData': ref_record,
                'NameSimilarity': name_similarity
            })
    return matches

# Perform fuzzy matching
matches = []
for source_record in source_data:
    matches.extend(fuzzy_match_records(source_record, reference_data))

# Convert matched results to pandas DataFrame
matched_df = pd.DataFrame(matches)

# Save matched results to CSV
matched_df.to_csv('matched_results.csv', index=False)

# Print matched records
for index, match in matched_df.iterrows():
    print("Base Data:")
    print(match['BaseData'])
    print("Reference Data:")
    print(match['ReferenceData'])
    print("Name Similarity:", match['NameSimilarity'])
    print()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [44]:
Ayusman_df=pd.read_csv("Tables/Ayusman.csv",low_memory=False)

In [45]:
Ayusman_df.head(2)

,ahl_tin,ahl_hhid,name_ben,father_name_secc,mother_name_secc,dob_ben,gender_ben,district_code,village_code,ward_code,rural_urban,pmrssm_id,updateddate,matched_Samagra,DePtID,SchemeID
0,101468621,20349094,Yogesh Batham,NaN,NaN,2013,M,431,114381,NaN,U,PHQX0Y0ZU,2020-12-27 22:38:00,3,1126,81
1,101452057,20345657,Hari Shankar Suman,NaN,NaN,1992,M,431,114381,NaN,U,PE6M4SP87,2020-12-27 22:02:00,1,1126,81

In [46]:
Ayusman_df.columns

Index(['ahl_tin', 'ahl_hhid', 'name_ben', 'father_name_secc',
       'mother_name_secc', 'dob_ben', 'gender_ben', 'district_code',
       'village_code', 'ward_code', 'rural_urban', 'pmrssm_id', 'updateddate',
       'matched_Samagra', 'DePtID', 'SchemeID'],
      dtype='object')

In [48]:
Ayusman_df['name_ben'].unique()

array(['Yogesh Batham', 'Hari Shankar Suman', 'Kelash',
       'Hukum Chand Garg', 'Ranajit', 'LAXMI CHAND REGAR',
       'Ramchrat Bairwa', 'Ashok Balmik', 'Sorabh', 'Mukesh',
       'Ramkesh Bairwa', 'Durga Shankar Lodha', 'Vishal',
       'Nandkishor Batham', 'Pawan Prajapati', 'Sonu Balmik',
       'Chintu Regar', 'Hariom Suman', 'Kamal Kishor Chawda',
       'Vikash Balmik', 'Mahendra Bairwa', 'Rahul Mahour', 'Monu Raigar',
       'Mangilal Suman', 'Pinki', 'Tulaseeram Prajapati', 'Ravi Regar',
       'Yogesh Kumar Saini', 'Dinesh Batham', 'Kapil', 'DEVENDRA BAGHAL',
       'Prabhulal Berva', 'Ramesh Chand', 'JAYANT SAINI',
       'Bramhadev Jatav', 'Shyam Singh Rathor', 'Aasharam', 'Mamta',
       'Maya Devi Saini', 'Roshan Ansari', 'Najma', 'Vijay Prajapati',
       'Pawan', 'Kaadu', 'Brajmohan Regar', 'Priti Gurjar', 'Mamta Suman',
       'Sanjaya Bai', 'Shanti Bai Lodha', 'Neha Rajak', 'Brajmohan',
       'BHARAT REGAR', 'Mahesh Kumar Regar', 'Arti Regar', 'Jamila Saifi',
       'Ronak', 'Preeti Regar', 'Tufan Valmik', 'Jagdish Bairwa',
       'Amarlal', 'Saloni Sharma', 'Arun Khatik', 'RAJU BAIRWA',
       'MOHAN LAL BAIRWA', 'Sahjan Bai', 'Ishvar', 'Shivendra Chauhan',
       'Naresh Lodha', 'Poonam Balmeek', 'Sonu Batham', 'Vinod Lodha',
       'Dev Chand Bairwa', 'Kamla Bai Paal', 'Pankaj Batham',
       'Vinod Bairwa', 'Julee Yadav', 'Shivani', 'Nasib Khan',
       'Charat Balmik', 'Rahul Bairwa', 'Pradeep Bairwa', 'Bhavna',
       'Ashok Sharma', 'Hukam Chand Mahour', 'Ravi Prakash Mahaur',
       'Gaura Ahirwar', 'Puran Jatav', 'Pappu Jatav',
       'Kamlesh Kumar Singhal', 'Bhavanishankar Prajapati',
       'Dinesh Regar', 'Mohan Lal Rathor', 'Jagdish Prasad Mangal',
       'Jagdeesh Prasad Mangal', 'Bherulal Regar', 'Ramdayal Jatav',
       'Vishal Balmik', 'Laxmi Ahirwar', 'Mamta Jatav', 'Binti Bairwa',
       'Narsya', 'Ramprasad Valmik', 'MUKESH BATHAM', 'Kishan Bairwa',
       'Pooja Ahirwar', 'Devkinandan', 'Vijay', 'Rakesh Mahour',
       'Pradeep Valmik', 'Sitaram Batham', 'Mangi Lal', 'Joyti',
       'Chandu Bairwa', 'Ankit Batham', 'Bherulal Jatav', 'Priyanka',
       'Shreeram', 'Madroop Bairwa', 'Kapil Shivhare', 'Raj Balmik',
       'Prabhudayal Gupta', 'Dhannalal', 'Mahaveer Bairva', 'Parmanand',
       'Mukesh Regar', 'Jamuna Jatav', 'Arti Batham', 'Govind Batham',
       'Ballu Jatav', 'Ankitraj', 'Urmila Gupta', 'Pooja Batham',
       'Durga Shankar Regar', 'Cheetar Lal Regar', 'nafees khan',
       'Hariom', 'Ramgopal Shivshare', 'Mukesh Jatav',
       'Sita Ram Shivshare', 'Govriya Jatav', 'Komal Sharma',
       'Omprkash Jatav', 'Indrapal Singh Kushwah', 'Bindra Dhakad',
       'Chandrakla Dhakad', 'Deviram Jatav', 'Vishal Jatav',
       'Sandhya Ahirwar', 'Prakash Berva', 'Priyanka Regar',
       'Shishupal Jatav', 'Dilip Balmik', 'Maya Mangal', 'NITESH BAGHEL ',
       'Bharat Balmik', 'Rambharat Jatav', 'HARI OM', 'Kailash',
       'Durgashankar', 'Bundi Bai', 'Vikash', 'Ballu',
       'Satyam Singh Bhadoriya', 'Mahaveer Bairwa', 'Brajesh',
       'Ashok Kumar Saini', 'Vishal Kumar Prajapati', 'CHHOTU SUMAN',
       'Dharmendra Gehlod', 'Kailash Bhilala', 'Suman Balmik',
       'Bhuli Mahour', 'Ramprasad Mahour', 'Ashok Rajak', 'Bharti Mahour',
       'Rahul', 'Ramswaroop', 'Bheru Lal Mahour', 'Rajni', 'Pooja Regar',
       'Pinky', 'Aajit', 'Sudha Varma', 'Ashok', 'Ramdas Balmik',
       'Motya Bai', 'Arti Bairwa', 'Shambhulal Meena', 'ANIS ', 'Pappu',
       'Deepak Shivhare', 'Maneesha', 'SURTAYA BAI ', 'Deepika Batham',
       'Mamta Saini', 'Jyoti', 'Anil Balmik', 'Brajmohan Batham',
       'Shambhu', 'Amarsingh Jataw', 'Chandra Bai', 'Ramghadi Jatav',
       'Bankat Singh', 'Suraj Regar', 'Pooran Regar',
       'Manoj Kumar Kashyap', 'Rinku Batham', 'Sangeeta Regar',
       'Hemant Mahour', 'Ram Vilash', 'Knhaiyalal Jatav', 'Suneel Bairwa',
       'Hargovind Lodha', 'Teena Jatav', 'Priyanka Mangal'], dtype=object)

In [51]:
Cast_df=pd.read_csv("Tables/Cast.csv",low_memory=False)

In [52]:
Cast_df.head(2)

,C_Id,Request_Id,Samagra_ID,Reg_No,Certificate_issue,Name_H,Name_E,FName_H,FName_E,MName_H,MName_E,Category_E,Category_H,Caste_Code_in_State_List,Caste_Name_H,Caste_Code_in_Centre_List,Caste_Name_E,Migration_Case,CertUrl,Insert_Date,Cancel_Flag,Request_Member_Id,Verify_By,District_Name_E,Identified,DePtID,SchemeID,ByAPI,name_match
0,1,NaN,100000982,RS/449/0118/6154/2019,2019-10-25 13:14:00,शिवानी,SHIVANI,मोतीलाल,MOTILAL,गंंगा बाई,GANGA BAI,OBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hoshangabad,NaN,NaN,NaN,NaN,NaN
1,2994,NaN,101964554,RS/418/0106/2289/2021,2021-08-24 12:00:00,रोनक अंसारी,RONAK ANSARI,मोहम्‍मद आमीन,MOHAMMAD ANSARI,नजमा अंसारी,NAJMA ANSARI,OBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sheopur,11.000000,NaN,NaN,NaN,NaN

In [53]:
Cast_df['Name_E'].unique()

array(['SHIVANI', 'RONAK ANSARI', 'SHIVANI MEENA', 'NEHA ', 'TANSHKA ',
       'NEESHU LODHA ', 'MOHIT LODHA', 'MAHIMA LODHA', 'INDU HINONIYA',
       'MANEESH IRAJAPAT', 'VIKASH MEENA', 'MILAN MEENA', 'RACHNA LODHA ',
       'NIKHILSWARNKAR', 'YASMEEN RAHI', 'RIMPI  BAI ', 'BADAL BALMIK ',
       'RAMCHARAT BAIRWA', 'ANKITRAJ BALMIK', 'DEVRAJ BALMIK',
       'RAJU JATAV', 'MANOJ KUMAR KASHYAP ', 'DEEPAK JATAV ',
       'RAJNI BALMIK', 'NISHA JASUNA', 'KAPIL REGAR', 'SAVITA VALMIKI',
       'BARKHA', 'NILAM BALMIK', 'ANIKITA KUMARI', 'kartik bairwa',
       'NIKITA VALMIKI', 'DEVRAAJ VALMIKI', 'SURESH SEINGAR',
       'RAHUL REGAR', 'DIVYANCE MEENA'], dtype=object)

In [54]:
CM_KIssan_df=pd.read_csv("Tables/CM KIssan.csv",low_memory=False)

In [55]:
CM_KIssan_df.head(2)

,ApplicantName,SamagraId,RegNo,SchemName,SchemType,Amount,DateofBenefit
0,AMARLAL,101521986,MP262835324,CMKisan,Recurring,2000,15-05-2022
1,MUKESH JATAV,101792941,MP262848149,CMKisan,Recurring,2000,16-05-2022

In [58]:
CM_KIssan_df.shape

(2, 7)

In [56]:
CM_KIssan_df['ApplicantName'].unique()

array(['AMARLAL', 'MUKESH JATAV'], dtype=object)

In [59]:
Domicile_df=pd.read_csv("Tables/Domicile.csv",low_memory=False)

In [60]:
Domicile_df.head(2)

,D_Id,Request_Id,Samagra_ID,Certificate_No,Certificate_issue,Name,FName_H,District_Name_E,District_Name_H,CertUrl,Insert_Date,WName,Child_Name,Child_Age,Cancel_Flag,Request_Member_Id,Verify_By,Identified,DePtID,SchemeID
0,73256,NaN,101535322,RS/418/0110/10622/2019,05-12-2019 22:14,BARJMOHAN REGAR,CHATURBHUJ REGAR,NaN,श्योपुर,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,74506,NaN,101179490,RS/418/0110/4794/2019,08-07-2019 18:28,CHEETAR LAL REGAR,NENAK RAM REGAR,NaN,श्योपुर,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
Domicile_df['Name'].unique()

array(['BARJMOHAN REGAR', 'CHEETAR LAL REGAR', 'SANGEETA REGAR',
       'RAMSWARUP JATAV', 'KAPIL', 'भागवती', 'SUDHA REAGR',
       'अमर सिंह जाटव', 'पुष्पराज सिंह सिकरवार', 'नीरज अटल', 'भवेश अटल',
       'कुसुम अटल', 'शिशुपाल जाटव', 'कमलेश कुमार सिंघल', 'सुरेश सेंगर',
       'सुग्रीव गुर्जर', 'राजू जाटव', 'Shivani Yadav', 'राजीव सरल',
       'Rimpi Bai'], dtype=object)

In [62]:
Family_df=pd.read_csv("Tables/Family.csv",low_memory=False)

In [65]:
Family_df.head()

,100560904,district_id,Temporary_ID,village_ward_id,Gadna_Block_ID,Sub_GB_No,House_No,House_Sub_No,House_No_Section,House_Address,house_hold_number,npr_family_code,pin_code,member_count,head_family_member_id,category_id,Category_Code,st_ptg_id,is_sc_bb,is_sc_insanitory_works,is_vimukt,is_minority,religion_id,is_migrated,migration_reason_id,nominee_family_member_id,is_native_of_MP,year_since_mp_resident,is_BPL,BPL_Survey_No,BPL_Survey_Year,Toilet_Status,Is_Water_Available,House_Status,Property_tax_SNO,Water_tax_SNO,Nigam_License_No,Is_Tenant,is_locked,is_verified,is_deleted,insert_time,insert_by_user_id,import_phase,Varified_By,Varified_On,head_family_member_name,FPS_Id,is_move,is_updated,Is_Van_Adhikar,LandLess_Or_Merginal_Farmar,Priority_Group_Id,Institution_ID,member_count_claimed,Caste_old,Caste_ID,Is_BPL_Verified,Approve_Status,Caste
0,20000184,37,0.000000,97900,1.000000,NaN,189,A,NaN,NaN,133,133.000000,461001,3,100000979.000000,3,NaN,NaN,0.000000,0.000000,0,0,1,0,NaN,NaN,1,NaN,1,14/182,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,2012-11-02 12:06:00,0,1,48925.000000,2013-12-30 16:42:00,Motilal Yadav,53618.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,NaN,NaN
1,20002659,34,0.000000,121529,10.000000,0,664,0,0.000000,NaN,00A,1.000000,464661,13,100002458.000000,1,12.000000,NaN,0.000000,0.000000,0,0,1,1,NaN,100002458.000000,1,NaN,1,33,9.000000,0.000000,1.000000,0.000000,NaN,NaN,NaN,0.000000,1,1,0,2012-12-05 12:18:00,13,2,44252.000000,2013-08-30 04:16:00,Pramnarayan Ahirwar,55143.000000,NaN,1.000000,0.000000,NaN,16.000000,NaN,NaN,NaN,0,0.000000,NaN,NaN
2,20002694,23,0.000000,82484,234.000000,0,172,0,1.000000,NaN,NaN,NaN,455001,8,100002504.000000,1,4.000000,NaN,0.000000,0.000000,0,0,1,1,NaN,100002505.000000,1,NaN,0,NaN,0.000000,6.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,0,1,0,2013-01-04 13:43:00,1282,2,40696.000000,2013-09-11 15:40:00,Jorawar Singh Balai,50673.000000,NaN,1.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,0,0.000000,NaN,NaN
3,20002862,23,0.000000,82204,160.000000,0,5,0,0.000000,Vijaygar Murmya,NaN,NaN,455116,1,100002806.000000,2,8.000000,1.000000,NaN,NaN,0,0,1,1,NaN,100000000.000000,1,NaN,1,19,10.000000,6.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,0,1,0,2013-01-08 20:28:00,44815,2,44815.000000,2013-10-19 17:41:00,Rekha Bai,66923.000000,NaN,1.000000,0.000000,2.000000,2.000000,NaN,NaN,NaN,0,0.000000,NaN,NaN
4,20002907,23,0.000000,82205,161.000000,0,13,0,0.000000,Sunderpur,NaN,NaN,455116,2,100002994.000000,1,4.000000,NaN,0.000000,0.000000,0,0,1,1,NaN,100000000.000000,1,NaN,1,23,10.000000,6.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,0,1,0,2013-01-09 00:21:00,44815,0,44815.000000,2013-09-28 14:29:00,Phoolchand Gehlod,66923.000000,NaN,1.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN

In [64]:
Family_df.columns

Index(['100560904', 'district_id', 'Temporary_ID', 'village_ward_id',
       'Gadna_Block_ID', 'Sub_GB_No', 'House_No', 'House_Sub_No',
       'House_No_Section', 'House_Address', 'house_hold_number',
       'npr_family_code', 'pin_code', 'member_count', 'head_family_member_id',
       'category_id', 'Category_Code', 'st_ptg_id', 'is_sc_bb',
       'is_sc_insanitory_works', 'is_vimukt', 'is_minority', 'religion_id',
       'is_migrated', 'migration_reason_id', 'nominee_family_member_id',
       'is_native_of_MP', 'year_since_mp_resident', 'is_BPL', 'BPL_Survey_No',
       'BPL_Survey_Year', 'Toilet_Status', 'Is_Water_Available',
       'House_Status', 'Property_tax_SNO', 'Water_tax_SNO', 'Nigam_License_No',
       'Is_Tenant', 'is_locked', 'is_verified', 'is_deleted', 'insert_time',
       'insert_by_user_id', 'import_phase', 'Varified_By', 'Varified_On',
       'head_family_member_name', 'FPS_Id', 'is_move', 'is_updated',
       'Is_Van_Adhikar', 'LandLess_Or_Merginal_Farmar', 'Priority_Group_Id',
       'Institution_ID', 'member_count_claimed', 'Caste_old', 'Caste_ID',
       'Is_BPL_Verified', 'Approve_Status', 'Caste'],
      dtype='object')

In [67]:
Family_Member_df=pd.read_csv("Tables/Family_Member.csv",low_memory=False)

In [68]:
Family_Member_df.head(2)

,id,district_id,Temporary_ID,family_id,village_ward_id,Voter_List_Number,NPR_member_code,samagra_code,first_name,last_name,first_name_Hi,last_name_Hi,is_head,gender_id,dob,relation_id,marital_status_id,father_id,mother_id,spouse_id,father_name,mother_name,spouse_name,mobile_number,email_address,education_status_id,educational_institution_type_id,class_in_school,school_details,School_Type,DISE_Code,profession_id,is_disabled,annual_income,nirashrit_before_2007_nonBPL,Aadhaar_status_id,Aadhaar_Enrollment_No,is_updated,Verified_By,Verified_On,is_destitute,is_active,is_locked,is_Death,is_deleted,Approve_Status,Import_phase,insert_time,update_time,inserted_by_user_id,enc_aadhaar_id,Whats_Up_Mobile_No,category_id,lbverified,dormant,Member_Ekyc,Middle_Name,Middle_Name_HI,IS_suspect,FullNameEn,FullNameHi,caste
0,100686666,1,686666,30117241,107579,NaN,NaN,NaN,Barsha,Rajak,बर्शा,रजक,0,2,2001-01-01,4,2,0,141513241,141518229.000000,NaN,Geeta Dhobee,Ankesh,NaN,NaN,1.000000,1.000000,5.000000,govt jhundpura,3.000000,23020713603,0.000000,0,0.000000,NaN,NaN,NaN,1.000000,765.000000,2013-09-01 10:11:00,NaN,NaN,NaN,0,0,NaN,0,2013-01-29 15:02:00,NaN,4870,NaN,NaN,3,1,0,NaN,NaN,NaN,NaN,Barsha Rajak,बर्शा रजक,NaN
1,101094169,1,1094169,20257923,107874,NaN,NaN,NaN,Deleted-Gurnam,Singh Bairagi,गुरनाम,सिंह बैरागी,0,1,1948-01-01,0,2,0,0,NaN,Gumjar,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN,NaN,0.000000,0,200000.000000,NaN,NaN,NaN,1.000000,52296.000000,2013-10-28 17:19:00,NaN,1.000000,NaN,0,0,NaN,0,2013-02-01 20:25:00,NaN,1150,NaN,NaN,3,1,0,NaN,NaN,NaN,NaN,Deleted-Gurnam Singh Bairagi,गुरनाम सिंह बैरागी,NaN

In [69]:
Family_Member_df['first_name'].unique()

array(['Barsha', 'Deleted-Gurnam', 'Shambhoo Singh', 'SUGREEV', 'jamila',
       'Durga Shankar', 'Nathu Lal', 'AJIT', 'VIJAY', 'Kalavti Bai',
       'Manbhar Bai', 'Seema Bai', 'Banvari', 'Chhitar Lal', 'Mukesh',
       'Arti Bai', 'Ashok', 'Prkash', 'Devki Bai', 'Ram Singh',
       'Mahaveer', 'Kadu', 'SHIVANI', 'Ajay', 'Vicky', 'Banti', 'Anita',
       'Jitendra', 'RAJNI', 'Dheeraj', 'Ramesh', 'Dinesh', 'Ravi',
       'HANUMAN', 'Vishnu', 'Ram Kawri Bai', 'Laxmi Chand', 'MONU',
       'CHINTU', 'Priyanka', 'Sone', 'RAHUL', 'NITU', 'Saniya',
       'PARMANAND', 'Madhu', 'Layak Ram', 'Prabha', 'prateek', 'Punam',
       'Yogesh Kumar', 'Rinku', 'Pankaj', 'Bhavna', 'Sourabh',
       'Sambhu Lal', 'Mahendra', 'Chandu Bai', 'Bharat', 'Laxmi',
       'Suresh', 'Rajni Bai', 'Shivani', 'Mona', 'Murli', 'Manvar',
       'Uday', 'Aayush', 'Rahul', 'DEEPU', 'Bheru Lal', 'Mahesh', 'Puran',
       'Suraj', 'GOLU', 'MILAN', 'VIKAS', 'Purshottam', 'Ramsroop',
       'HEMLATA', 'MUNESH', 'shambhu dayal', 'Satynarayan', 'Naresh',
       'Nand Kishor', 'VISAL', 'AARTEE', 'RADHA', 'Suneel', 'Jyoti',
       'Devi Shankar', 'Aman', 'Koshalya', 'Asha', 'Ramdhara', 'Chandu',
       'Lkshmeee', 'Arti', 'Jugraj', 'PAWAN', 'Sugna', 'Mahaweer',
       'TULASEERAM', 'Vijay', 'Vishal', 'Gourav', 'Sujit', 'Kailash',
       'Pramod', 'Kapil', 'Yaspal', 'Ramcharan', 'Chhotu', 'Ram Vilas',
       'Mamta', 'GANESH', 'Pappu', 'Vikram', 'Kaushlya', 'VISHAL',
       'DARSHANT', 'Badam', 'Sena', 'Bajang  Lal', 'Shyama', 'Kali Bai',
       'Vimla', 'Rupchand', 'Savitri', 'Mahavir', 'HARIOM', 'Mangilal',
       'Manish', 'Hari Shankar', 'Braj Mohan', 'Kamal', 'Komal', 'Pinki',
       'Bhavani Shankar', 'Kiran', 'Raju', 'Manisha', 'Sunita Bai',
       'Kanha', 'Sonu', 'DHANRAJ', 'Ankit', 'Motya Bai', 'Shivane',
       'Shambhu Dayal', 'Mangi', 'Mithun', 'Sammati', 'Ramsing',
       'Satyanarayan', 'Lokesh', 'Heera Lal', 'Raaju', 'Seeta Ram',
       'Abhishek', 'Yogesh', 'Bajrang Lal', 'Uma Shankar', 'Mohan Lal',
       'Teena', 'Pradeep', 'Ramkesh', 'Pooran', 'RAMCHARAT', 'Kisana',
       'SAPNA', 'Barfha', 'Niro', 'Vinod', 'Hurmala', 'Sunita',
       'Shishupal', 'Radha Bai', 'Ramprashad', 'Payal', 'Jyati', 'Balloo',
       'KISMAT', 'POOJA', 'Vikash', 'Ankita', 'bhuli', 'Anil', 'HEMANT',
       'Koshallaya Bai', 'Amarlal', 'Tulsa', 'Maju Bai', 'Pavan', 'Nirma',
       'Chintu', 'Nanne', 'Jayda', 'Rais', 'Harioom', 'Tamanna',
       'Ramgopal', 'Surendra', 'Gulshan', 'Jagannath', 'Hateela',
       'Madhu Bai', 'Rameshchand', 'Brijmohan', 'Vandna', 'NITIN', 'NEHA',
       'TANEESHA', 'Sangeeta', 'Kelash', 'SUDHA', 'KAPIL', 'Neha',
       'Ghanshyam', 'Ram Siya', 'Aarati', 'Barham Dev', 'Pappu Laal',
       'Barshana', 'Ashokraj', 'Sachin', 'rinku', 'Aarti', 'Lakshmi',
       'Pooja', 'Puja', 'Anand', 'Sultan', 'Deepak', 'Archana',
       'Ramlakhan', 'Gajanand', 'DEEPAK', 'Nitesh', 'Devendra', 'Barjesh',
       'RAJU', 'VISHNU', 'MAHENDRA', 'NARESH', 'Neeshu', 'Heera Laal',
       'Bajrangi Bai', 'Kartar', 'Mohan Laal', 'Meena', 'Pradip',
       'Roshan', 'Chironji Laal', 'Rajesh Bai', 'Indrajeet', 'Ramkaur',
       'Chetna', 'Hargovind', 'SANJAY', 'chandan', 'Hina', 'satish',
       'Veeru', 'Seema', 'Mohan', 'Prahalad', 'Prakash', 'Parvati',
       'PISTA', 'raju', 'Pawan', 'Raj Karanta', 'Dhoanda', 'Sitaram',
       'Chatrulaal', 'Shambhoo', 'Manbhar', 'Bintosh', 'Shiv Charan',
       'Deepu', 'DEEPA', 'Aasha', 'Hukum Chand', 'ANEESH', 'Ankush',
       'Deekcha', 'Girraj', 'Girraji Bai', 'Kajal', 'Kanhaiya',
       'Prem Shankar', 'Ramfool', 'MOHIT', 'Mahima', 'Omprakash',
       'Govind', 'Rohit', 'Triveni', 'DEEPIKA', 'Anuradha', 'AARTI',
       'Gopee Bai', 'Shayam Babu', 'Rakesh', 'Nikhil', 'Tara', 'KUMKUM',
       'Bhrosibai', 'Ramghandi', 'OMPRAKASH', 'Reena', 'Chhoti',
       'Gobari Lal', 'Manbharbai', 'Nemi Chand', 'Shital', 'Guddi',
       'Visaal', 'Jagrati', 'Rukmani', 'Chailshi', 'Jagdeesh', 'Sunil',
       'Pinky', 'Vikarm', 'Sumitraa', 'JULY', 'Karan', 'ARUN', 'Pratigya',
       'SANI', 'Dakha', 'Sanjay', 'Mausmi', 'Tufan', 'Ballu', 'Mosham',
       'Tiju', 'PRADEEP', 'Govinda', 'Sapna', 'Raamji Laal', 'Kanchan',
       'NANDANI', 'shanti bai', 'Hariom', 'BHARTI', 'Amar Singh',
       'Vndana', 'ARTI', 'Sanjana', 'ummeed', 'ANKITA', 'Nawal Kishor',
       'DEVRAJ', 'trilok', 'Bherulaal', 'ANKITRAJ', 'Durgashankar',
       'hemraj', 'Priti', 'Durga Prsad', 'Omprkash', 'Ramkishan',
       'lokesh', 'RAJ', 'Anshu', 'Sumit', 'Devilal', 'Raamnarayan',
       'Madroop', 'Sanju Devi', 'Nirmal', 'Nandani', 'Jeet Raj',
       'Latoor Lal', 'Raghunandan', 'Aakanksha', 'Kamlesh Kumar',
       'Vandana', 'Santosh', 'Krishna', 'Kishan', 'Rajendra', 'Omnaresh',
       'Santara', 'Renu', 'Piyush', 'Parv', 'Gunjan', 'Rashmi', 'SALONI',
       'Avdesh', 'Neelam', 'GORAV', 'Uma', 'Pari', 'Madhuri', 'Nandni',
       'Prashant', 'Pappoo', 'Jagdish', 'Ashok Singh', 'Motilal',
       'Lakshman Singh', 'Ramkumar', 'harprit', 'amrit', 'Brjendra Singh',
       'Monika', 'Krashna Kumar', 'Ram Kalyaan', 'Poonam', 'Mohammad',
       'GOPAL', 'Shivmohan', 'Vismillah', 'Firoz Nabi', 'Laddu Lal',
       'Sundar', 'Shyam Singh', 'Stiy Narayan', 'Shamsheeda', 'Kanta',
       'Ajeet', 'Bhagvandas', 'Hukam Chand', 'Aakash', 'Ayushi',
       'Khushboo', 'Gulab Bai', 'Ranveer', 'Arun', 'Arjun', 'Jiyoti',
       'Gopal Krishna', 'Bhanoo', 'Megraaj', 'Badal', 'Bhagwan',
       'Hajari Lal', 'Kanya', 'Ahmad', 'Aashik', 'Anjani', 'Afsana',
       'Shantosh', 'Kaila Devi', 'Deendayal', 'Geeta Bai',
       'Brajmohan Singh', 'Kaanti', 'Taaraa Chand', 'suba',
       'Rambaran Singh', 'Raj Kumar', 'Jai Shri Ram', 'Ajay Kumar',
       'Saahida', 'Nilam', 'Deviram', 'Mamata', 'Badam Bai', 'Manju',
       'KUNAL', 'Sant Shing', 'Vishaka', 'Eshwar Devi', 'Mangtoo',
       'Rajee', 'Savitree', 'KUSUM', 'Rajnee', 'NIRAJ', 'BHAVESH',
       'Priya', 'Rajkumar', 'OM PRKASH', 'Devraj', 'Suman', 'Tapashya',
       'Savita', 'Nikita', 'Ramdas', 'Maya Devi', 'Jayant', 'Anju',
       'Durgesh', 'Anjali', 'Ramprasad', 'Lakhan', 'Mamta Bai', 'Sameer',
       'Lakhan Sing', 'Shivam Singh', 'Kamala Bai', 'Anjli', 'Ranjeet',
       'SANJAYA', 'barkha bai', 'BADAL', 'BHARAT', 'Charat', 'Aruna',
       'Bindiya', 'Innui', 'Ram', 'Gyarsi', 'Laxman', 'ARJUN', 'Kastur',
       'Munni', 'Manoj', 'PAYAL', 'Hirdesh', 'Gayatri', 'mohammad',
       'shahjahan', 'Ratan', 'Sayna B', 'Shabnam', 'AASHIF', 'Mangi Lal',
       'Ram Nathi', 'Narendra', 'Mina', 'Surendr Sing', 'Rafik',
       'Ram Swaroop', 'Yashmen', 'Gobari', 'Bhoori', 'Ganesh', 'Shakina',
       'Bharati', 'Sulochana', 'Naitik', 'Narvada', 'Amit', 'Ramvaran',
       'VIVEK', 'anis', 'NAND KISHOR', 'Kavita', 'Abhilasha',
       'ABHAY SINGH', 'ANANNYA', 'Rubina', 'Tasleem', 'Shakshi',
       'Ramdyal', 'REHAN', 'zoya', 'FARHAN', 'Gaytri', 'Hemant',
       'Sateesh', 'Krashna', 'Bhupendrasingh', 'Parwati', 'Bharat Singh',
       'Deepesh Singh', 'SHIVEDRA SINGH', 'Anurag Singh',
       'PUSHPRAAJ SINGH', 'Vishvbharti', 'Munni Devi', 'Foranti',
       'Badree Lal', 'Sudheer', 'Ramswrup', 'Subhas', 'Brajmohan',
       'Aneetabai', 'PRIYANSHEE', 'Sheela', 'Aneeta', 'Jagmohan',
       'Kamesh', 'Uusha', 'Aditya', 'Geeta', 'Puunam', 'Rukhsar',
       'Pirvesh', 'YAASMEEN', 'SAHEEN', 'Saroj', 'Hakim', 'Kasturi Devi',
       'KAJAL', 'Mamtaa', 'RITIK', 'Urvashi', 'Vishavnath Singh',
       'Ojashvani', 'Rajni', 'Ramshankar', 'Rameej', 'Shaalu',
       'Raam Bhrosi Laal', 'HARIPRASHAD', 'Lokendra', 'Prakasi Bai',
       'SACHIN', 'Raajveer', 'Shbham', 'Raadha', 'Harendra Kumar',
       'MADHU', 'Baali', 'SILPI', 'Dharmesh', 'Dushyant Kumar', 'Swapnil',
       'Vaibhav', 'Kadee', 'Avinash', 'Rambharat', 'Ratnesh', 'Kalpna',
       'Subham', 'Ishvar', 'Samiksha', 'Jumman', 'Jetendra',
       'Mohan Singh', 'Mithlesh', 'Yadvendr', 'Gulab', 'Ramdayal',
       'Habib', 'Shivangee', 'Akila', 'Chothmal', 'RISHITA', 'NAGMA',
       'GULPSHA', 'Rajvir', 'SHIMRAN', 'SHIVA', 'SAWAN', 'Narend',
       'Shatrudhan', 'Radhe Shayam', 'BANKAT', 'Chandrakumare', 'Kartik',
       'Jamuna', 'Ramend', 'BRAMAHA DEV', 'Rajendra Singh', 'Sirimati',
       'Devi', 'Niruj', 'Jagdesh Prshad', 'Devkinandan', 'Prabhu Dyal',
       'Alok', 'Maya', 'Bahaddur', 'Urmila', 'Jamna', 'Naras Ram',
       'Prdeep', 'Priynka', 'Joti', 'Dev Chnd', 'Sudhakar', 'Faizulla',
       'Sharifan', 'Shanti', 'Ramnivas', 'Mira', 'indrapal singh',
       'Rekha', 'Anguree', 'Shiv Singh', 'Raajkumari', 'vipin',
       'Laakhan Singh', 'MANOJ KUMAR', 'srikrashna', 'Durgashanker',
       'Meena Devee', 'Naththe Laal', 'S R S', 'Meera', 'nasib', 'Nafees',
       'Binda', 'Mithilesh', 'Ratiram', 'R K', 'Muraree', 'Dileep',
       'Sita', 'Dhanna Lal', 'Sayogita', 'Ramashanker', 'Shivnath Singh',
       'Dilbag', 'Shahina', 'Riyaj', 'Prabhu Lal', 'Sanjy', 'Shelesh',
       'Vijey Paal', 'Laxmi Devi', 'Rashidan', 'Mahesh Kumar',
       'Rampyaree', 'Tahir', 'Uamashanker', 'Shabana', 'Suneeta',
       'Reshma', 'JYOTI', 'Sonam', 'RAVINA', 'Jagran Singh',
       'Pawan Kumar', 'Diksha', 'Ram Narayan', 'YOGESH KUMAR',
       'AMIT KUMAR', 'Akash', 'Tulsi Ram', 'Suresh Chand', 'M L',
       'himanshu', 'Vidhya', 'prafull kumar', 'Prashant Kumar',
       'VAISHALI', 'PRIYANSHUL', 'Harsh Kumar', 'Asharam', 'Kanishka',
       'Varsh', 'ADITI', 'Ram Avatar', 'MEENAL', 'Ramkaran Singh',
       'Dilkhush', 'AFSARA', 'Raj', 'Uma Devi', 'PRAKASH SINGH', 'RONAK',
       'Gaurav', 'SANTOSH SINGH', 'Krashn', 'J S', 'Nisha', 'Padama',
       'AJAY', 'Shri Ram', 'KAMINI', 'Sarad', 'Kadiya', 'Kushal Singh',
       'Soorataya', 'najma', 'Revati', 'Varsha', 'Bindra', 'Rachna',
       'Manohari', 'Kamla Bai', 'Susila', 'Parvati Bai', 'Tersi', 'Rimpi',
       'Bundi', 'Sahjan', 'Bhagvati', 'Mango', 'Shivam', 'Sandhya',
       'Kamalkishor', 'Gaura', 'Dharmendra', 'Pallvi', 'divyansh',
       'Preeti'], dtype=object)

In [70]:
Family_Member_df['last_name'].unique()

array(['Rajak', 'Singh Bairagi', 'Gurjar', 'GURJAR', 'saify', 'Regar',
       'REGAR', 'Mali', 'Meena', 'Batham', 'MEENA', 'BATHAM', 'PARIHAR',
       'Baghel', 'Baghal', 'pal', 'Rawat', 'kare', 'Rathor', 'RATHOR',
       'batham', 'YADAV', 'Berwa', 'Jatav', 'Bairwa', 'Jatva',
       'Prajapati', 'PRAJAPATI', 'Suman', 'JATAV', 'Bai', 'Mahor',
       'Maahor', 'Maali', 'MAALI', 'Prjapati', 'Sharma', 'Bairva',
       'BAIRAWA', 'BANO', 'MAAHOR', 'mahor', 'Nath', 'Shivhare', nan,
       'Mohammad', 'Ahmad', 'Bano', 'Pankaj', 'regar', 'Lodha', 'LODHA',
       'lodha', 'Lodh', 'BAI', 'bairwa', 'Loudha', 'Berawa', 'LOUDHA',
       'BAATHAM', 'Swarnkar', 'Cannd', 'SWARNKAR', 'Prjapaty', 'Prajpati',
       'Pirjapati', 'Mangal', 'Balmike', 'Balmiki', 'Balmik', 'BALMIK',
       'BALMIKI', 'MAHOOR', 'Garg', 'BERWA', 'Mahoor', 'Logha',
       'prajapati', 'Jaageen', 'Jageen', 'Jangid', 'Singhal', 'balmik',
       'Gupta', 'SHARMA', 'Dixit', 'Jadoun', 'Trivedi', 'kaur', 'singh',
       'Rathod', 'RATHOD', 'Narvariya', 'Khan', 'Singh', 'Harijan',
       'Solanki', 'Das', 'Bhadoriya', 'Atal', 'ATAL', 'Bakmiki', 'Saini',
       'Baimiki', 'Tomar', 'Devi', 'Sing', 'siddiqui', 'begam', 'Kureshi',
       'KURESHI', 'Mohamad', 'Saxena', 'Ravat', 'Tiyagi', 'TYAGI', 'khan',
       'Tyagi', 'TOMAR', 'KHAN', 'Gupta Urf Jaynesh', 'Agarwal', 'Chohan',
       'Agrwal', 'Sikarwar', 'CHOHAN', 'SIKARWAR', 'Kashyab', 'Chodri',
       'SINGH', 'Bheem', 'Dube', 'Qureshi', 'QURESHI', 'Jayant',
       'GANGWAL', 'Kumar', 'KUMAR', 'Hans', 'HANS', 'Maanjhi', 'Parashar',
       'Yadav', 'Dubey', 'Ansari', 'Misra', 'Cand', 'Ahirwar', 'SING',
       'BAIRWA', 'Dahkad', 'Dhakad', 'Charolkar', 'Mesra', 'kushwah',
       'Hansh', 'kashyap', 'KASHYAP', 'rathod', 'Kaladn', 'Gangwal',
       'Jayaswal', 'JAYASWAL', 'Jain', 'Sahariya', 'Goud', 'GOUR', 'GOUD',
       'Ojha', 'Naroliya', 'sharma', 'GUPTA', 'Hrijan', 'GOYAL', 'Khatik',
       'Goyal', 'Suryavanshi', 'SURYAVANSHI', 'ANSARI', 'KHATIK',
       'Parmar', 'DHAKAD', 'Bhilala', 'bano', 'Kushawah', 'Kushwah',
       'Paal', 'Adibasi', 'Adivasi', 'Chawda', 'Malvi', 'meena'],
      dtype=object)

In [71]:
Family_Member_df['FullNameEn'].unique()

array(['Barsha Rajak', 'Deleted-Gurnam Singh Bairagi',
       'Shambhoo Singh Gurjar', 'SUGREEV GURJAR', 'jamila saify',
       'Durga Shankar Regar', 'Nathu Lal Regar', 'AJIT REGAR',
       'VIJAY REGAR', 'Kalavti Bai Mali', 'Manbhar Bai Mali',
       'Seema Bai Mali', 'Banvari Meena', 'Chhitar Lal Regar',
       'Mukesh Meena', 'Arti Bai Meena', 'Ashok Meena', 'Prkash Mali',
       'Devki Bai Meena', 'Ram Singh Meena', 'Mahaveer Meena',
       'Kadu Batham', 'SHIVANI MEENA', 'Ajay Batham', 'Vicky Batham',
       'Banti Batham', 'Anita Batham', 'Jitendra Meena', 'RAJNI BATHAM',
       'Dheeraj Batham', 'Ramesh Regar', 'Dinesh Regar', 'Ravi Regar',
       'HANUMAN MEENA', 'Vishnu Regar', 'Ram Kawri Bai Regar',
       'Laxmi Chand Regar', 'Mukesh Regar', 'MONU REGAR', 'CHINTU REGAR',
       'Priyanka Regar', 'Dinesh Batham', 'Sone Batham', 'RAHUL BATHAM',
       'NITU PARIHAR', 'Saniya Batham', 'PARMANAND REGAR', 'Madhu Regar',
       'Layak Ram Baghel', 'Prabha Baghal', 'prateek pal', 'Punam Rawat',
       'Yogesh Kumar Regar', 'Rinku Batham', 'Pankaj Batham',
       'Bhavna Batham', 'Mukesh Batham', 'Sourabh Batham',
       'Sambhu Lal Meena', 'Mahendra Regar', 'Chandu Bai Regar',
       'Bharat Regar', 'Laxmi Regar', 'Suresh Regar', 'Rajni Bai Regar',
       'Shivani Regar', 'Mona Regar', 'Murli Regar', 'Manvar Regar',
       'Uday Regar', 'Rinku Regar', 'Aayush Regar', 'Rahul Regar',
       'DEEPU MEENA', 'RAJNI kare', 'Bheru Lal Regar', 'Mahesh Regar',
       'Puran Regar', 'Suraj Regar', 'GOLU MEENA', 'MILAN MEENA',
       'VIKAS MEENA', 'Purshottam Rathor', 'Ramsroop Meena',
       'HEMLATA RATHOR', 'MUNESH MEENA', 'shambhu dayal batham',
       'Satynarayan Meena', 'Naresh Meena', 'Nand Kishor Batham',
       'VISAL RATHOR', 'AARTEE RATHOR', 'RADHA YADAV', 'Suneel Berwa',
       'Jyoti Rajak', 'Devi Shankar Jatav', 'Ashok Rajak', 'Aman Rajak',
       'Koshalya Jatav', 'Asha Jatav', 'Ramdhara Jatav', 'Chandu Bairwa',
       'Lkshmeee Jatva', 'Dinesh Jatav', 'Arti Jatav', 'Jugraj Prajapati',
       'PAWAN PRAJAPATI', 'Sugna Jatav', 'Mahaweer Bairwa',
       'TULASEERAM PRAJAPATI', 'Vijay Prajapati', 'Vishal Prajapati',
       'Gourav Prajapati', 'Sujit Prajapati', 'Kailash Prajapati',
       'Pramod Prajapati', 'Kapil Prajapati', 'Yaspal Prajapati',
       'Ramcharan Prajapati', 'Chhotu Suman', 'Ram Vilas Suman',
       'Mamta Suman', 'Vishal Suman', 'GANESH JATAV', 'Pappu Jatav',
       'Vikram Jatav', 'Kaushlya Jatav', 'VISHAL JATAV', 'Banvari Jatav',
       'Mahaveer Jatav', 'DARSHANT JATAV', 'Badam Bai', 'Sena Jatav',
       'Bajang  Lal Jatav', 'Shyama Jatav', 'Kali Bai Mali',
       'Vishnu Prajapati', 'Vimla Suman', 'Rupchand Mahor', 'Ravi Mahor',
       'Savitri Maahor', 'Mahavir Maali', 'HARIOM MAALI',
       'Mukesh Prjapati', 'RAHUL MAALI', 'Mangilal Jatav',
       'Manish Prajapati', 'Hari Shankar Suman', 'Braj Mohan Batham',
       'Kadu Jatav', 'Kamal Jatav', 'Komal Sharma', 'Pinki Batham',
       'Bhavani Shankar Prajapati', 'Kiran Batham', 'Mamta Batham',
       'Raju Batham', 'Manisha Batham', 'Sunita Bai Batham',
       'Kanha Batham', 'Sonu Batham', 'DHANRAJ JATAV', 'Ankit Batham',
       'Motya Bai Berwa', 'Pappu Berwa', 'Shivane Jatav',
       'Shambhu Dayal Maali', 'Mangi Bai', 'Mithun Batham',
       'Sammati Maali', 'Ramsing Jatav', 'Dinesh Berwa',
       'Satyanarayan Maali', 'Lokesh Jatav', 'Heera Lal Batham',
       'Raaju Maali', 'Seeta Ram Batham', 'Abhishek Maali',
       'Yogesh Batham', 'Bajrang Lal Batham', 'Uma Shankar Batham',
       'Mohan Lal Bairwa', 'Teena Bairwa', 'Pradeep Bairva',
       'Ramkesh Bairwa', 'Pooran Jatav', 'RAMCHARAT BAIRAWA',
       'Kisana Jatav', 'SAPNA BANO', 'Purshottam Jatav', 'Barfha Bai',
       'Niro Jatav', 'Vinod Jatav', 'Hurmala Bai', 'Sunita Jatav',
       'Shishupal Jatav', 'Radha Bai Batham', 'Mahaweer Batham',
       'Arti Batham', 'Ramprashad Maahor', 'Payal Jatav', 'Ashok Batham',
       'Jyati Batham', 'Balloo Jatav', 'KISMAT JATAV', 'Shivani Jatav',
       'POOJA MAAHOR', 'Vikash Jatav', 'Ankita Jatav', 'bhuli mahor',
       'Anil Jatav', 'Rahul Jatav', 'HEMANT MAAHOR',
       'Koshallaya Bai Batham', 'Amarlal Nath', 'Tulsa Bai',
       'Maju Bai Batham', 'RAHUL MAAHOR', 'Jitendra Shivhare',
       'Pavan Batham', 'Nirma Nath', 'Chintu Batham', 'Nanne',
       'Jayda Mohammad', 'Rais Ahmad', 'Harioom Shivhare', 'Tamanna Bano',
       'Ramgopal Shivhare', 'Surendra Shivhare', 'Gulshan Bano',
       'Jagannath Batham', 'Hateela Batham', 'Madhu Bai Batham',
       'Rameshchand Regar', 'Brijmohan Regar', 'Vandna Batham',
       'NITIN BATHAM', 'NEHA BATHAM', 'TANEESHA BATHAM', 'Sangeeta Regar',
       'Kelash Batham', 'SUDHA REGAR', 'KAPIL REGAR', 'Neha Pankaj',
       'Ghanshyam Jatav', 'Ram Siya Bai', 'Aarati Bai',
       'Barham Dev Jatav', 'Pappu Laal Regar', 'Barshana Bai',
       'Ashok Regar', 'Banti Regar', 'Ashokraj Jatav', 'Mamta Bai',
       'Sachin Jatav', 'rinku regar', 'Aarti Regar', 'Lakshmi Bai',
       'Pooja Regar', 'Puja Bai', 'Anand Regar', 'Sultan Jatav',
       'Pradeep Lodha', 'Deepak Regar', 'Archana Lodha',
       'Ramlakhan Jatav', 'Gajanand Jatav', 'Banti Jatav', 'DEEPAK JATAV',
       'Nitesh Baghel', 'Devendra Baghal', 'Barjesh Jatav', 'RAJU JATAV',
       'VISHNU JATAV', 'MAHENDRA JATAV', 'NARESH LODHA', 'Neeshu Lodha',
       'Heera Laal Rathor', 'Bajrangi Bai Rathor', 'Kartar Jatav',
       'Mohan Laal Rathor', 'Meena Rathor', 'Mona Jatav', 'Pradip Jatav',
       'Roshan Jatav', 'Chironji Laal Shivhare', 'Rajesh Bai Shivhare',
       'Indrajeet Jatav', 'Ramkaur Jatav', 'Chetna Shivhare',
       'Hargovind Lodha', 'Raju Jatav', 'SANJAY JATAV', 'Vishal Jatav',
       'chandan batham', 'Dinesh Lodha', 'Hina Bai', 'satish lodha',
       'Veeru Batham', 'Seema Lodh', 'GOLU BATHAM', 'Mohan Batham',
       'Prahalad Jatav', 'Prakash Jatav', 'Parvati Bai', 'PISTA BAI',
       'raju bairwa', 'Pawan Suman', 'Raj Karanta Bai', 'Dhoanda Bai',
       'Sitaram Shivhare', 'Chatrulaal Lodha', 'Shambhoo Berwa',
       'Manbhar Bai', 'Bintosh Bai', 'Shiv Charan Loudha',
       'Deepu Shivhare', 'DEEPA LODHA', 'Naresh Jatav', 'Kapil Shivhare',
       'Mahaveer Lodha', 'Aasha Lodha', 'Hukum Chand Mahor',
       'ANEESH LODHA', 'Ankush Lodha', 'Deekcha Lodha', 'Girraj Berawa',
       'Pappu Laal Mahor', 'Girraji Bai Mahor', 'Dinesh Mahor',
       'Kajal Mahor', 'Kanhaiya Jatav', 'Vijay Mahor', 'Vinod Loudha',
       'Mahendra Jatav', 'Prem Shankar Jatav', 'Ramfool Batham',
       'MOHIT LOUDHA', 'Jyoti Batham', 'Mahima Loudha', 'Omprakash Jatav',
       'Govind Batham', 'Rohit Loudha', 'POOJA BATHAM', 'Triveni Loudha',
       'DEEPIKA BATHAM', 'Anuradha Bai', 'AARTI BAATHAM',
       'Gopee Bai Mahor', 'Shayam Babu Swarnkar', 'Rakesh Swarnkar',
       'Nikhil Swarnkar', 'Tara Cannd', 'KUMKUM SWARNKAR',
       'Bhrosibai Prjapaty', 'Ramghandi Bai', 'OMPRAKASH JATAV',
       'Laxmi Prajpati', 'Reena Pirjapati', 'Chhoti Prjapati',
       'Gobari Lal Jatav', 'Manbharbai Prjapati', 'Nemi Chand Mangal',
       'Shital Cannd', 'Guddi Bai', 'Visaal Prjapati', 'Jagrati Mangal',
       'Raju Balmike', 'Rukmani Bai', 'Chailshi Mangal', 'Sunita Bai',
       'Jagdeesh Mangal', 'Sunil Balmiki', 'Pinky Bai', 'Lakshmi Balmiki',
       'Lokesh Mangal', 'Vikarm Jatav', 'Sumitraa Balmiki',
       'Ashok Balmik', 'Asha Bai', 'JULY YADAV', 'Roshan Balmik',
       'Karan Balmik', 'ARUN BALMIK', 'Pratigya Balmiki', 'SANI BALMIK',
       'Dakha Bai', 'Sanjay Balmik', 'Mausmi Bai', 'Tufan Balmiki',
       'Ballu Berwa', 'Mosham Bai Balmik', 'Ajay Balmik', 'Tiju Balmiki',
       'PRADEEP BALMIKI', 'Govinda Balmik', 'Raju Balmiki', 'Payal Bai',
       'Jagdeesh Berwa', 'Sapna Bai', 'Raamji Laal Lodha', 'Kanchan Bai',
       'NANDANI MAHOOR', 'Sonu Berwa', 'Hari Shankar Garg',
       'shanti bai lodha', 'Hariom Balmiki', 'BHARTI MAHOOR',
       'DHANRAJ BERWA', 'Amar Singh Lodha', 'Vndana Mahoor', 'ARTI BERWA',
       'Sanjana Mahoor', 'ummeed lodha', 'ANKITA BALMIKI',
       'Nawal Kishor Lodha', 'DEVRAJ BALMIKI', 'trilok lodha',
       'Bherulaal Mahor', 'ANKITRAJ BALMIKI', 'RAHUL BALMIK',
       'Durgashankar Lodha', 'Mahesh Garg', 'hemraj lodha',
       'Kajal Balmik', 'Priti Gurjar', 'Rakesh Mahor',
       'Durga Prsad Logha', 'Omprkash Mahor', 'Rohit Balmik',
       'Ramkishan Suman', 'Rinku Lodha', 'Ajay Suman', 'Sanjana Bai',
       'lokesh prajapati', 'RAJ BALMIKI', 'Deepak Lodha',
       'Priyanka Balmiki', 'Anshu Lodha', 'Sumit Balmiki',
       'Devilal Loudha', 'Raamnarayan Jaageen', 'Madroop Bairwa',
       'Sonu Balmik', 'Girraj Jageen', 'Sanju Devi Lodha',
       'Devendra Jageen', 'Nirmal Loudha', 'Yogesh Jageen',
       'Sunil Loudha', 'Nandani Bai', 'Jeet Raj Bairwa',
       'Latoor Lal Jangid', 'Hukum Chand Singhal', 'Seema Singhal',
       'Vinod Bairwa', 'Raghunandan Jangid', 'Aakanksha Bai',
       'Kamlesh Kumar Singhal', 'Pooja Singhal', 'Vandana balmik',
       'Santosh Jangid', 'Krishna Jangid', 'Kishan Bairwa',
       'Rajendra Bairwa', 'Omnaresh Jatav', 'Santara Bai', 'Renu Gupta',
       'Ashok Bairwa', 'Piyush Jatav', 'Parv Gupta', 'Gunjan Gupta',
       'Rashmi Jatav', 'SALONI SHARMA', 'Avdesh Dixit', 'Neelam Dixit',
       'GORAV SHARMA', 'Uma Dixit', 'Pari Sharma', 'Madhuri Mahor',
       'Nandni Sharma', 'Prashant Sharma', 'Pappoo Balmiki',
       'Jagdish Balmik', 'Ashok Singh Jadoun', 'Motilal Bairwa',
       'Lakshman Singh Jadoun', 'Ramkumar Trivedi', 'Aman Balmiki',
       'harprit kaur', 'Komal Balmiki', 'amrit singh',
       'Brjendra Singh Rathod', 'Monika Balmiki', 'RAHUL RATHOD',
       'Krashna Kumar Narvariya', 'Ram Kalyaan Bairwa', 'Poonam Rathod',
       'Mohammad Khan', 'GOPAL RATHOD', 'Shivmohan Narvariya',
       'Vismillah Khan', 'Reena Singh', 'Firoz Nabi Khan',
       'Laddu Lal Harijan', 'Sundar Bai', 'Shyam Singh Rathod',
       'Stiy Narayan Garg', 'Shamsheeda Khan', 'Kanta Sharma',
       'Ajeet Balmik', 'Piyush Rathod', 'Bhagvandas Balmiki',
       'Hukam Chand Garg', 'Aakash Balmik', 'Vinod Balmiki',
       'Mahendra Balmik', 'Ayushi Rathod', 'Khushboo Balmiki',
       'Vikash Balmik', 'Gulab Bai Solanki', 'Ranveer Balmiki',
       'Arun Balmik', 'Arjun Balmiki', 'Jiyoti Solanki',
       'Gopal Krishna Sharma', 'Krishna Sharma', 'Bhanoo Balmiki',
       'Megraaj Solanki', 'Badal Balmiki', 'Monika Sharma', 'Bhagwan Das',
       'Aman Solanki', 'Kajal Bai', 'Shivani Bai', 'Hajari Lal Balmik',
       'Kanya Bai', 'Ahmad Khan', 'Aashik Balmik', 'Anjani Bai',
       'Afsana Khan', 'Meena Trivedi', 'Shantosh Sharma',
       'Kaila Devi Mahor', 'Deendayal Gupta', 'Geeta Bai Gupta',
       'Brajmohan Singh Solanki', 'Kaanti Bai', 'Taaraa Chand Garg',
       'Vandna Rathod', 'suba singh', 'Rambaran Singh Bhadoriya',
       'Raj Kumar Sharma', 'Jai Shri Ram Mahor', 'Ajay Kumar Singh',
       'Saahida Khan', 'Nilam Balmiki', 'Deviram Bairwa', 'Ramesh Jatav',
       'Mamata Balmiki', 'Badam Bai Jatav', 'Aashik Jatav', 'Manju Berwa',
       'KUNAL BALMIKI', 'Sant Shing Atal', 'Vishaka Jatav',
       'Eshwar Devi Atal', 'Mangtoo Balmiki', 'Rajee Suman',
       'Savitree Bai', 'Seema Atal', 'KUSUM ATAL', 'Rajnee Balmiki',
       'NIRAJ ATAL', 'BHAVESH ATAL', 'Priya Bakmiki', 'Kelash Berwa',
       'Laxmi Berwa', 'Rajkumar Berwa', 'POOJA BERWA', 'OM PRKASH BERWA',
       'Devraj Balmik', 'Suman Bai', 'Tapashya Balmik', 'Sunil Balmik',
       'Savita Balmik', 'Nikita Balmik', 'Ashok Saini', 'Ankita Balmik',
       'Ramdas Balmiki', 'Maya Devi Saini', 'Yogesh Saini',
       'Manju Baimiki', 'Mamta Saini', 'Jayant Saini', 'Anju Bai',
       'Durgesh Saini', 'Anjali Bai', 'Kali Bai Balmik',
       'Ramprasad Balmik', 'Govind Tomar', 'Lakhan Balmik',
       'Mamta Bai Balmik', 'Sameer Balmik', 'Rahul Balmik',
       'Lakhan Sing Bhadoriya', 'Kiran Bai', 'Shivam Singh Bhadoriya',
       'Kamala Bai Balmik', 'Anjli Bhadoriya', 'Santosh Balmiki',
       'Ranjeet Balmik', 'SANJAYA BAI', 'barkha bai balmik',
       'BADAL BALMIKI', 'BHARAT BALMIK', 'Charat Balmik', 'Aruna Balmik',
       'Bindiya Bai', 'Suman Balmik', 'Neha Bai', 'Omprakash Balmik',
       'Pooja', 'Innui', 'Ram Balmik', 'Gyarsi Bai', 'Laxman Balmik',
       'ARJUN BALMIK', 'Kastur Singh', 'Munni Devi', 'Manoj Sing',
       'PAYAL BALMIK', 'Hirdesh Sing', 'Rahul Sing', 'Gayatri Bai',
       'mohammad siddiqui', 'Pawan Balmik', 'shahjahan begam',
       'Ratan Balmik', 'Sayna B Kureshi', 'Shabnam Kureshi',
       'AASHIF KURESHI', 'Mangi Lal Suman', 'Ram Nathi Bai',
       'Narendra Balmik', 'Gajanand Balmik', 'Mina', 'Surendr Sing Tomar',
       'Suresh Balmik', 'Rafik Mohamad', 'Ram Swaroop Jatav',
       'Yashmen Mohamad', 'Gobari Bai', 'Bhoori Bai', 'Ganesh Jatav',
       'Hariom Jatav', 'Shakina Jatav', 'Mukesh Jatav', 'Bharati Jatav',
       'Sulochana Bai', 'Poonam Baimiki', 'Naitik Balmiki',
       'Pramod Balmiki', 'Savita Saxena', 'Narvada Ravat', 'Anil Balmiki',
       'Amit Saxena', 'Sumit Saxena', 'Anita Balmik', 'Ramvaran Tiyagi',
       'VIVEK TYAGI', 'anis khan', 'NAND KISHOR SHARMA', 'Kavita Balmiki',
       'Poonam Tomar', 'Abhilasha Tyagi', 'ABHAY SINGH TOMAR',
       'Pankaj Sharma', 'ANANNYA SHARMA', 'Rubina Khan', 'Tasleem Khan',
       'Shakshi Tomar', 'Ramdyal Jatav', 'Koshalya Bai', 'REHAN KHAN',
       'Hari Shankar Solanki', 'zoya khan', 'Sonu Jatav', 'FARHAN KHAN',
       'Gaytri Solanki', 'Hemant Solanki', 'Sateesh Solanki',
       'Krashna Gupta Urf Jaynesh', 'Rajendra Jatav', 'Rajendra Agarwal',
       'Bhupendrasingh Chohan', 'Parwati Agrwal', 'Bharat Singh Sikarwar',
       'Deepesh Singh Chohan', 'SHIVEDRA SINGH CHOHAN',
       'Anurag Singh Sikarwar', 'PUSHPRAAJ SINGH SIKARWAR',
       'Vishvbharti Sikarwar', 'Munni Devi Sharma', 'Foranti Bai',
       'Badree Lal Jatav', 'Sudheer Kashyab', 'Yogesh Kashyab',
       'Ramswrup Jatav', 'Subhas Chodri', 'Brajmohan Jatav',
       'Aneetabai Singh', 'Naitik Rathod', 'Rahul Singh',
       'PRIYANSHEE SINGH', 'Sheela Sharma', 'Ashok Sharma',
       'Naresh Sharma', 'Aneeta Sharma', 'Jagmohan Bheem', 'Kamesh Bheem',
       'Uusha Dube', 'Aditya Bheem', 'Geeta Bai', 'Puunam Dube',
       'Rukhsar Qureshi', 'Pirvesh Dube', 'YAASMEEN QURESHI',
       'Pooja Dube', 'SAHEEN QURESHI', 'Rahul Jayant', 'Saroj Tomar',
       'Hakim Singh', 'Rohit Jayant', 'Kasturi Devi Singh',
       'KAJAL GANGWAL', 'Mamtaa Singh', 'RITIK GANGWAL', 'Urvashi Singh',
       'Laxmi Bai', 'Vishavnath Singh Tomar', 'Ojashvani Singh',
       'Rajni Tomar', 'Ramshankar Tomar', 'Neelam Singh', 'Rameej Khan',
       'Shaalu Khan', 'Raam Bhrosi Laal Singh', 'HARIPRASHAD JATAV',
       'Aman Khan', 'Lokendra Bairwa', 'Prakasi Bai Mahor', 'Vinod Kumar',
       'Chetna Mahor', 'SACHIN KUMAR', 'Raajveer Hans', 'Shbham Kumar',
       'Asha Bairwa', 'Raadha Singh', 'Harendra Kumar Mahor',
       'MADHU HANS', 'Geeta Batham', 'Baali Mohamad', 'SILPI SINGH',
       'Jyoti Maanjhi', 'Dharmesh Parashar', 'Dushyant Kumar Maanjhi',
       'Swapnil Parashar', 'Bheru Lal Jatav', 'Vaibhav Parashar',
       'Kadee Bai', 'Priti Parashar', 'Avinash Yadav', 'Rambharat Jatav',
       'Ratnesh Dubey', 'Kalpna Singh', 'Subham Parashar', 'Ishvar Jatav',
       'Samiksha Dubey', 'Jumman Ansari', 'Jetendra Misra',
       'Mohan Singh Sikarwar', 'Mithlesh Sikarwar', 'Yadvendr Cand',
       'Gulab Bai', 'Nandni Misra', 'Ramdayal Bairwa', 'Habib Khan',
       'Shivangee Cand', 'Akila Khan', 'Chothmal Balmik',
       'RISHITA Ahirwar', 'NAGMA KHAN', 'GULPSHA KHAN', 'Rajvir Bairwa',
       'SHIMRAN KHAN', 'SHIVA BALMIK', 'SAWAN BALMIK', 'Narend Sing',
       'VISHAL BALMIK', 'Shatrudhan Sing', 'VIVEK SING',
       'Radhe Shayam Bairwa', 'Banti Bairwa', 'BANKAT BAIRWA',
       'Chandrakumare Bai', 'Kartik Bairwa', 'Jamuna Jatav',
       'Ramend Singh', 'Avdesh Singh', 'BRAMAHA DEV BAIRWA',
       'Rajendra Singh Dahkad', 'Sirimati Dhakad', 'Devi Jatav',
       'Niruj Dhakad', 'Jagdesh Prshad Mangal', 'Devkinandan Jatav',
       'Prabhu Dyal Gupta', 'Alok Dhakad', 'Maya Devi', 'Bahaddur Singh',
       'Urmila Gupta', 'Anil Mangal', 'Gourav Gupta', 'Nilam Singh',
       'Jamna Mangal', 'Naras Ram Bairwa', 'Prdeep Singh',
       'Priynka Mangal', 'Joti Singh', 'Amit Singh', 'Dev Chnd Bairwa',
       'Sudhakar Charolkar', 'Puunam Singh', 'Faizulla Khan',
       'Amar Singh Jatav', 'Sharifan Ansari', 'Shanti Devi',
       'Kanchan Mesra', 'Ramnivas Balmik', 'Mira Dubey', 'Sangeeta Singh',
       'Mukesh Dubey', 'indrapal singh kushwah', 'Rekha Kumar',
       'Anguree Hansh', 'Shiv Singh Jayant', 'Dinesh Dube',
       'Raajkumari Yadav', 'vipin kashyap', 'Laakhan Singh Yadav',
       'MANOJ KUMAR KASHYAP', 'srikrashna rathod', 'Durgashanker Jatav',
       'Meena Devee Kashyab', 'Naththe Laal Sharma', 'S R S Kashyab',
       'Meera Sikarwar', 'Pooja Sharma', 'nasib khan', 'Nafees Khan',
       'Binda Sharma', 'Ashok Singh Tomar', 'Mithilesh Tyagi',
       'Ratiram Ravat', 'R K Saxena', 'Muraree Balmiki', 'Dileep Balmiki',
       'Sita Bai', 'Dhanna Lal Bairwa', 'Sayogita Singh', 'Bhagwan Singh',
       'Ramashanker Kaladn', 'Meera Jayant', 'Shivnath Singh Tomar',
       'Dilbag Bairwa', 'Hukum Chand Batham', 'Shahina Khan',
       'Riyaj Khan', 'Prabhu Lal Jatav', 'Sanjy Singh', 'Shelesh Gangwal',
       'Vijey Paal Singh', 'Laxmi Devi Rathod', 'Rashidan Mohamad',
       'Rajkumar Rathod', 'Mahesh Kumar Rathod', 'Rampyaree Bai',
       'Mangi Lal Bairwa', 'Kiran Charolkar', 'Tahir Khan',
       'Uamashanker Jayaswal', 'Suresh Bairwa', 'Shabana Khan',
       'Suneeta Bai', 'Reshma Bairwa', 'JYOTI JAYASWAL', 'Sonam Jayaswal',
       'RAVINA BAIRWA', 'Jagran Singh Bhadoriya', 'Pawan Kumar Jain',
       'Uma Bhadoriya', 'Nand Kishor Sahariya', 'Kavita Jain',
       'Govind Bhadoriya', 'Diksha Jain', 'Ram Narayan Sahariya',
       'Mamta Goud', 'YOGESH KUMAR GOUR', 'AMIT KUMAR GOUD',
       'Avinash Ojha', 'Abhishek Ojha', 'Akash Ojha', 'Guddi Sahariya',
       'Tulsi Ram Sharma', 'Suresh Chand Gupta', 'M L Naroliya',
       'himanshu sharma', 'Vidhya Naroliya', 'prafull kumar sharma',
       'Prashant Kumar Naroliya', 'VAISHALI GUPTA', 'Vinod Hrijan',
       'PRIYANSHUL GOYAL', 'Harsh Kumar Naroliya', 'Asharam Khatik',
       'Kanishka Goyal', 'Varsh Naroliya', 'Jagdeesh Suryavanshi',
       'Sangeeta Suryavanshi', 'ADITI SURYAVANSHI', 'Ram Avatar Sahariya',
       'MEENAL SURYAVANSHI', 'Ramkaran Singh Sikarwar', 'NAGMA ANSARI',
       'Dilkhush Balmiki', 'AFSARA ANSARI', 'Jyoti Sikarwar',
       'Nitesh Khatik', 'Raj Balmiki', 'Uma Devi Singh',
       'Gaytri Sikarwar', 'Roshan Ansari', 'Manisha Khatik',
       'PRAKASH SINGH SIKARWAR', 'RONAK ANSARI', 'Priya Singh',
       'Gaurav Khatik', 'SANTOSH SINGH SIKARWAR', 'Krashn Sahariya',
       'ARUN KHATIK', 'J S Parmar', 'Nisha Khatik', 'Padama Bai',
       'Vikash Balmiki', 'AJAY DHAKAD', 'VISHAL BALMIKI',
       'Shri Ram Sahariya', 'Jagdish Dhakad', 'Nisha Balmiki',
       'KAMINI DHAKAD', 'Aakash Balmiki', 'Sarad Dhakad',
       'Kadiya Balmiki', 'Kushal Singh Jatav', 'Soorataya Bhilala',
       'Priyanka', 'najma bano', 'Revati Kushawah', 'Varsha Bairwa',
       'Bindra Dhakad', 'Rachna Jatav', 'Pinki', 'Manohari Dhakad',
       'Seema Kushwah', 'Kamla Bai Paal', 'Susila Bai',
       'Parvati Bai Adibasi', 'Tersi Bai', 'Rimpi Bai', 'Bundi Bai',
       'Shanti Adivasi', 'Sahjan Bai', 'Bhagvati', 'Mango Bai',
       'Shivam Yadav', 'Shivani Yadav', 'Laxmi Ahirwar',
       'Sandhya Ahirwar', 'Kamalkishor Chawda', 'Gaura Ahirwar',
       'Pooja Ahirwar', 'Rahul Ahirwar', 'Aakash', 'Dharmendra Malvi',
       'RAJNI PARIHAR', 'Pallvi Baghel', 'divyansh meena', 'Preeti Regar'],
      dtype=object)

In [72]:
Income_df=pd.read_csv("Tables/Income.csv",low_memory=False)

In [73]:
Income_df.head(2)

,I_Id,Request_Id,Samagra_ID,Certificate_No,Certificate_issue,Name,FName_H,Address,Annual_Income,District_Name_E,District_Name_h,CertUrl,Insert_Date,Cancel_Flag,Request_Member_Id,Verify_By,Identified,DePtID,SchemeID
0,14833,NaN,101342716,RS/418/0111/433/2022,2022-01-27 00:00:00,पुरुषोत्तम राठोर,Narayan,"WARD NO 05 BADI THODI BARODA,mahatma gandhi wa...",40000,Sheopur,श्योपुर,http://mpedistrict.gov.in/Public/ViewCertifica...,2022-01-27 17:42:08.643,N,NaN,NaN,11.000000,NaN,NaN
1,36333,NaN,101457852,RS/429/0111/5205/2022,2022-02-04 00:00:00,सुजीत कुमार दहायत,कुशमय लाल दहायत,"हडहा,Hadaha,Nagod,सतना",30000,Satna,सतना,http://mpedistrict.gov.in/Public/ViewCertifica...,2022-02-04 23:19:12.297,N,NaN,NaN,NaN,NaN,NaN

In [76]:
Income_df['CertUrl'][0]

'http://mpedistrict.gov.in/Public/ViewCertificateSP_Public.aspx?param=73ZM+fRIf0zF55pPaqM65DaR8lOB/knmazy+8NCTSJc='

In [74]:
Income_df['Name'].unique()

array(['पुरुषोत्तम राठोर', 'सुजीत कुमार दहायत', 'अमर सिंह जाटव',
       'सन्त सिंह अटल', 'मुकेश जाटव', 'शिशुपाल जाटव', 'कमलेश कुमार सिंघल',
       'हरिओम बाल्मिकी', 'पूजा सोलंकी', 'सुग्रीव गुर्जर',
       'HARIOM KUSHWAH', 'भागवती', 'पूरण रेगर'], dtype=object)

In [77]:
lby_df=pd.read_csv("Tables/lby.csv",low_memory=False)

In [78]:
lby_df.head(2)

,BeneficiaryID,FamilySamagra_ID,Samagra_ID,Applicant_Name,DOB,Gender,Caste,HeadFamilyMemberName,RelationCode,MobileNo,Alternet_MobileNumber,WhatsUpMob,RefKey,Pension_Beneficiary,Pension_Type_Id,AadharAndBanklinking_Status,DBT_Status,DePtID,SchemeID,RegistrationDate,Rec_Status,Rec_Remark,Phase
0,10984943,49331534,135797215,Varsha Bairwa,1997-06-01,F,SC,Vivek Jatav,2,9691157211,9691157211.000000,9691157211.000000,920356819014541568.000000,0,NaN,1.000000,A,39,69,2023-03-28 16:01:00.000,NaN,NaN,1
1,11886776,20158538,100667821,Mango Bai,1963-01-01,F,ST,Chhota Adiwasi,2,6267223226,NaN,NaN,287993394052219968.000000,0,NaN,1.000000,A,39,69,2023-03-30 17:05:00.000,NaN,NaN,1

In [79]:
lby_df['Applicant_Name'].unique()

array(['Varsha Bairwa', 'Mango Bai', 'Laxmi Ahirwar', 'najma bano',
       'Suneeta Kushwah', 'Priyanka', 'Soorataya Bhilala', 'Pinki',
       'Parvati Bai Adibasi', 'Revati Kushawah', 'Bindra Dhakad',
       'CHANDRAKLA DHAKAD', 'Rachna  Jatav', 'Shivani  Yadav'],
      dtype=object)

In [80]:
Mptass_df=pd.read_csv("Tables/Mptass.csv",low_memory=False)

In [81]:
Mptass_df.head(2)

,uid,DistrictCode,DistrictNameEnglish,BlockCode,BlockNameEnglish,adh_name,father_name,MPTAASProfileId,samagraMemberID,samagraFamilyID,ProfileRegistrationDate,name_E,father_nameE,mother_nameE,cert_no,issuance_date,CasteEnglish,CasteHindi,AadhaarReference,AadhaarToken,Adhar matched Record,Name matched(100%) Record,Name matched_percentage,Identified,DePtID,SchemeID,insert_Date,Active
0,276536,37,Vidisha,158.000000,Vidisha,Rahul Ahirwar,: Chirojiolal,PR1000113542,100002544,20003626,2018-07-17 17:08:00,राहुल अहिरवार,चिरोंजीलाल अहिरवार,सरस्वती बाई,RS/443/0104/11983/2015,2015-05-19,Scheduled Caste,अनुसूचित जाति,662892365230854870,NaN,NaN,1.000000,NaN,11.000000,NaN,NaN,NaN,NaN
1,281859,37,Vidisha,158.000000,Vidisha,Pooja Ahirwar,: Chironjilal Ahirwar,PR1000154278,100002543,20003626,2018-07-18 12:51:00,पूजा अहिरवार,चिरोंजी लाल अहिरवार,सरस्वती अहिरवार,RS/443/0117/60/2018,2018-07-25,Scheduled Caste,अनुसूचित जाति,609109348056366476,NaN,NaN,1.000000,NaN,11.000000,NaN,NaN,NaN,NaN

In [82]:
Mptass_df['adh_name'].unique()

array(['Rahul Ahirwar', 'Pooja Ahirwar', 'Gaura Ahirwar',
       'Dharmendra Gehlod', 'Kamal Kishor Chawda', 'Rachana Jatav',
       'Laxmi Ahirwar', 'Rimpi Bai', 'Harendra Kumar Mahour',
       'Naresh Bairwa', 'Teena Jatav', 'Sandhya Ahirwar', 'Aakash',
       'Shivani', 'Shivam'], dtype=object)

In [85]:
Pension_df=pd.read_csv("Tables/Pension.csv",low_memory=False)

In [86]:
Pension_df.head(2)

,family_member_id,Pension_Type_id,pension_type,SchemeID,DePtID
0,100196901,1,Indira Gandhi National Old Age Pension Scheme,52.000000,25
1,100614458,2,Indra Gandhi National Widow Pension Scheme,53.000000,25

In [87]:
Sambal_df=pd.read_csv("Tables/Sambal.csv",low_memory=False)

In [88]:
Sambal_df.head(2)

,id,District_ID,VW_ID,Family_ID,first_name,last_name,Father_Name,Mobile_number,Gender_ID,Scheme_Id,Sub_Scheme_Id,SubSchemes,LB_ID,Family_Member_ID,ApplicationDate,Applicant_Name,Amount,Sanctioned_Date
0,101481908,1,114392,20352581,Pooran,Jatav,बद्री लाल,NaN,1,3,5,अंत्येष्टि सहायता,23352,101481908,2020-04-17 00:00:00,NaN,5000,2020-04-17 14:06:00
1,101481908,1,114392,20352581,Pooran,Jatav,बद्री लाल,NaN,1,11,6,अनुग्रह सहायता (सामान्य मृत्यु),23352,101481908,2020-04-16 00:00:00,NaN,200000,2020-06-06 15:46:00

In [90]:
Sambal_df['first_name'].unique()

array(['Pooran', 'Raju', 'Bheru Lal'], dtype=object)

In [91]:
Sambal_df['last_name'].unique()

array(['Jatav', 'Balmiki'], dtype=object)

In [94]:
Sambal_df['Full Name']=Sambal_df['first_name'] + " " +Sambal_df['last_name']

In [95]:
Sambal_df['Full Name'].unique()

array(['Pooran Jatav', 'Raju Balmiki', 'Bheru Lal Jatav'], dtype=object)

In [96]:
SJED_df=pd.read_csv("Tables/SJED.csv",low_memory=False)

In [97]:
SJED_df.head(2)

,District Name,LB Name,GP/Zone Name,Village/Ward Name,Beneficiary_SamagrID,Beneficiary_Name,DoB,Beneficiary_Mobile_Number,matched_Samagra,Scheme_Name,DePtID,SchemeID
0,SHEOPUR,"Janpad Panchayat, SHEOPUR",MITHEPURA,Guwadi,101680464,ARTI BERWA,00:00.0,9826226547.000000,1,Nishakt Vivah,NaN,NaN
1,RAISEN,"Nagar Parishad, SANCHI","Zone 1, Nagar Parishad Sanchi",ward 10,100002464,LAXMI BAI AHIRVAR,00:00.0,NaN,1,मुख्यमंत्री कन्या विवाह योजना,NaN,NaN

In [98]:
SJED_df['Beneficiary_Name'].unique()

array(['ARTI BERWA', 'LAXMI BAI AHIRVAR', 'SAVITRI MAAHOR'], dtype=object)

In [99]:
StreenVendor_df=pd.read_csv("Tables/StreenVendor.csv",low_memory=False)

In [100]:
StreenVendor_df.head(2)

,VendorProfileID,VendorType,VendorName,SamagraID,CertificateNo,CertificateDate,AadharRefrenceNo,RegistrationDate,ApproverName,Designation,Flag,matched_Dob,Adhar matched Record,Name matched(100%) Record,Name matched_percentage,Identified,DePtID,SchemeID
0,15ADCB06-30F2-4333-A036-B0AAEAA96D7A,Urban,Durga Shankar Regar,101164307,SVSHESHE458944542317120935,2020-09-11 00:00:00.000,458944542317120935,2020-06-23 00:00:00.000,Anil Jha,CMM,U,NaN,NaN,1.000000,NaN,11.000000,474,83
1,99ECF2A3-C498-47AA-A72A-6BF79E5645B3,Urban,Hariom,101678959,SVSHEBAD220859267533111811,2021-01-12 00:00:00.000,220859267533111811,2021-01-11 00:00:00.000,Harimohan Suman,ARI,U,NaN,NaN,NaN,50.000000,NaN,474,83

In [101]:
StreenVendor_df['VendorName'].unique()

array(['Durga Shankar Regar', 'Hariom', 'Abhishek Ojha', 'Bharat Regar',
       'Vikram Balmik', 'Rinku Batham', 'Hariom Shivhare',
       'Mahaveer Bairwa', 'Ashok Rajak', 'Kailash', 'Sonu Balmik',
       'Tulaseeram Prajapati'], dtype=object)

In [104]:
# import streamlit as st
# import pandas as pd
# from fuzzywuzzy import fuzz
# from fuzzywuzzy import process

# # Load sample data
# base_data = pd.DataFrame({
#     'Name': ['John Doe', 'Jane Smith', 'Bob Johnson', 'Alice Brown'],
#     'Father Name': ['John Sr.', 'Michael Smith', 'Robert Johnson', 'William Brown'],
#     'Mother Name': ['Mary Doe', 'Elizabeth Smith', 'Susan Johnson', 'Helen Brown'],
#     'Address': ['123 Main St', '456 Elm St', '789 Oak St', '321 Pine St']
# })

# ref_data1 = pd.DataFrame({
#     'Name': ['Jon Doe', 'Jen Smith', 'Bobby Johnson', 'Ally Brown'],
#     'Father Name': ['John Sr.', 'Mike Smith', 'Rob Johnson', 'Will Brown'],
#     'Mother Name': ['Mary Doe', 'Liz Smith', 'Sue Johnson', 'Helen Brown'],
#     'Address': ['123 Main St', '456 Elm St', '789 Oak St', '321 Pine St']
# })

# ref_data2 = pd.DataFrame({
#     'Name': ['Johndoe', 'Janesmith', 'Bobjohnson', 'Alicebrown'],
#     'Father Name': ['John Sr.', 'Michael Smith', 'Robert Johnson', 'William Brown'],
#     'Mother Name': ['Mary Doe', 'Elizabeth Smith', 'Susan Johnson', 'Helen Brown'],
#     'Address': ['123 Main St', '456 Elm St', '789 Oak St', '321 Pine St']
# })

# # Define the Data Triangulation Algorithm
# def data_triangulation(base_data, ref_data1, ref_data2):
#     # Step 1: Ingestion
#     base_data_ingested = base_data.copy()
#     ref_data1_ingested = ref_data1.copy()
#     ref_data2_ingested = ref_data2.copy()

#     # Step 2: Pre-processing
#     base_data_preprocessed = base_data_ingested.apply(lambda x: x.str.strip().str.title())
#     ref_data1_preprocessed = ref_data1_ingested.apply(lambda x: x.str.strip().str.title())
#     ref_data2_preprocessed = ref_data2_ingested.apply(lambda x: x.str.strip().str.title())

#     # Step 3: Multi-dataset matching
#     matches = []
#     for index, row in base_data_preprocessed.iterrows():
#         name_score1 = fuzz.ratio(row['Name'], ref_data1_preprocessed['Name'].iloc[index])
#         father_name_score1 = fuzz.ratio(row['Father Name'], ref_data1_preprocessed['Father Name'].iloc[index])
#         mother_name_score1 = fuzz.ratio(row['Mother Name'], ref_data1_preprocessed['Mother Name'].iloc[index])
#         address_score1 = fuzz.ratio(row['Address'], ref_data1_preprocessed['Address'].iloc[index])

#         name_score2 = fuzz.ratio(row['Name'], ref_data2_preprocessed['Name'].iloc[index])
#         father_name_score2 = fuzz.ratio(row['Father Name'], ref_data2_preprocessed['Father Name'].iloc[index])
#         mother_name_score2 = fuzz.ratio(row['Mother Name'], ref_data2_preprocessed['Mother Name'].iloc[index])
#         address_score2 = fuzz.ratio(row['Address'], ref_data2_preprocessed['Address'].iloc[index])

#         match_score1 = (name_score1 + father_name_score1 + mother_name_score1 + address_score1) / 4
#         match_score2 = (name_score2 + father_name_score2 + mother_name_score2 + address_score2) / 4

#         if match_score1 > match_score2:
#             matches.append((row, ref_data1_preprocessed.iloc[index], match_score1))
#         else:
#             matches.append((row, ref_data2_preprocessed.iloc[index], match_score2))

#     # Step 4: Post-processing
#     matched_data = pd.DataFrame(matches, columns=['Base Data', 'Matched Data', 'Match Score'])

#     return matched_data

# # Create a Streamlit app
# st.title("Data Triangulation Algorithm Demo")

# st.header("Base Data")
# st.write(base_data)

# st.header("Reference Data 1")
# st.write(ref_data1)

# st.header("Reference Data 2")
# st.write(ref_data2)

# st.header("Data Triangulation Results")
# matched_data = data_triangulation(base_data, ref_data1, ref_data2)
# st.write(matched_data)


















# from fuzzywuzzy import fuzz

# # Define a function to perform fuzzy matching
# def fuzzy_match(name, ref_data):
#     best_score = 0
#     best_match = None
    
#     # Iterate through each name in the reference dataset
#     for idx, row in ref_data.iterrows():
#         # Calculate similarity score between the name and each name in the reference dataset
#         score = fuzz.ratio(name, row['Name'])
        
#         # Update best match if current score is higher
#         if score > best_score:
#             best_score = score
#             best_match = row
            
#     return best_match

# # Iterate through each row in the base dataset
# for idx, row in base_data.iterrows():
#     # Perform fuzzy matching for name
#     matched_record = fuzzy_match(row['Name'], ref_data1)
    
#     # If a match is found, append matched attributes to the base dataset
#     if matched_record is not None:
#         base_data.at[idx, 'Matched_Name'] = matched_record['Name']
#         base_data.at[idx, 'Matched_Father_Name'] = matched_record['Father Name']
#         base_data.at[idx, 'Matched_Mother_Name'] = matched_record['Mother Name']
#         base_data.at[idx, 'Matched_Address'] = matched_record['Address']

# # Display the updated base dataset with matched attributes
# print(base_data)

In [103]:
base_data

,Name,Father Name,Mother Name,Address,Matched_Name,Matched_Father_Name,Matched_Mother_Name,Matched_Address
0,John Doe,John Sr.,Mary Doe,123 Main St,Jon Doe,John Sr.,Mary Doe,123 Main St
1,Jane Smith,Michael Smith,Elizabeth Smith,456 Elm St,Jen Smith,Mike Smith,Liz Smith,456 Elm St
2,Bob Johnson,Robert Johnson,Susan Johnson,789 Oak St,Bobby Johnson,Rob Johnson,Sue Johnson,789 Oak St
3,Alice Brown,William Brown,Helen Brown,321 Pine St,Ally Brown,Will Brown,Helen Brown,321 Pine St

## Code to load all the csv files from the directory over here

In [2]:
import os
import pandas as pd

directory = '../data/Tables-SamagraMaster/'

csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

for file in csv_files:
    file_name = os.path.splitext(file)[0]
    globals()[file_name + '_df'] = pd.read_csv(os.path.join(directory, file))

# Example usage:
# Access DataFrame loaded from 'example.csv'
# print(example_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_13716\3539013722.py:10: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()[file_name + '_df'] = pd.read_csv(os.path.join(directory, file))

In [4]:
Relation_df

,ID,Relation_Name,Relation_Name_Hi,Is_Male,Relation_Name_abbr,Order_By,Is_For_UnMarried,Map_With_Relation_ID
0,1,Husband,पति,1.0,Husband,2.0,0,9
1,2,Wife,पत्‍नी,0.0,Wife,2.0,0,9
2,3,Son,पुत्र,1.0,Son,3.0,1,10
3,4,Daughter,पुत्री,0.0,Daughter,4.0,1,11
4,5,Brother,भाई,1.0,Brother,7.0,1,17
5,6,Sister,बहन,0.0,Sister,8.0,1,0
6,7,Mother,माता,0.0,Mother,6.0,0,8
7,8,Father,पिता,1.0,Father,5.0,0,7
8,9,Self,स्वयं,NaN,Self,1.0,1,2
9,10,Daughter in Law,पुत्र-वधू,0.0,Daughter in Law,19.0,0,3
10,11,Son in Law,दामाद,1.0,Son in Law,18.0,0,4
11,12,Grandson,पोता,1.0,Grandson,17.0,1,0
12,13,Granddaughter,पोती,0.0,Granddaughter,16.0,1,0
13,14,Mother in Law,सास,0.0,Mother in Law,15.0,0,15
14,15,Father in Law,ससुर,1.0,Father in Law,14.0,0,14
15,16,Other (Adopted),अन्य (दत्तक),NaN,Other(Adoptive),20.0,1,0
16,17,Sister in Law,भाभी,0.0,Sister in Law,13.0,0,5
17,18,Brother in Law,जेठ,1.0,Brother in Law,12.0,1,19
18,19,Sister in law,जेठानी,0.0,Sister in law,11.0,0,18
19,20,Uncle,चाचा,1.0,Uncle,10.0,1,21
20,21,Aunt,चाची,0.0,Aunty,9.0,0,20
21,22,Sister in law,साली,0.0,Sister in law,NaN,1,0
22,23,Brother in Law,साला,1.0,Brother in Law,NaN,1,0
23,26,Nephew,भतीजा/ भांजा,1.0,Nephew,NaN,1,0
24,27,Neice,भतीजी/ भांजी,0.0,Neice,NaN,1,0

In [6]:
import pandas as pd
import os

directory = '../data/Tables-SamagraMaster/'

csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

dfs = []
for file in csv_files:
    file_name = os.path.splitext(file)[0]
    df = pd.read_csv(os.path.join(directory, file))
    dfs.append(df)

concatenated_df = pd.concat(dfs, ignore_index=True)

print(concatenated_df.head())

    ID Category_id  Caste_Code  \
0  186           3        92.0
1    1           3         1.0
2    2           3         2.0
3    3           3         3.0
4    4           3         4.0

                                            OldCaste  \
0                                        Bahawalpuri
1  Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...
2                                      Asara, Asaada
3                                 Bairagi (Vaishnav)
4  Banjara,Banjari,Mathura, Nayak, Naykada, Dhuri...

                                               Caste Category_Name  \
0                                        Bahawalpuri           NaN
1  Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...           NaN
2                                      Asara, Asaada           NaN
3                                 Bairagi (Vaishnav)           NaN
4  Banjara,Banjari,Mathura, Nayak, Naykada, Dhuri...           NaN

  Category_Name_Hi  Division_ID District_Name District_NameH  ...  \
0              NaN          NaN           NaN            NaN  ...
1              NaN          NaN           NaN            NaN  ...
2              NaN          NaN           NaN            NaN  ...
3              NaN          NaN           NaN            NaN  ...
4              NaN          NaN           NaN            NaN  ...

   Correct_VW_ID edistrict_Village_code  edistrict_Village_code_temp  \
0            NaN                    NaN                          NaN
1            NaN                    NaN                          NaN
2            NaN                    NaN                          NaN
3            NaN                    NaN                          NaN
4            NaN                    NaN                          NaN

   Tehsil_Name  LLY_CensCD  LLY_vill_ward_Lgd_code  GIS_Tehsil_code  \
0          NaN         NaN                     NaN              NaN
1          NaN         NaN                     NaN              NaN
2          NaN         NaN                     NaN              NaN
3          NaN         NaN                     NaN              NaN
4          NaN         NaN                     NaN              NaN

   GIS_gp_zone_lgd_Code  VidhanSabha_Name  VidhanSabha_Code
0                   NaN               NaN               NaN
1                   NaN               NaN               NaN
2                   NaN               NaN               NaN
3                   NaN               NaN               NaN
4                   NaN               NaN               NaN

[5 rows x 76 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_13716\2399449571.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(directory, file))