In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import numpy as np
pd.set_option('display.float_format', '{:.6f}'.format)
pd.set_option('display.float_format', lambda x: "{:.6f}".format(x) if not pd.isna(x) else "NaN")

In [2]:
data=pd.read_csv("updated_Entire_Reference.csv",encoding='ISO-8859-1',low_memory=False)

In [3]:
data.head(2)

,Unique_id,district_id_x,Temporary_ID_x,family_id,village_ward_id_x,NPR_member_code,samagra_code,first_name_x,last_name_x,first_name_Hi,last_name_Hi,is_head,gender_id,dob,relation_id,marital_status_id,father_id,mother_id,spouse_id,father_name_x,mother_name,spouse_name,mobile_number,email_address,education_status_id,educational_institution_type_id,class_in_school,school_details,School_Type,profession_id,is_disabled,annual_income,nirashrit_before_2007_nonBPL,Aadhaar_status_id,Aadhaar_Enrollment_No,is_updated_x,Verified_By,Verified_On,is_destitute,is_active,is_locked_x,is_Death,is_deleted_x,Approve_Status_x,Import_phase,insert_time_x,update_time,inserted_by_user_id,enc_aadhaar_id,Whats_Up_Mobile_No,category_id_x,lbverified,dormant,Member_Ekyc,Middle_Name,Middle_Name_HI,IS_suspect,FullNameEn,FullNameHi,caste,id_y,district_id_y,Temporary_ID_y,village_ward_id_y,Gadna_Block_ID,House_No,House_No_Section,House_Address,house_hold_number,npr_family_code,pin_code,member_count,head_family_member_id,category_id_y,Category_Code,st_ptg_id,is_sc_bb,is_sc_insanitory_works,is_vimukt,is_minority,religion_id,is_migrated,migration_reason_id,nominee_family_member_id,is_native_of_MP,year_since_mp_resident,is_BPL,BPL_Survey_Year,Toilet_Status,Is_Water_Available,House_Status,Property_tax_SNO,Water_tax_SNO,Nigam_License_No,Is_Tenant,is_locked_y,is_verified,is_deleted_y,insert_time_y,insert_by_user_id,import_phase,Varified_By,Varified_On,head_family_member_name,FPS_Id,is_move,is_updated_y,Is_Van_Adhikar,LandLess_Or_Merginal_Farmar,Priority_Group_Id,Institution_ID,member_count_claimed,Caste_old,Caste_ID,Is_BPL_Verified,Approve_Status_y,Caste_x,BeneficiaryID,FamilySamagra_ID,Samagra_ID_x,Applicant_Name_x,DOB_x,Gender_x,Caste_y,HeadFamilyMemberName,RelationCode,MobileNo,Alternet_MobileNumber,WhatsUpMob,RefKey,Pension_Beneficiary,Pension_Type_Id,AadharAndBanklinking_Status,DBT_Status,DePtID_x,SchemeID_x,RegistrationDate_x,Rec_Status,Rec_Remark,Phase,ApplicationID,Beneficiary_Name_x,Father/HusbandName,DateOFBirth,District,Block,GP,Village,Cast,SubCaste,SamagraID_x,SamagraFamilyID,eEKYC_Status,Profile_Status,eKYC_Date,Project_status,DOB_y,Gender_y,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,Insert_Date_Time,DePtID_y,SchemeID_y,Active_x,Remark,ahl_tin,ahl_hhid,name_ben,father_name_secc,mother_name_secc,dob_ben,gender_ben,district_code,village_code,ward_code,rural_urban,pmrssm_id,updateddate,matched_Samagra_x,DePtID_x.1,SchemeID_x.1,uid,DistrictCode,DistrictNameEnglish,BlockCode,BlockNameEnglish,adh_name,father_name_y,MPTAASProfileId,samagraMemberID,samagraFamilyID,ProfileRegistrationDate,name_E,father_nameE,mother_nameE,cert_no,issuance_date,CasteEnglish,CasteHindi,AadhaarReference,AadhaarToken,Adhar matched Record_x,Name matched(100%) Record_x,Name matched_percentage_x,Identified_x,DePtID_y.1,SchemeID_y.1,insert_Date,Active_y,VendorProfileID,VendorType,VendorName,SamagraID_y,CertificateNo,CertificateDate,AadharRefrenceNo,RegistrationDate_y,ApproverName,Designation,Flag,matched_Dob,Adhar matched Record_y,Name matched(100%) Record_y,Name matched_percentage_y,Identified_y,DePtID_x.2,SchemeID_x.2,ApplicantName,SamagraId,RegNo,SchemName,SchemType,Amount_x,DateofBenefit,id_x,District_ID_x,VW_ID,Family_ID,first_name_y,last_name_y,Father_Name,Mobile_number,Gender_ID,LB_ID,Family_Member_ID,Applicant_Name_y,family_member_id,Pension_Type_id,pension_type,SchemeID_y.2,DePtID_y.2,District Name,LB Name,GP/Zone Name,Village/Ward Name,Beneficiary_SamagrID,Beneficiary_Name_y,DoB,matched_Samagra_y,Scheme_Name,DePtID_x.3,SchemeID_x.3,Request_Id_x,Samagra_ID_y,FName_E,MName_E,Category_E,Category_H,Caste_Code_in_State_List,Caste_Name_H,Caste_Code_in_Centre_List,Caste_Name_E,Migration_Case,CertUrl_x,Insert_Date_x,Cancel_Flag_x,Request_Member_Id_x,Verify_By_x,District_Name_E_x,Identified_x.1,DePtID_y.3,SchemeID_y.3,ByAPI,name_match,I_Id,Request_Id_y,Samagra_ID_x.1,Certificate_No_x,Certificate_issue_y,Name_x,FName_H_y,Address,Annual_Income,District_Name_E_y,District_Name_h,CertUrl_y,Insert_Date_y,Cancel_Flag_y,Request_Member_Id_y,Verify_By_y,Identified_y.1,DePtID_x.4,SchemeID_x.4,D_Id,Request_Id,Samagra_ID_y.1,Certificate_No_y,Certificate_issue,Name_y,FName_H,District_Name_E,District_Name_H,CertUrl,Insert_Date,WName,Child_Name,Child_Age,Cancel_Flag,Request_Member_Id,Verify_By,Identified,DePtID_y.4,SchemeID_y.4,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y.1,state_id,division_code,division_name,division_name_hi,District_ID_y,LSK_ID,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Ward_Local_Known_Name,Ward_Local_Known_Name_Hi,Is_Active,Remarks,inserted_on_y,update_date_y,Correct_VW_ID,GIS_lgd_code_y,edistrict_Village_code,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code,ID_x.1,Category_id,Caste_Code,OldCaste,Caste,ID_y.1,Category_Name,Category_Name_Hi,id_x.2,Gender,Gender_Hi,Gender_S_Hi,Gender_abbr,id_y.3,marital_status,marital_status_Hi,ID,Relation_Name,Relation_Name_Hi,Is_Male,Relation_Name_abbr,Order_By,Is_For_UnMarried,Map_With_Relation_ID
0,100686666,1,686666,30117241,107579,NaN,NaN,Barsha,Rajak,Ã Â¤Â¬Ã Â¤Â°Ã Â¥ÂÃ Â¤Â¶Ã Â¤Â¾,Ã Â¤Â°Ã Â¤ÂÃ Â¤Â,0,2,01-01-2001,4,2,0,141513241,141518229.000000,NaN,Geeta Dhobee,Ankesh,NaN,NaN,1.000000,1.000000,5.000000,govt jhundpura,3.000000,0.000000,0,0.000000,NaN,NaN,NaN,1.000000,765.000000,01-09-2013 10:11,NaN,NaN,NaN,0,0,NaN,0,29-01-2013 15:02,NaN,4870,NaN,NaN,3,1,0,NaN,NaN,NaN,NaN,Barsha Rajak,Ã Â¤Â¬Ã Â¤Â°Ã Â¥ÂÃ Â¤Â¶Ã Â¤Â¾ Ã Â¤Â°Ã Â¤ÂÃ Â¤Â,NaN,30117241,1,0.000000,107579,79.000000,368,0.000000,Heerapura,NaN,NaN,476335,6,141510564.000000,3,3.000000,NaN,NaN,NaN,0,0,1,1,NaN,100000000.000000,1,NaN,0,0.000000,6.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0,1,0,30-03-2013 15:41,30402,0,46735.000000,06-10-2013 10:00,Vlla,59929.000000,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,23,SHEOPUR,Ã Â¤Â¶Ã Â¥ÂÃ Â¤Â¯Ã Â¥ÂÃ Â¤ÂªÃ Â¥ÂÃ Â¤Â°,0,431,4002602001,431,418,23,418,23,20,23,Chambal,NaN,1,NaN,107579,20601,1.000000,Heerapura,Ã Â¤Â¹Ã Â¥ÂÃ Â¤Â°Ã Â¤Â¾Ã Â¤ÂªÃ Â¥ÂÃ Â¤Â°Ã Â¤Â¾,1,NaN,NaN,1,20221230_temp,NaN,08-02-2022 16:06,NaN,451541.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vijaypur,2.000000,1,3,1,"Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...","Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...",1.000000,SC,Ã Â¤Â Ã Â¤Â¨Ã Â¥ÂÃ Â¤Â¸Ã Â¥ÂÃ Â¤ÂÃ Â¤Â¿Ã Â¤...,2,Female,Ã Â¤Â¸Ã Â¥ÂÃ Â¤Â¤Ã Â¥ÂÃ Â¤Â°Ã Â¥Â,Ã Â¤Â¬Ã Â¤Â¾Ã Â¤Â²Ã Â¤Â¿Ã Â¤ÂÃ Â¤Â¾,F,2,Married,Ã Â¤ÂµÃ Â¤Â¿Ã Â¤ÂµÃ Â¤Â¾Ã Â¤Â¹Ã Â¤Â¿Ã Â¤Â¤,4.000000,Daughter,Ã Â¤ÂªÃ Â¥ÂÃ Â¤Â¤Ã Â¥ÂÃ Â¤Â°Ã Â¥Â,0.000000,Daughter,4.000000,1.000000,11.000000
1,101094169,1,1094169,20257923,107874,NaN,NaN,Deleted-Gurnam,Singh Bairagi,Ã Â¤ÂÃ Â¥ÂÃ Â¤Â°Ã Â¤Â¨Ã Â¤Â¾Ã Â¤Â®,Ã Â¤Â¸Ã Â¤Â¿Ã Â¤ÂÃ Â¤Â¹ Ã Â¤Â¬Ã Â¥ÂÃ Â¤Â°Ã Â...,0,1,01-01-1948,0,2,0,0,NaN,Gumjar,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN,0.000000,0,200000.000000,NaN,NaN,NaN,1.000000,52296.000000,28-10-2013 17:19,NaN,1.000000,NaN,0,0,NaN,0,01-02-2013 20:25,NaN,1150,NaN,NaN,3,1,0,NaN,NaN,NaN,NaN,Deleted-Gurnam Singh Bairagi,Ã Â¤ÂÃ Â¥ÂÃ Â¤Â°Ã Â¤Â¨Ã Â¤Â¾Ã Â¤Â® Ã Â¤Â¸Ã Â...,NaN,20257923,1,0.000000,107874,256.000000,1,0.000000,Kalarna,NaN,NaN,476337,0,101096478.000000,3,3.000000,NaN,NaN,NaN,0,0,5,1,NaN,100000000.000000,1,NaN,0,0.000000,1.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,0,1,1,01-02-2013 19:57,1150,2,52296.000000,28-10-2013 17:18,Amratpal Singh,63917.000000,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,23,SHEOPUR,Ã Â¤Â¶Ã Â¥ÂÃ Â¤Â¯Ã Â¥ÂÃ Â¤ÂªÃ Â¥ÂÃ Â¤Â°,0,431,4002602001,431,418,23,418,23,20,23,Chambal,NaN,1,NaN,107874,20717,3.000000,Kalarna,Ã Â¤ÂÃ Â¤Â²Ã Â¤Â°Ã Â¤Â¨Ã Â¤Â¾,1,NaN,NaN,1,NaN,NaN,NaN,NaN,451663.000000,NaN,451656.000000,Sheopur,451663.000000,451663.000000,3382.000000,151074.000000,Sheopur,1.000000,1,3,1,"Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...","Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...",1.000000,SC,Ã Â¤Â Ã Â¤Â¨Ã Â¥ÂÃ Â¤Â¸Ã Â¥ÂÃ Â¤ÂÃ Â¤Â¿Ã Â¤...,1,Male,Ã Â¤ÂªÃ Â¥ÂÃ Â¤Â°Ã Â¥ÂÃ Â¤Â·,Ã Â¤Â¬Ã Â¤Â¾Ã Â¤Â²Ã Â¤Â,M,2,Married,Ã Â¤ÂµÃ Â¤Â¿Ã Â¤ÂµÃ Â¤Â¾Ã Â¤Â¹Ã Â¤Â¿Ã Â¤Â¤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creating the First Key first name,  surname, family id and father id over here

In [4]:
data['family_id']

0       30117241
1       20257923
2       20259742
3       20259742
4       28016000
          ...
1029    20002907
1030    42038346
1031    20297764
1032    20310063
1033    20317161
Name: family_id, Length: 1034, dtype: int64

In [5]:
data['first_name_x']

0               Barsha
1       Deleted-Gurnam
2       Shambhoo Singh
3              SUGREEV
4               jamila
             ...
1029        Dharmendra
1030             RAJNI
1031            Pallvi
1032          divyansh
1033            Preeti
Name: first_name_x, Length: 1034, dtype: object

In [6]:
data['last_name_x']

0               Rajak
1       Singh Bairagi
2              Gurjar
3              GURJAR
4               saify
            ...
1029            Malvi
1030          PARIHAR
1031           Baghel
1032            meena
1033            Regar
Name: last_name_x, Length: 1034, dtype: object

In [7]:
data['father_id']

0               0
1               0
2               0
3       101099177
4       101142719
          ...
1029    100002994
1030    101239082
1031    101255164
1032    101306507
1033    101334568
Name: father_id, Length: 1034, dtype: int64

In [8]:
first_name = data['first_name_x'].astype(str).str.strip()
last_name = data['last_name_x'].astype(str).str.strip()
family_id = data['family_id'].astype(str).str.strip()
father_id = data['father_id'].astype(str).str.strip()

In [9]:
data['UniqueKey1'] = first_name + last_name + family_id + father_id

In [10]:
data['UniqueKey1'] = data['UniqueKey1'].str.replace(r'\s+', '', regex=True)

In [11]:
data['UniqueKey1'].value_counts()

BarshaRajak301172410               1
ANANNYASHARMA20439556101833196     1
RamSwaroopJatav204290460           1
YashmenMohamad20428845101788411    1
GobariBai204290460                 1
                                  ..
RamfoolBatham203892970             1
MOHITLOUDHA20387171101626990       1
JyotiBatham20389297101629695       1
MahimaLoudha20387171101626990      1
PreetiRegar20317161101334568       1
Name: UniqueKey1, Length: 1034, dtype: int64

In [12]:
len(data['UniqueKey1'].unique())

1034

## Creating the second unique key over here first_name, last_name, father name, mother name, gender, village name, village code, block name and block code, district name and district code,mobile number and aadhaar number.

In [13]:
data['first_name_x']

0               Barsha
1       Deleted-Gurnam
2       Shambhoo Singh
3              SUGREEV
4               jamila
             ...
1029        Dharmendra
1030             RAJNI
1031            Pallvi
1032          divyansh
1033            Preeti
Name: first_name_x, Length: 1034, dtype: object

In [14]:
data['last_name_x']

0               Rajak
1       Singh Bairagi
2              Gurjar
3              GURJAR
4               saify
            ...
1029            Malvi
1030          PARIHAR
1031           Baghel
1032            meena
1033            Regar
Name: last_name_x, Length: 1034, dtype: object

In [15]:
data['father_name_x']

0                         NaN
1                      Gumjar
2                         NaN
3       Shambhoo Singh Gurjar
4                   tahir ali
                ...
1029        Phoolchand Gehlod
1030             Raju Parihar
1031    Brajesh  Kumar Baghel
1032          nar singh meena
1033              Puran Regar
Name: father_name_x, Length: 1034, dtype: object

In [16]:
data['mother_name']

0                 Geeta Dhobee
1                          NaN
2                          NaN
3                     Dodi Bai
4                  husaina bai
                 ...
1029    Sulochana Bai Fulsingh
1030                    Mamta
1031             Prabha Baghal
1032                       NaN
1033              Laxmi Regare
Name: mother_name, Length: 1034, dtype: object

In [17]:
data['Gender']

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
1029      Male
1030    Female
1031    Female
1032      Male
1033    Female
Name: Gender, Length: 1034, dtype: object

In [18]:
data['Village'].value_counts()

BHONSLEGAON    1
bhonslegao     1
Name: Village, dtype: int64

In [19]:
data['village_code'].unique()

array([    nan, 114381., 107857., 107546., 107447., 107601.,  92590.])

In [20]:
data['Block'].unique()

array([nan, 'Ashoknagar'], dtype=object)

In [21]:
data['BlockCode'].unique()

array([ nan, 156.])

In [22]:
data['District_Name'].unique()

array(['SHEOPUR', 'BETUL', 'ASHOKNAGAR', 'UMARIA', 'DINDORI', 'GWALIOR',
       'NARMADAPURAM', 'VIDISHA', 'RAISEN', 'DEWAS'], dtype=object)

In [23]:
data['district_id_x'].unique()

array([ 1, 35, 46, 15, 41,  4, 37, 31, 34, 23], dtype=int64)

In [24]:
data['mobile_number'].value_counts()

7880261883.000000    4
7415355123.000000    3
9752139676.000000    2
8349340737.000000    2
9926263926.000000    1
                    ..
8462876051.000000    1
7440746178.000000    1
6267124447.000000    1
7271802287.000000    1
8120745413.000000    1
Name: mobile_number, Length: 138, dtype: int64

In [25]:
data['AadharRefrenceNo'].unique()

array([     nan, 4.59e+17, 3.37e+17, 8.31e+17, 6.44e+17, 4.62e+17,
       5.76e+17, 1.90e+17, 5.16e+17, 1.93e+17, 2.21e+17, 3.05e+17,
       4.68e+17])

In [26]:
df=data

In [27]:
first_name = df['first_name_x'].astype(str).str.strip()
last_name = df['last_name_x'].astype(str).str.strip()
father_name = df['father_name_x'].astype(str).str.strip()
mother_name = df['mother_name'].astype(str).str.strip()
gender = df['Gender'].astype(str).str.strip()
village = df['Village'].astype(str).str.strip()
village_code = df['village_code'].astype(str).str.strip()
block = df['Block'].astype(str).str.strip()
block_code = df['BlockCode'].astype(str).str.strip()
district_name = df['District_Name'].astype(str).str.strip()
district_id = df['district_id_x'].astype(str).str.strip()
mobile_number = df['mobile_number'].astype(str).str.strip()
aadhar_ref_no = df['AadharRefrenceNo'].astype(str).str.strip()

In [28]:
df['UniqueKey2'] = first_name + last_name + father_name + mother_name + gender + village + village_code + block + block_code + district_name + district_id + mobile_number + aadhar_ref_no

In [29]:
df['UniqueKey2'].value_counts()

ReenaSinghnannanFemalenannannannanSHEOPUR1nannan                               2
BarshaRajaknanGeeta DhobeeFemalenannannannanSHEOPUR1nannan                     1
AshaJatavDevishankar jatavDwarika BaiFemalenannannannanSHEOPUR1nannan          1
NaitikBalmikiVijay ValmikMamta BaiMalenannannannanSHEOPUR1nannan               1
PoonamBaimikiVijay ValmikMamta BaiFemalenannannannanSHEOPUR1nannan             1
                                                                              ..
RamfoolBathamTejmalnanMalenannannannanSHEOPUR18462876051.0nan                  1
MOHITLOUDHAVinod LoudhaSheela LodhaMalenannannannanSHEOPUR1nannan              1
JyotiBathamRamfool BathamSita BaiFemalenannannannanSHEOPUR1nannan              1
MahimaLoudhaVinod LoudhaSheela LodhaFemalenannannannanSHEOPUR1nannan           1
PreetiRegarPuran RegarLaxmi RegareFemalenannannannanSHEOPUR18120745413.0nan    1
Name: UniqueKey2, Length: 1033, dtype: int64

In [30]:
df['UniqueKey2'] = df['UniqueKey2'].str.replace(r'\s+', '', regex=True)

In [31]:
data['UniqueKey2'].unique()

array(['BarshaRajaknanGeetaDhobeeFemalenannannannanSHEOPUR1nannan',
       'Deleted-GurnamSinghBairagiGumjarnanMalenannannannanSHEOPUR1nannan',
       'ShambhooSinghGurjarnannanMalenannannannanSHEOPUR1nannan', ...,
       'PallviBaghelBrajeshKumarBaghelPrabhaBaghalFemalenannannannanSHEOPUR17224958635.0nan',
       'divyanshmeenanarsinghmeenananMalenannannannanSHEOPUR19977441258.0nan',
       'PreetiRegarPuranRegarLaxmiRegareFemalenannannannanSHEOPUR18120745413.0nan'],
      dtype=object)

In [32]:
data.head(2)

,Unique_id,district_id_x,Temporary_ID_x,family_id,village_ward_id_x,NPR_member_code,samagra_code,first_name_x,last_name_x,first_name_Hi,last_name_Hi,is_head,gender_id,dob,relation_id,marital_status_id,father_id,mother_id,spouse_id,father_name_x,mother_name,spouse_name,mobile_number,email_address,education_status_id,educational_institution_type_id,class_in_school,school_details,School_Type,profession_id,is_disabled,annual_income,nirashrit_before_2007_nonBPL,Aadhaar_status_id,Aadhaar_Enrollment_No,is_updated_x,Verified_By,Verified_On,is_destitute,is_active,is_locked_x,is_Death,is_deleted_x,Approve_Status_x,Import_phase,insert_time_x,update_time,inserted_by_user_id,enc_aadhaar_id,Whats_Up_Mobile_No,category_id_x,lbverified,dormant,Member_Ekyc,Middle_Name,Middle_Name_HI,IS_suspect,FullNameEn,FullNameHi,caste,id_y,district_id_y,Temporary_ID_y,village_ward_id_y,Gadna_Block_ID,House_No,House_No_Section,House_Address,house_hold_number,npr_family_code,pin_code,member_count,head_family_member_id,category_id_y,Category_Code,st_ptg_id,is_sc_bb,is_sc_insanitory_works,is_vimukt,is_minority,religion_id,is_migrated,migration_reason_id,nominee_family_member_id,is_native_of_MP,year_since_mp_resident,is_BPL,BPL_Survey_Year,Toilet_Status,Is_Water_Available,House_Status,Property_tax_SNO,Water_tax_SNO,Nigam_License_No,Is_Tenant,is_locked_y,is_verified,is_deleted_y,insert_time_y,insert_by_user_id,import_phase,Varified_By,Varified_On,head_family_member_name,FPS_Id,is_move,is_updated_y,Is_Van_Adhikar,LandLess_Or_Merginal_Farmar,Priority_Group_Id,Institution_ID,member_count_claimed,Caste_old,Caste_ID,Is_BPL_Verified,Approve_Status_y,Caste_x,BeneficiaryID,FamilySamagra_ID,Samagra_ID_x,Applicant_Name_x,DOB_x,Gender_x,Caste_y,HeadFamilyMemberName,RelationCode,MobileNo,Alternet_MobileNumber,WhatsUpMob,RefKey,Pension_Beneficiary,Pension_Type_Id,AadharAndBanklinking_Status,DBT_Status,DePtID_x,SchemeID_x,RegistrationDate_x,Rec_Status,Rec_Remark,Phase,ApplicationID,Beneficiary_Name_x,Father/HusbandName,DateOFBirth,District,Block,GP,Village,Cast,SubCaste,SamagraID_x,SamagraFamilyID,eEKYC_Status,Profile_Status,eKYC_Date,Project_status,DOB_y,Gender_y,RefKey_of_Beneficiaries,Aadhaar_Anudaan_Registration_Date,Insert_Date_Time,DePtID_y,SchemeID_y,Active_x,Remark,ahl_tin,ahl_hhid,name_ben,father_name_secc,mother_name_secc,dob_ben,gender_ben,district_code,village_code,ward_code,rural_urban,pmrssm_id,updateddate,matched_Samagra_x,DePtID_x.1,SchemeID_x.1,uid,DistrictCode,DistrictNameEnglish,BlockCode,BlockNameEnglish,adh_name,father_name_y,MPTAASProfileId,samagraMemberID,samagraFamilyID,ProfileRegistrationDate,name_E,father_nameE,mother_nameE,cert_no,issuance_date,CasteEnglish,CasteHindi,AadhaarReference,AadhaarToken,Adhar matched Record_x,Name matched(100%) Record_x,Name matched_percentage_x,Identified_x,DePtID_y.1,SchemeID_y.1,insert_Date,Active_y,VendorProfileID,VendorType,VendorName,SamagraID_y,CertificateNo,CertificateDate,AadharRefrenceNo,RegistrationDate_y,ApproverName,Designation,Flag,matched_Dob,Adhar matched Record_y,Name matched(100%) Record_y,Name matched_percentage_y,Identified_y,DePtID_x.2,SchemeID_x.2,ApplicantName,SamagraId,RegNo,SchemName,SchemType,Amount_x,DateofBenefit,id_x,District_ID_x,VW_ID,Family_ID,first_name_y,last_name_y,Father_Name,Mobile_number,Gender_ID,LB_ID,Family_Member_ID,Applicant_Name_y,family_member_id,Pension_Type_id,pension_type,SchemeID_y.2,DePtID_y.2,District Name,LB Name,GP/Zone Name,Village/Ward Name,Beneficiary_SamagrID,Beneficiary_Name_y,DoB,matched_Samagra_y,Scheme_Name,DePtID_x.3,SchemeID_x.3,Request_Id_x,Samagra_ID_y,FName_E,MName_E,Category_E,Category_H,Caste_Code_in_State_List,Caste_Name_H,Caste_Code_in_Centre_List,Caste_Name_E,Migration_Case,CertUrl_x,Insert_Date_x,Cancel_Flag_x,Request_Member_Id_x,Verify_By_x,District_Name_E_x,Identified_x.1,DePtID_y.3,SchemeID_y.3,ByAPI,name_match,I_Id,Request_Id_y,Samagra_ID_x.1,Certificate_No_x,Certificate_issue_y,Name_x,FName_H_y,Address,Annual_Income,District_Name_E_y,District_Name_h,CertUrl_y,Insert_Date_y,Cancel_Flag_y,Request_Member_Id_y,Verify_By_y,Identified_y.1,DePtID_x.4,SchemeID_x.4,D_Id,Request_Id,Samagra_ID_y.1,Certificate_No_y,Certificate_issue,Name_y,FName_H,District_Name_E,District_Name_H,CertUrl,Insert_Date,WName,Child_Name,Child_Age,Cancel_Flag,Request_Member_Id,Verify_By,Identified,DePtID_y.4,SchemeID_y.4,ID_x,Division_ID,District_Name,District_NameH,IS_TRIBAL,DDO_Code_x,DDO_Code_SJ,LGD_Code,Census_Code,edistrict_state_code,edistrict_district_code,id_y.1,state_id,division_code,division_name,division_name_hi,District_ID_y,LSK_ID,ID_y,gp_zone_id,Tehsil_Id_y,VW_Name_en,VW_Name_hi,Is_Village,Ward_Local_Known_Name,Ward_Local_Known_Name_Hi,Is_Active,Remarks,inserted_on_y,update_date_y,Correct_VW_ID,GIS_lgd_code_y,edistrict_Village_code,edistrict_Village_code_temp,Tehsil_Name,LLY_CensCD,LLY_vill_ward_Lgd_code,GIS_Tehsil_code,GIS_gp_zone_lgd_Code,VidhanSabha_Name,VidhanSabha_Code,ID_x.1,Category_id,Caste_Code,OldCaste,Caste,ID_y.1,Category_Name,Category_Name_Hi,id_x.2,Gender,Gender_Hi,Gender_S_Hi,Gender_abbr,id_y.3,marital_status,marital_status_Hi,ID,Relation_Name,Relation_Name_Hi,Is_Male,Relation_Name_abbr,Order_By,Is_For_UnMarried,Map_With_Relation_ID,UniqueKey1,UniqueKey2
0,100686666,1,686666,30117241,107579,NaN,NaN,Barsha,Rajak,Ã Â¤Â¬Ã Â¤Â°Ã Â¥ÂÃ Â¤Â¶Ã Â¤Â¾,Ã Â¤Â°Ã Â¤ÂÃ Â¤Â,0,2,01-01-2001,4,2,0,141513241,141518229.000000,NaN,Geeta Dhobee,Ankesh,NaN,NaN,1.000000,1.000000,5.000000,govt jhundpura,3.000000,0.000000,0,0.000000,NaN,NaN,NaN,1.000000,765.000000,01-09-2013 10:11,NaN,NaN,NaN,0,0,NaN,0,29-01-2013 15:02,NaN,4870,NaN,NaN,3,1,0,NaN,NaN,NaN,NaN,Barsha Rajak,Ã Â¤Â¬Ã Â¤Â°Ã Â¥ÂÃ Â¤Â¶Ã Â¤Â¾ Ã Â¤Â°Ã Â¤ÂÃ Â¤Â,NaN,30117241,1,0.000000,107579,79.000000,368,0.000000,Heerapura,NaN,NaN,476335,6,141510564.000000,3,3.000000,NaN,NaN,NaN,0,0,1,1,NaN,100000000.000000,1,NaN,0,0.000000,6.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0,1,0,30-03-2013 15:41,30402,0,46735.000000,06-10-2013 10:00,Vlla,59929.000000,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,23,SHEOPUR,Ã Â¤Â¶Ã Â¥ÂÃ Â¤Â¯Ã Â¥ÂÃ Â¤ÂªÃ Â¥ÂÃ Â¤Â°,0,431,4002602001,431,418,23,418,23,20,23,Chambal,NaN,1,NaN,107579,20601,1.000000,Heerapura,Ã Â¤Â¹Ã Â¥ÂÃ Â¤Â°Ã Â¤Â¾Ã Â¤ÂªÃ Â¥ÂÃ Â¤Â°Ã Â¤Â¾,1,NaN,NaN,1,20221230_temp,NaN,08-02-2022 16:06,NaN,451541.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vijaypur,2.000000,1,3,1,"Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...","Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...",1.000000,SC,Ã Â¤Â Ã Â¤Â¨Ã Â¥ÂÃ Â¤Â¸Ã Â¥ÂÃ Â¤ÂÃ Â¤Â¿Ã Â¤...,2,Female,Ã Â¤Â¸Ã Â¥ÂÃ Â¤Â¤Ã Â¥ÂÃ Â¤Â°Ã Â¥Â,Ã Â¤Â¬Ã Â¤Â¾Ã Â¤Â²Ã Â¤Â¿Ã Â¤ÂÃ Â¤Â¾,F,2,Married,Ã Â¤ÂµÃ Â¤Â¿Ã Â¤ÂµÃ Â¤Â¾Ã Â¤Â¹Ã Â¤Â¿Ã Â¤Â¤,4.000000,Daughter,Ã Â¤ÂªÃ Â¥ÂÃ Â¤Â¤Ã Â¥ÂÃ Â¤Â°Ã Â¥Â,0.000000,Daughter,4.000000,1.000000,11.000000,BarshaRajak301172410,BarshaRajaknanGeetaDhobeeFemalenannannannanSHE...
1,101094169,1,1094169,20257923,107874,NaN,NaN,Deleted-Gurnam,Singh Bairagi,Ã Â¤ÂÃ Â¥ÂÃ Â¤Â°Ã Â¤Â¨Ã Â¤Â¾Ã Â¤Â®,Ã Â¤Â¸Ã Â¤Â¿Ã Â¤ÂÃ Â¤Â¹ Ã Â¤Â¬Ã Â¥ÂÃ Â¤Â°Ã Â...,0,1,01-01-1948,0,2,0,0,NaN,Gumjar,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN,0.000000,0,200000.000000,NaN,NaN,NaN,1.000000,52296.000000,28-10-2013 17:19,NaN,1.000000,NaN,0,0,NaN,0,01-02-2013 20:25,NaN,1150,NaN,NaN,3,1,0,NaN,NaN,NaN,NaN,Deleted-Gurnam Singh Bairagi,Ã Â¤ÂÃ Â¥ÂÃ Â¤Â°Ã Â¤Â¨Ã Â¤Â¾Ã Â¤Â® Ã Â¤Â¸Ã Â...,NaN,20257923,1,0.000000,107874,256.000000,1,0.000000,Kalarna,NaN,NaN,476337,0,101096478.000000,3,3.000000,NaN,NaN,NaN,0,0,5,1,NaN,100000000.000000,1,NaN,0,0.000000,1.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,0,1,1,01-02-2013 19:57,1150,2,52296.000000,28-10-2013 17:18,Amratpal Singh,63917.000000,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,23,SHEOPUR,Ã Â¤Â¶Ã Â¥ÂÃ Â¤Â¯Ã Â¥ÂÃ Â¤ÂªÃ Â¥ÂÃ Â¤Â°,0,431,4002602001,431,418,23,418,23,20,23,Chambal,NaN,1,NaN,107874,20717,3.000000,Kalarna,Ã Â¤ÂÃ Â¤Â²Ã Â¤Â°Ã Â¤Â¨Ã Â¤Â¾,1,NaN,NaN,1,NaN,NaN,NaN,NaN,451663.000000,NaN,451656.000000,Sheopur,451663.000000,451663.000000,3382.000000,151074.000000,Sheopur,1.000000,1,3,1,"Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...","Ahir, Brajwasi, Gawli, Goli, Jadav (Yadav) Bar...",1.000000,SC,Ã Â¤Â Ã Â¤Â¨Ã Â¥ÂÃ Â¤Â¸Ã Â¥ÂÃ Â¤ÂÃ Â¤Â¿Ã Â¤...,1,Male,Ã Â¤ÂªÃ Â¥ÂÃ Â¤Â°Ã Â¥ÂÃ Â¤Â·,Ã Â¤Â¬Ã Â¤Â¾Ã Â¤Â²Ã Â¤Â,M,2,Married,Ã Â¤ÂµÃ Â¤Â¿Ã Â¤ÂµÃ Â¤Â¾Ã Â¤Â¹Ã Â¤Â¿Ã Â¤Â¤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deleted-GurnamSinghBairagi202579230,Deleted-GurnamSinghBairagiGumjarnanMalenannann...

In [33]:
list(data.columns)

['Unique_id',
 'district_id_x',
 'Temporary_ID_x',
 'family_id',
 'village_ward_id_x',
 'NPR_member_code',
 'samagra_code',
 'first_name_x',
 'last_name_x',
 'first_name_Hi',
 'last_name_Hi',
 'is_head',
 'gender_id',
 'dob',
 'relation_id',
 'marital_status_id',
 'father_id',
 'mother_id',
 'spouse_id',
 'father_name_x',
 'mother_name',
 'spouse_name',
 'mobile_number',
 'email_address',
 'education_status_id',
 'educational_institution_type_id',
 'class_in_school',
 'school_details',
 'School_Type',
 'profession_id',
 'is_disabled',
 'annual_income',
 'nirashrit_before_2007_nonBPL',
 'Aadhaar_status_id',
 'Aadhaar_Enrollment_No',
 'is_updated_x',
 'Verified_By',
 'Verified_On',
 'is_destitute',
 'is_active',
 'is_locked_x',
 'is_Death',
 'is_deleted_x',
 'Approve_Status_x',
 'Import_phase',
 'insert_time_x',
 'update_time',
 'inserted_by_user_id',
 'enc_aadhaar_id',
 'Whats_Up_Mobile_No',
 'category_id_x',
 'lbverified',
 'dormant',
 'Member_Ekyc',
 'Middle_Name',
 'Middle_Name_HI',
 'IS_suspect',
 'FullNameEn',
 'FullNameHi',
 'caste',
 'id_y',
 'district_id_y',
 'Temporary_ID_y',
 'village_ward_id_y',
 'Gadna_Block_ID',
 'House_No',
 'House_No_Section',
 'House_Address',
 'house_hold_number',
 'npr_family_code',
 'pin_code',
 'member_count',
 'head_family_member_id',
 'category_id_y',
 'Category_Code',
 'st_ptg_id',
 'is_sc_bb',
 'is_sc_insanitory_works',
 'is_vimukt',
 'is_minority',
 'religion_id',
 'is_migrated',
 'migration_reason_id',
 'nominee_family_member_id',
 'is_native_of_MP',
 'year_since_mp_resident',
 'is_BPL',
 'BPL_Survey_Year',
 'Toilet_Status',
 'Is_Water_Available',
 'House_Status',
 'Property_tax_SNO',
 'Water_tax_SNO',
 'Nigam_License_No',
 'Is_Tenant',
 'is_locked_y',
 'is_verified',
 'is_deleted_y',
 'insert_time_y',
 'insert_by_user_id',
 'import_phase',
 'Varified_By',
 'Varified_On',
 'head_family_member_name',
 'FPS_Id',
 'is_move',
 'is_updated_y',
 'Is_Van_Adhikar',
 'LandLess_Or_Merginal_Farmar',
 'Priority_Group_Id',
 'Institution_ID',
 'member_count_claimed',
 'Caste_old',
 'Caste_ID',
 'Is_BPL_Verified',
 'Approve_Status_y',
 'Caste_x',
 'BeneficiaryID',
 'FamilySamagra_ID',
 'Samagra_ID_x',
 'Applicant_Name_x',
 'DOB_x',
 'Gender_x',
 'Caste_y',
 'HeadFamilyMemberName',
 'RelationCode',
 'MobileNo',
 'Alternet_MobileNumber',
 'WhatsUpMob',
 'RefKey',
 'Pension_Beneficiary',
 'Pension_Type_Id',
 'AadharAndBanklinking_Status',
 'DBT_Status',
 'DePtID_x',
 'SchemeID_x',
 'RegistrationDate_x',
 'Rec_Status',
 'Rec_Remark',
 'Phase',
 'ApplicationID',
 'Beneficiary_Name_x',
 'Father/HusbandName',
 'DateOFBirth',
 'District',
 'Block',
 'GP',
 'Village',
 'Cast',
 'SubCaste',
 'SamagraID_x',
 'SamagraFamilyID',
 'eEKYC_Status',
 'Profile_Status',
 'eKYC_Date',
 'Project_status',
 'DOB_y',
 'Gender_y',
 'RefKey_of_Beneficiaries',
 'Aadhaar_Anudaan_Registration_Date',
 'Insert_Date_Time',
 'DePtID_y',
 'SchemeID_y',
 'Active_x',
 'Remark',
 'ahl_tin',
 'ahl_hhid',
 'name_ben',
 'father_name_secc',
 'mother_name_secc',
 'dob_ben',
 'gender_ben',
 'district_code',
 'village_code',
 'ward_code',
 'rural_urban',
 'pmrssm_id',
 'updateddate',
 'matched_Samagra_x',
 'DePtID_x.1',
 'SchemeID_x.1',
 'uid',
 'DistrictCode',
 'DistrictNameEnglish',
 'BlockCode',
 'BlockNameEnglish',
 'adh_name',
 'father_name_y',
 'MPTAASProfileId ',
 'samagraMemberID',
 'samagraFamilyID',
 'ProfileRegistrationDate',
 'name_E',
 'father_nameE',
 'mother_nameE',
 'cert_no',
 'issuance_date',
 'CasteEnglish',
 'CasteHindi',
 'AadhaarReference',
 'AadhaarToken',
 'Adhar matched Record_x',
 'Name matched(100%) Record_x',
 'Name matched_percentage_x',
 'Identified_x',
 'DePtID_y.1',
 'SchemeID_y.1',
 'insert_Date',
 'Active_y',
 'VendorProfileID',
 'VendorType',
 'VendorName',
 'SamagraID_y',
 'CertificateNo',
 'CertificateDate',
 'AadharRefrenceNo',
 'RegistrationDate_y',
 'ApproverName',
 'Designation',
 'Flag',
 'matched_Dob',
 'Adhar matched Record_y',
 'Name matched(100%) Record_y',
 'Name matched_percentage_y',
 'Identified_y',
 'DePtID_x.2',
 'SchemeID_x.2',
 'ApplicantName',
 'SamagraId',
 'RegNo',
 'SchemName',
 'SchemType',
 'Amount_x',
 'DateofBenefit',
 'id_x',
 'District_ID_x',
 'VW_ID',
 'Family_ID',
 'first_name_y',
 'last_name_y',
 'Father_Name',
 'Mobile_number',
 'Gender_ID',
 'LB_ID',
 'Family_Member_ID',
 'Applicant_Name_y',
 'family_member_id',
 'Pension_Type_id',
 'pension_type',
 'SchemeID_y.2',
 'DePtID_y.2',
 'District Name',
 'LB Name',
 'GP/Zone Name',
 ' Village/Ward Name',
 'Beneficiary_SamagrID',
 'Beneficiary_Name_y',
 'DoB',
 'matched_Samagra_y',
 'Scheme_Name',
 'DePtID_x.3',
 'SchemeID_x.3',
 'Request_Id_x',
 'Samagra_ID_y',
 'FName_E',
 'MName_E',
 'Category_E',
 'Category_H',
 'Caste_Code_in_State_List',
 'Caste_Name_H',
 'Caste_Code_in_Centre_List',
 'Caste_Name_E',
 'Migration_Case',
 'CertUrl_x',
 'Insert_Date_x',
 'Cancel_Flag_x',
 'Request_Member_Id_x',
 'Verify_By_x',
 'District_Name_E_x',
 'Identified_x.1',
 'DePtID_y.3',
 'SchemeID_y.3',
 'ByAPI',
 'name_match',
 'I_Id',
 'Request_Id_y',
 'Samagra_ID_x.1',
 'Certificate_No_x',
 'Certificate_issue_y',
 'Name_x',
 'FName_H_y',
 'Address',
 'Annual_Income',
 'District_Name_E_y',
 'District_Name_h',
 'CertUrl_y',
 'Insert_Date_y',
 'Cancel_Flag_y',
 'Request_Member_Id_y',
 'Verify_By_y',
 'Identified_y.1',
 'DePtID_x.4',
 'SchemeID_x.4',
 'D_Id',
 'Request_Id',
 'Samagra_ID_y.1',
 'Certificate_No_y',
 'Certificate_issue',
 'Name_y',
 'FName_H',
 'District_Name_E',
 'District_Name_H',
 'CertUrl',
 'Insert_Date',
 'WName',
 'Child_Name',
 'Child_Age',
 'Cancel_Flag',
 'Request_Member_Id',
 'Verify_By',
 'Identified',
 'DePtID_y.4',
 'SchemeID_y.4',
 'ID_x',
 'Division_ID',
 'District_Name',
 'District_NameH',
 'IS_TRIBAL',
 'DDO_Code_x',
 'DDO_Code_SJ',
 'LGD_Code',
 'Census_Code',
 'edistrict_state_code',
 'edistrict_district_code',
 'id_y.1',
 'state_id',
 'division_code',
 'division_name',
 'division_name_hi',
 'District_ID_y',
 'LSK_ID',
 'ID_y',
 'gp_zone_id',
 'Tehsil_Id_y',
 'VW_Name_en',
 'VW_Name_hi',
 'Is_Village',
 'Ward_Local_Known_Name',
 'Ward_Local_Known_Name_Hi',
 'Is_Active',
 'Remarks',
 'inserted_on_y',
 'update_date_y',
 'Correct_VW_ID',
 'GIS_lgd_code_y',
 'edistrict_Village_code',
 'edistrict_Village_code_temp',
 'Tehsil_Name',
 'LLY_CensCD',
 'LLY_vill_ward_Lgd_code',
 'GIS_Tehsil_code',
 'GIS_gp_zone_lgd_Code',
 'VidhanSabha_Name',
 'VidhanSabha_Code',
 'ID_x.1',
 'Category_id',
 'Caste_Code',
 'OldCaste',
 'Caste',
 'ID_y.1',
 'Category_Name',
 'Category_Name_Hi',
 'id_x.2',
 'Gender',
 'Gender_Hi',
 'Gender_S_Hi',
 'Gender_abbr',
 'id_y.3',
 'marital_status',
 'marital_status_Hi',
 'ID',
 'Relation_Name',
 'Relation_Name_Hi',
 'Is_Male',
 'Relation_Name_abbr',
 'Order_By',
 'Is_For_UnMarried',
 'Map_With_Relation_ID',
 'UniqueKey1',
 'UniqueKey2']

In [34]:
data['mobile_number']

0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
              ...
1029                 NaN
1030                 NaN
1031   7224958635.000000
1032   9977441258.000000
1033   8120745413.000000
Name: mobile_number, Length: 1034, dtype: float64

In [35]:
df.shape

(1034, 390)

In [36]:
data.shape

(1034, 390)

## Check same mobile number tagged to multiple names

In [37]:
from fuzzywuzzy import fuzz
import pandas as pd

# Assuming you have a DataFrame called df with columns 'FullNameEn' and 'mobile_number'

# Function to check if two names are similar
def are_names_similar(name1, name2):
    # You can adjust the threshold according to your requirements
    similarity_ratio = fuzz.token_sort_ratio(name1, name2)
    return similarity_ratio > 59  # Adjust threshold as needed

# Grouping by mobile number and checking for duplicate names
grouped = df.groupby('mobile_number')['FullNameEn'].apply(list)

# Initialize a list to store the results
duplicates = []

# Iterate through each group
for mobile, names in grouped.iteritems():
    # If there's only one name associated with the mobile number, skip
    if len(names) <= 1:
        continue
    
    # Iterate through pairs of names to check for similarity
    for i in range(len(names)):
        for j in range(i + 1, len(names)):
            if are_names_similar(names[i], names[j]):
                # If the names are similar, consider it a duplicate
                duplicates.append({'mobile_number': mobile, 'name1': names[i], 'name2': names[j]})

# Convert the list of duplicates to a DataFrame
duplicates_df = pd.DataFrame(duplicates)
duplicates_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_8132\1861349483.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for mobile, names in grouped.iteritems():

      mobile_number           name1            name2
0 7415355123.000000  Jiyoti Solanki  Megraaj Solanki
1 7880261883.000000       Payal Bai        Sapna Bai
2 7880261883.000000       Payal Bai      Kanchan Bai
3 7880261883.000000       Sapna Bai      Kanchan Bai
4 8349340737.000000   Gaura Ahirwar    Pooja Ahirwar

In [38]:
df['dob'].unique()

array(['01-01-2001', '01-01-1948', '01-01-1970', '26-06-1996',
       '10-08-1993', '01-01-1977', '01-07-1998', '09-04-2003',
       '12-05-2005', '01-01-1984', '01-01-1995', '01-01-1998',
       '01-01-1985', '01-07-1960', '01-01-1980', '01-01-1986',
       '01-01-1992', '01-01-1950', '01-01-1967', '01-01-1981',
       '22-02-2007', '01-07-2009', '01-01-2011', '15-11-2012',
       '01-01-1993', '01-01-2000', '01-01-2009', '01-01-1990',
       '01-01-1997', '01-07-1994', '01-01-1999', '01-01-1935',
       '01-01-1976', '01-02-2003', '07-07-2006', '01-07-1973',
       '01-07-1976', '18-10-2006', '04-05-2004', '01-07-2006',
       '01-07-1967', '01-01-1996', '02-03-1943', '01-07-1978',
       '17-11-2000', '01-07-1990', '04-07-1977', '31-05-2004',
       '16-05-2006', '02-08-2008', '25-01-1970', '01-07-1986',
       '01-07-1982', '01-07-2005', '01-01-1987', '30-11-2012',
       '01-07-1988', '01-01-2007', '03-06-2007', '02-05-1985',
       '02-02-2008', '15-07-2003', '20-06-2003', '12-06-2006',
       '06-03-1967', '05-05-1978', '07-12-1998', '05-01-2005',
       '24-01-1972', '01-01-1972', '24-11-1993', '20-05-1992',
       '14-04-2002', '10-02-2005', '04-03-2003', '03-06-2000',
       '10-12-1967', '01-07-1985', '04-04-2010', '01-02-1972',
       '06-03-1992', '02-03-1995', '12-07-2004', '03-02-1999',
       '12-06-2005', '10-07-1999', '09-11-2007', '20-11-2007',
       '18-09-2011', '09-02-2012', '01-01-2008', '31-01-2011',
       '23-03-2012', '01-07-1987', '01-07-1980', '04-08-2006',
       '10-11-2009', '06-03-2009', '11-03-1980', '06-03-2012',
       '06-08-1984', '06-03-2008', '04-05-1996', '11-05-1972',
       '12-08-2004', '05-08-2006', '15-07-2006', '23-05-1967',
       '13-05-1990', '01-01-1937', '01-07-1958', '03-05-1999',
       '08-09-1991', '02-08-1998', '01-01-1982', '25-01-2011',
       '01-01-1971', '02-12-1994', '13-06-1996', '18-05-1997',
       '03-04-1981', '01-01-1959', '01-01-2003', '01-01-1960',
       '16-08-2006', '01-01-2013', '05-09-2004', '24-11-1947',
       '24-05-1977', '14-03-2007', '01-07-1966', '02-08-1962',
       '01-07-1999', '01-07-1970', '08-05-1987', '11-11-1994',
       '06-08-1992', '10-01-2013', '01-01-1957', '22-06-1979',
       '09-04-2002', '23-07-2005', '11-11-1980', '02-06-1985',
       '20-05-2003', '05-10-2003', '23-10-2001', '02-05-2006',
       '13-05-1998', '14-02-1954', '12-05-1998', '13-11-1992',
       '12-04-1994', '25-07-1993', '25-06-1994', '17-10-1972',
       '01-01-1988', '01-07-1991', '01-01-1969', '06-05-2012',
       '01-01-1994', '06-08-1983', '06-04-2001', '15-07-2004',
       '08-02-2008', '12-11-2007', '22-05-2009', '05-03-2008',
       '08-06-2005', '01-01-1955', '07-06-2007', '01-01-2005',
       '04-06-1993', '01-01-2002', '01-07-1943', '01-01-1956',
       '01-07-1989', '01-07-1992', '01-07-1952', '05-07-1971',
       '01-01-1975', '29-07-1997', '16-01-2001', '10-06-2006',
       '04-03-2007', '20-07-2006', '31-12-1994', '29-01-2008',
       '22-08-1978', '02-06-1987', '02-10-2003', '06-03-2007',
       '06-11-2011', '28-09-1987', '24-03-1990', '06-03-2010',
       '12-04-2002', '06-05-2002', '05-05-2005', '01-07-1997',
       '11-08-1978', '06-05-1995', '05-04-1967', '02-06-1992',
       '03-07-2007', '05-12-2007', '21-07-2010', '28-02-2013',
       '06-02-2003', '13-06-2002', '11-09-2005', '02-07-2005',
       '01-01-1942', '02-08-1984', '10-03-1995', '06-02-1986',
       '08-09-2004', '03-11-1999', '06-04-2006', '01-01-1983',
       '04-01-1995', '11-09-1977', '01-01-1961', '15-03-2007',
       '12-06-2010', '01-01-1991', '12-06-2012', '06-07-1987',
       '05-08-1998', '01-07-2001', '12-06-1962', '02-05-1982',
       '01-01-1978', '08-06-2001', '15-09-1997', '01-01-1954',
       '20-07-1968', '08-03-1984', '01-08-1985', '04-09-1999',
       '06-07-2001', '10-07-1980', '15-08-1986', '19-06-2005',
       '09-08-2008', '17-06-2010', '21-07-2000', '01-01-1963',
       '01-07-1965', '14-01-1982', '09-07-2007', '06-09-2010',
       '01-07-1964', '12-12-2007', '14-03-2008', '05-02-1987',
       '26-03-2006', '07-08-2005', '04-06-2012', '20-06-2006',
       '01-07-1949', '01-01-2006', '28-09-1968', '01-07-1977',
       '04-03-1969', '06-05-2003', '02-06-2000', '15-06-1999',
       '11-08-1985', '01-07-1981', '24-01-2002', '12-08-1975',
       '01-05-2012', '20-10-2008', '06-08-1977', '04-11-1998',
       '23-07-2011', '05-06-1999', '12-06-2000', '13-10-2008',
       '14-06-2001', '02-04-2010', '13-06-2005', '24-02-1990',
       '13-06-1978', '18-03-1992', '07-07-2003', '21-01-2012',
       '04-06-2010', '12-06-1950', '25-04-1978', '11-11-1974',
       '05-03-2002', '03-07-2003', '02-06-2009', '01-04-1970',
       '08-06-2010', '11-05-1977', '06-09-2011', '16-12-1954',
       '21-02-2005', '20-07-1999', '01-01-1962', '14-02-1986',
       '05-04-2007', '07-09-2004', '21-04-2009', '03-03-2003',
       '18-08-2010', '15-06-2004', '19-10-2005', '01-01-1951',
       '03-01-2006', '15-04-2004', '04-07-2005', '05-05-2001',
       '05-03-2006', '30-04-1993', '01-07-1993', '07-11-1998',
       '13-05-2010', '10-12-1997', '05-04-2006', '30-08-2007',
       '12-08-2007', '06-10-2012', '03-06-2008', '10-07-1960',
       '24-07-1990', '05-07-1997', '02-02-1994', '15-08-2000',
       '04-06-2008', '06-07-2006', '13-02-1988', '07-07-1994',
       '06-01-2012', '03-12-1990', '04-04-1994', '03-03-2009',
       '10-07-1970', '11-08-1957', '18-12-1978', '01-07-1984',
       '27-05-2009', '30-11-2009', '04-04-2012', '25-11-2010',
       '22-02-2002', '25-06-1964', '01-06-1966', '25-06-2006',
       '24-04-1990', '02-03-2008', '01-09-1989', '01-01-2010',
       '01-01-2012', '12-05-1977', '08-09-1972', '31-12-1973',
       '01-07-1946', '15-06-2003', '25-11-1984', '25-08-2006',
       '01-06-2005', '10-06-1972', '23-08-2007', '05-10-1997',
       '10-06-1993', '10-07-1950', '10-05-1998', '01-07-1955',
       '09-02-2005', '06-07-1957', '03-10-1969', '05-06-1978',
       '24-08-1947', '28-05-2010', '10-10-1991', '01-01-1989',
       '04-02-1980', '12-12-1965', '29-11-2008', '08-06-1990',
       '27-09-1985', '03-06-1997', '19-06-1996', '08-09-1994',
       '24-02-2014', '03-06-1998', '17-10-2000', '13-04-1958',
       '16-01-2000', '25-12-2001', '07-06-1984', '10-07-1965',
       '09-06-2005', '03-07-1988', '09-06-2003', '26-06-1993',
       '04-09-1989', '16-11-2008', '16-06-2005', '06-03-1949',
       '01-01-1965', '06-01-2002', '10-05-1972', '06-07-1988',
       '06-01-1962', '06-04-1987', '03-08-1960', '24-01-1977',
       '01-04-1956', '09-06-1990', '01-07-1971', '05-04-1994',
       '10-07-1982', '05-01-1967', '01-07-1948', '07-06-1998',
       '08-02-1984', '10-02-1991', '01-01-1979', '06-12-2000',
       '03-06-2009', '05-03-2004', '04-05-1972', '01-07-2012',
       '16-06-1977', '10-05-2005', '15-01-2007', '01-06-1994',
       '10-06-1998', '06-08-1998', '17-04-2002', '29-07-2004',
       '05-04-2000', '11-11-1983', '15-06-2001', '11-11-2003',
       '05-06-2011', '01-09-1987', '12-06-1993', '06-12-2011',
       '06-01-1994', '06-09-2002', '11-09-2007', '06-09-1978',
       '21-07-1985', '19-11-2001', '10-07-1988', '15-06-1988',
       '18-12-2007', '03-07-2011', '14-08-2006', '04-03-1952',
       '04-02-1977', '19-10-2000', '06-08-1990', '08-09-2001',
       '12-07-2002', '18-12-1965', '06-03-1997', '05-02-2002',
       '12-07-1993', '06-08-1957', '10-07-1994', '01-03-1982',
       '23-01-1998', '10-06-2001', '13-05-2004', '19-09-2001',
       '13-02-2009', '15-06-2006', '06-01-2008', '25-09-2006',
       '25-01-1979', '13-01-1993', '22-04-1996', '24-04-1999',
       '30-01-1957', '09-06-2001', '10-02-2003', '04-07-1953',
       '14-07-1989', '10-09-2006', '10-05-1991', '12-07-2008',
       '05-01-1962', '21-10-2008', '06-07-1964', '03-02-1962',
       '10-01-1989', '05-06-1991', '05-04-1996', '24-03-1932',
       '06-01-1937', '06-11-1992', '09-10-1950', '06-10-1989',
       '10-10-1962', '01-09-1970', '11-08-1993', '14-06-1986',
       '02-01-2008', '07-06-2001', '15-09-2004', '05-10-2011',
       '02-01-2010', '13-06-1995', '16-01-2009', '06-05-2010',
       '13-06-1994', '01-08-1967', '10-03-1962', '16-03-1996',
       '23-06-1995', '28-07-1996', '10-06-1965', '02-07-2002',
       '21-06-2003', '10-07-2003', '02-03-2006', '14-11-1983',
       '18-06-2007', '07-01-1988', '12-02-1953', '06-03-1977',
       '13-01-2007', '10-10-1960', '10-10-2012', '24-03-1996',
       '30-01-2010', '10-10-1986', '15-08-2008', '05-05-1997',
       '31-12-1960', '01-01-1966', '01-07-1962', '10-07-1973',
       '29-02-1996', '15-07-1998', '20-09-1999', '10-01-1958',
       '03-06-1993', '13-05-1967', '12-10-1993', '10-12-1999',
       '26-03-1999', '21-04-2001', '10-10-1985', '04-08-1972',
       '10-01-1964', '14-04-2012', '20-01-2002', '10-10-1989',
       '16-08-1984', '10-07-2011', '01-07-1963', '09-06-1986',
       '04-10-1990', '03-09-1988', '12-11-1994', '06-04-1998',
       '02-09-1992', '01-09-1967', '01-04-1955', '04-10-1999',
       '10-08-1989', '18-05-2000', '13-06-2001', '25-10-2010',
       '24-08-1991', '23-12-1993', '20-12-2012', '05-11-1987',
       '01-01-1940', '05-05-2002', '01-07-1996', '18-08-1963',
       '28-07-1986', '17-08-1998', '30-06-1993', '20-05-2001',
       '10-12-1993', '21-09-1992', '22-07-1998', '01-01-1968',
       '20-07-2000', '08-08-1967', '16-01-1997', '20-07-1987',
       '28-10-1989', '16-12-1993', '18-05-1991', '11-05-1983',
       '26-07-1994', '25-07-1997', '19-06-1983', '08-08-1993',
       '06-07-2003', '31-07-2000', '01-01-1958', '04-07-1985',
       '01-03-1977', '23-10-1990', '03-12-1923', '11-10-1997',
       '15-08-1992', '21-10-1998', '01-10-1994', '02-05-1995',
       '15-09-1999', '04-04-2011', '07-07-1965', '10-07-2014',
       '06-06-2000', '10-02-1981', '03-09-2000', '24-02-2006',
       '25-04-1941', '08-08-2013', '15-04-2003', '04-12-2006',
       '10-06-1976', '01-02-2009', '31-10-1995', '20-04-1964',
       '01-07-2010', '01-09-1998', '01-04-1968', '01-07-1961',
       '18-04-1992', '11-07-1982', '07-02-1994', '29-06-1996',
       '20-02-1956', '04-09-1953', '27-05-1963', '01-02-1965',
       '14-02-1971', '18-02-1968', '01-12-1971', '01-09-1955',
       '10-10-1970', '09-07-1990', '02-10-1967', '31-12-1985',
       '14-08-1959', '12-06-1991', '10-07-1956', '09-12-1964',
       '01-07-1975', '30-10-1984', '08-05-1986', '10-10-1984',
       '01-03-1984', '15-05-1961', '06-09-1967', '17-11-1985',
       '14-08-1985', '19-03-1953', '23-05-1953', '10-12-1976',
       '05-07-1963', '30-06-1963', '06-08-1959', '16-04-1972',
       '09-01-1973', '05-03-1963', '06-04-1965', '01-07-1983',
       '23-01-1972', '24-02-1961', '19-07-1960', '01-01-1973',
       '04-02-1978', '07-03-1994', '03-08-1979', '02-01-2000',
       '02-05-2011', '03-03-2001', '01-03-1975', '03-05-1969',
       '01-01-1964', '04-01-1974', '27-04-1995', '08-05-1984',
       '22-07-2003', '15-04-2008', '10-01-1992', '08-03-1973',
       '08-02-1992', '16-06-1988', '21-03-2002', '05-03-1982',
       '23-01-2006', '25-09-1975', '20-09-2009', '21-06-1991',
       '10-08-1962', '10-04-1977', '05-05-2000', '16-05-2005',
       '04-05-1969', '04-06-2007', '01-09-1991', '23-09-1997',
       '06-08-2009', '05-11-1965', '25-08-1993', '20-10-2001',
       '26-01-2003', '13-03-1989', '09-08-1997', '04-11-2004',
       '14-01-2012', '05-04-2001', '12-11-1998', '04-08-2003',
       '24-10-1954', '05-06-2007', '02-06-1997', '03-04-2001',
       '06-09-2004', '12-08-1997', '06-04-2000', '12-06-2002',
       '09-06-1999', '05-08-1962', '01-06-1997', '06-10-2002',
       '30-11-2001', '30-08-1993', '01-07-2002', '14-01-1993',
       '10-12-1998', '03-04-2000', '07-05-2005', '30-06-2005',
       '15-06-2005', '07-03-2004', '11-05-2010', '16-10-2008'],
      dtype=object)

In [39]:
df['DOB_x'].unique()

array([nan, '01-01-1999', '01-01-1989', '01-01-1978', '01-06-1997',
       '01-01-1976', '01-01-2002', '01-01-1975', '01-01-1974',
       '01-01-1977', '01-01-1991', '01-01-1963', '30-11-2001',
       '30-08-1993'], dtype=object)

In [40]:
df['DOB_y'].unique()

array([nan, '01-01-1988', '03-04-1975'], dtype=object)

In [41]:
df['annual_income'].unique()

array([0.00e+00, 2.00e+05, 6.50e+04, 7.00e+03, 6.00e+03, 4.00e+04,
       8.00e+03, 1.20e+04, 1.00e+04, 3.30e+03, 5.00e+03, 2.40e+03,
       9.00e+03, 1.50e+05, 3.60e+04,      nan, 3.00e+04, 2.00e+04,
       1.00e+02, 2.50e+04, 1.10e+04, 1.50e+04, 2.40e+05, 3.00e+03,
       4.00e+03, 1.80e+03, 1.08e+05, 2.80e+04, 6.00e+04, 1.20e+05,
       1.00e+03, 4.80e+04, 1.00e+05, 8.40e+04, 5.00e+04, 1.40e+05,
       1.80e+05, 8.00e+04, 2.40e+04, 2.50e+06, 2.50e+05, 7.20e+04,
       3.00e+05, 1.80e+04, 1.60e+05, 5.00e+05, 1.30e+05, 7.00e+04,
       1.10e+05, 1.90e+05, 3.50e+05, 3.40e+05, 2.20e+04, 3.60e+05,
       4.20e+05, 2.80e+05])

In [42]:
df['Annual_Income'].unique()

array([    nan,  40000.,  30000., 680514., 200000.,  20000.])

In [43]:
df.to_csv("15May2024_ReferenceData.csv",index=False)

## On name, apply fuzzy logic and label as perfect duplicate and potential duplicate

In [44]:
import csv
import pandas as pd
from fuzzywuzzy import fuzz

# Function to read data from CSV file
def read_data_from_csv(file_path):
    data = []
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data


source_csv_path = 'Family_Member.csv'
reference_csv_path = '15May2024_ReferenceData.csv'

source_data = read_data_from_csv(source_csv_path)
reference_data = read_data_from_csv(reference_csv_path)

def fuzzy_match_records(source_record, reference_records, threshold=90):
    matches = []
    for ref_record in reference_records:
        name_similarity = fuzz.token_sort_ratio(source_record["FullNameEn"], ref_record["FullNameEn"])
        if name_similarity >= threshold:
            matches.append({
                'BaseData': source_record,
                'ReferenceData': ref_record,
                'NameSimilarity': name_similarity
            })
    return matches

matches = []
for source_record in source_data:
    matches.extend(fuzzy_match_records(source_record, reference_data))

matched_df = pd.DataFrame(matches)

# Add indicator column
matched_df['DuplicateType'] = matched_df.apply(lambda x: 'Perfect Duplicate' if x['BaseData']['FullNameEn'] == x['ReferenceData']['FullNameEn'] else 'Potential Duplicate', axis=1)

# Save matched results to CSV
matched_df.to_csv('matched_results_fuzzywuzzy.csv', index=False)

# Print matched records
for index, match in matched_df.iterrows():
    print("Base Data:")
    print(match['BaseData'])
    print("Reference Data:")
    print(match['ReferenceData'])
    print("Name Similarity:", match['NameSimilarity'])
    print("Duplicate Type:", match['DuplicateType'])
    print()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)