In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import numpy as np
pd.set_option('display.float_format', '{:.6f}'.format)
pd.set_option('display.float_format', lambda x: "{:.6f}".format(x) if not pd.isna(x) else "NaN")

In [2]:
data=pd.read_csv("matched_results_jaccard.csv")

In [3]:
data

,BaseData,ReferenceData,NameSimilarity
0,"{'\ufeffID': '100686666', 'district_id': '1', ...","{'\ufeffid_x': '100686666', 'district_id_x': '...",1.000000
1,"{'\ufeffID': '101094169', 'district_id': '1', ...","{'\ufeffid_x': '101094169', 'district_id_x': '...",1.000000
2,"{'\ufeffID': '101099177', 'district_id': '1', ...","{'\ufeffid_x': '101099177', 'district_id_x': '...",1.000000
3,"{'\ufeffID': '101100633', 'district_id': '1', ...","{'\ufeffid_x': '101100633', 'district_id_x': '...",1.000000
4,"{'\ufeffID': '101147505', 'district_id': '1', ...","{'\ufeffid_x': '101147505', 'district_id_x': '...",1.000000
...,...,...,...
1562,"{'\ufeffID': '101242830', 'district_id': '1', ...","{'\ufeffid_x': '101242830', 'district_id_x': '...",1.000000
1563,"{'\ufeffID': '101256204', 'district_id': '1', ...","{'\ufeffid_x': '101256204', 'district_id_x': '...",1.000000
1564,"{'\ufeffID': '101307024', 'district_id': '1', ...","{'\ufeffid_x': '101779818', 'district_id_x': '...",0.500000
1565,"{'\ufeffID': '101307024', 'district_id': '1', ...","{'\ufeffid_x': '101307024', 'district_id_x': '...",1.000000
1566,"{'\ufeffID': '101335871', 'district_id': '1', ...","{'\ufeffid_x': '101335871', 'district_id_x': '...",1.000000

In [4]:
import ast

In [5]:
data['BaseData'] = data['BaseData'].apply(ast.literal_eval)
data['ReferenceData'] = data['ReferenceData'].apply(ast.literal_eval)

In [6]:
base_data_df = pd.json_normalize(data['BaseData'])
reference_data_df = pd.json_normalize(data['ReferenceData'])

In [7]:
result_df = pd.concat([base_data_df, reference_data_df, data['NameSimilarity']], axis=1)

In [8]:
result_df

,﻿ID,district_id,Temporary_ID,family_id,village_ward_id,first_name,last_name,is_head,gender_id,dob,relation_id,marital_status_id,father_id,mother_id,education_status_id,educational_institution_type_id,profession_id,is_disabled,annual_income,is_Death,is_deleted,Import_phase,insert_time,inserted_by_user_id,category_id,lbverified,dormant,FullNameEn,﻿id_x,district_id_x,Temporary_ID_x,family_id,village_ward_id_x,first_name_x,last_name_x,is_head,gender_id,dob,relation_id,marital_status_id,father_id,mother_id,education_status_id,educational_institution_type_id,profession_id,is_disabled,annual_income,is_Death,is_deleted_x,Import_phase,insert_time_x,inserted_by_user_id,category_id_x,lbverified,dormant,FullNameEn,id_y,district_id_y,Temporary_ID_y,village_ward_id_y,Gadna_Block_ID,Sub_GB_No,House_No,House_Sub_No,House_No_Section,House_Address,pin_code,member_count,head_family_member_id,category_id_y,Category_Code,is_vimukt,is_minority,religion_id,is_migrated,nominee_family_member_id,is_native_of_MP,is_BPL,BPL_Survey_Year,Toilet_Status,Is_Water_Available,House_Status,is_locked_y,is_verified,is_deleted_y,insert_time_y,insert_by_user_id,import_phase,Varified_By,Varified_On,head_family_member_name,FPS_Id,is_updated_y,Is_Van_Adhikar,Caste_ID,Is_BPL_Verified,NameSimilarity
0,100686666,1,686666,30117241,107579,BRS,RZK,0,2,01-01-2001,4,2,0,141513241,1,1,0,0,0,0,0,0,29-01-2013,4870,3,1,0,BRS RZK,100686666,1,686666,30117241,107579,BRS,RZK,0,2,01-01-2001,4,2,0,141513241,1,1,0,0,0,0,0,0,29-01-2013,4870,3,1,0,BRS RZK,30117241,1,0,107579,79,0,368,0,0,Heerapura,476335,6,141510564,3,3,0,0,1,1,100000000,1,0,0,6,1,1,0,1,0,30-03-2013,30402,0,46735,06-10-2013 10:00,WL,59929,1,0,0,0,1.000000
1,101094169,1,1094169,20257923,107874,DILITIDGURNM,SING BIRGI,0,1,01-01-1948,0,2,0,0,2,2,0,0,200000,0,0,0,01-02-2013,1150,3,1,0,DILITIDGURNM SING BIRGI,101094169,1,1094169,20257923,107874,DILITIDGURNM,SING BIRGI,0,1,01-01-1948,0,2,0,0,2,2,0,0,200000,0,0,0,01-02-2013,1150,3,1,0,DILITIDGURNM SING BIRGI,20257923,1,0,107874,256,A,1,A,0,Kalarna,476337,0,101096478,3,3,0,0,5,1,100000000,1,0,0,1,1,2,0,1,1,01-02-2013,1150,2,52296,28-10-2013 17:18,AMRTPL SING,63917,1,0,0,0,1.000000
2,101099177,1,1099177,20259742,107874,SMBO SING,GURZR,1,1,01-01-1970,9,2,0,0,2,1,0,0,65000,0,0,0,01-02-2013,1150,3,1,0,SMBO SING GURZR,101099177,1,1099177,20259742,107874,SMBO SING,GURZR,1,1,01-01-1970,9,2,0,0,2,1,0,0,65000,0,0,0,01-02-2013,1150,3,1,0,SMBO SING GURZR,20259742,1,0,107874,256,A,6,0,6,Kalarna,476337,4,101099177,3,28,0,0,1,1,100000000,1,0,0,1,1,2,1,1,0,01-02-2013,1150,2,45143,07-10-2013 14:05,SMBO SING GURZR,63917,1,0,0,0,1.000000
3,101100633,1,1100633,20259742,107874,SUGRIW,GURZR,0,1,26-06-1996,3,1,101099177,101099745,1,1,0,0,0,0,0,0,01-02-2013,1150,3,1,0,SUGRIW GURZR,101100633,1,1100633,20259742,107874,SUGRIW,GURZR,0,1,26-06-1996,3,1,101099177,101099745,1,1,0,0,0,0,0,0,01-02-2013,1150,3,1,0,SUGRIW GURZR,20259742,1,0,107874,256,A,6,0,6,Kalarna,476337,4,101099177,3,28,0,0,1,1,100000000,1,0,0,1,1,2,1,1,0,01-02-2013,1150,2,45143,07-10-2013 14:05,SMBO SING GURZR,63917,1,0,0,0,1.000000
4,101147505,1,1147505,28016000,114372,ZMIL,SIFY,0,2,10-08-1993,4,2,101142719,101143915,2,1,5,0,0,0,0,0,02-02-2013,1617,4,1,0,ZMIL SIFY,101147505,1,1147505,28016000,114372,ZMIL,SIFY,0,2,10-08-1993,4,2,101142719,101143915,2,1,5,0,0,0,0,0,02-02-2013,1617,4,1,0,ZMIL SIFY,28016000,1,0,114372,21,0,193,0,2,Ward 6,476337,5,132650566,4,0,0,0,2,1,132652037,1,0,0,1,1,2,0,1,0,21-03-2013,7596,2,47172,02-10-2013 16:27,AKBR ALI,59746,1,0,0,0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,101242830,1,1242830,42038346,107564,RZNI,PRIHR,0,2,15-06-2005,4,1,101239082,101239488,1,1,0,0,0,0,0,0,02-02-2013,789,1,1,0,RZNI PRIHR,101242830,1,1242830,42038346,107564,RZNI,PRIHR,0,2,15-06-2005,4,1,101239082,101239488,1,1,0,0,0,0,0,0,02-02-2013,789,1,1,0,RZNI PRIHR,42038346,1,0,107564,,,54,0,0,Kota,476332,6,188822503,1,32,0,0,1,1,,1,0,,,,,0,1,0,15-07-2014,80527,0,1148,05-10-2014 17:37,HRIPL PRIHR,59894,1,,0,0,1.000000
1563,101256204,1,1256204,20297764,114381,PLWI,BGIL,0,2,07-03-2004,4,1,101255164,101255459,1,1,0,0,0,0,0,0,02-02-2013,756,3,1,0,PLWI BGIL,101256204,1,1256204,20297764,114381,PLWI,BGIL,0,2,07-03-2004,4,1,101255164,101255459,1,1,0,0,0,0,0,0,02-02-2013,756,3,1,0,PLWI BGIL,20297764,1,0,114381,80,0,17,0,2,Regar Mohalla Sheopur,476337,4,101255164,3,23,0,0,1,1,100000000,1,1,9,1,1,2,0,1,0,02-02-2013,756,2,45059,06-09-2013 18:08,BRZIS BGIL,59752,1,0,0,0,1.000000
1564,101307024,1,1307024,20310063,114375,DIWYNS,MIN,0,1,11-05-2010,3,1,101306507,0,1,1,0,0,0,0,0,0,03-02-2013,4869,3,1,0,DIWYNS MIN,101779818,1,1779818,20426698,114375,MIN,,0,2,06-10-1989,2,2,0,0,2,1,0,0,0,0,0,0,05-02-2013,8077,4,1,0,MIN,20426698,1,0,114375,36,0,13,0,0,Chambal Colloniy Sheopur,467337,5,101779507,4,0,0,0,1,1,101779818,1,0,0,1,1,3,0,1,0,05-02-2013,8077,2,47169,09-10-2013 23:17,STYNRYN HINONIY,59748,1,0,0,0,0.500000
1565,101307024,1,1307024,20310063,114375,DIWYNS,MIN,0,1,11-05-2010,3,1,101306507,0,1,1,0,0,0,0,0,0,03-02-2013,4869,3,1,0,DIWYNS MIN,101307024,1,1307024,20310063,114375,DIWYNS,MIN,0,1,11-05-2010,3,1,101306507,0,1,1,0,0,0,0,0,0,03-02-2013,4869,3,1,0,DIWYNS MIN,20310063,1,0,114375,8,0,951,0,1,ward 09,476337,5,101306507,3,21,0,0,1,1,100000000,1,0,,6,1,2,0,1,0,03-02-2013,4869,0,765,07-05-2014 17:11,NR SING MIN,0,1,0,0,0,1.000000
1566,101335871,1,1335871,20317161,114381,PRITI,RIGR,0,2,16-10-2008,4,1,101334568,101335244,1,1,0,0,0,0,0,0,03-02-2013,756,1,1,0,PRITI RIGR,101335871,1,1335871,20317161,114381,PRITI,RIGR,0,2,16-10-2008,4,1,101334568,101335244,1,1,0,0,0,0,0,0,03-02-2013,756,1,1,0,PRITI RIGR,20317161,1,0,114381,80,0,18,0,2,Regar Mohalla Sheopur,476337,6,101334568,1,14,0,0,1,1,101335244,1,0,0,6,0,1,0,1,0,03-02-2013,756,2,756,09-03-2015 14:23,PURN RIGR,59752,1,0,0,0,1.000000

In [9]:
base_data_columns = [f'BaseData_{col}' for col in base_data_df.columns]
reference_data_columns = [f'ReferenceData_{col}' for col in reference_data_df.columns]
result_df.columns = base_data_columns + reference_data_columns + ['NameSimilarity']

In [10]:
result_df

,BaseData_﻿ID,BaseData_district_id,BaseData_Temporary_ID,BaseData_family_id,BaseData_village_ward_id,BaseData_first_name,BaseData_last_name,BaseData_is_head,BaseData_gender_id,BaseData_dob,BaseData_relation_id,BaseData_marital_status_id,BaseData_father_id,BaseData_mother_id,BaseData_education_status_id,BaseData_educational_institution_type_id,BaseData_profession_id,BaseData_is_disabled,BaseData_annual_income,BaseData_is_Death,BaseData_is_deleted,BaseData_Import_phase,BaseData_insert_time,BaseData_inserted_by_user_id,BaseData_category_id,BaseData_lbverified,BaseData_dormant,BaseData_FullNameEn,ReferenceData_﻿id_x,ReferenceData_district_id_x,ReferenceData_Temporary_ID_x,ReferenceData_family_id,ReferenceData_village_ward_id_x,ReferenceData_first_name_x,ReferenceData_last_name_x,ReferenceData_is_head,ReferenceData_gender_id,ReferenceData_dob,ReferenceData_relation_id,ReferenceData_marital_status_id,ReferenceData_father_id,ReferenceData_mother_id,ReferenceData_education_status_id,ReferenceData_educational_institution_type_id,ReferenceData_profession_id,ReferenceData_is_disabled,ReferenceData_annual_income,ReferenceData_is_Death,ReferenceData_is_deleted_x,ReferenceData_Import_phase,ReferenceData_insert_time_x,ReferenceData_inserted_by_user_id,ReferenceData_category_id_x,ReferenceData_lbverified,ReferenceData_dormant,ReferenceData_FullNameEn,ReferenceData_id_y,ReferenceData_district_id_y,ReferenceData_Temporary_ID_y,ReferenceData_village_ward_id_y,ReferenceData_Gadna_Block_ID,ReferenceData_Sub_GB_No,ReferenceData_House_No,ReferenceData_House_Sub_No,ReferenceData_House_No_Section,ReferenceData_House_Address,ReferenceData_pin_code,ReferenceData_member_count,ReferenceData_head_family_member_id,ReferenceData_category_id_y,ReferenceData_Category_Code,ReferenceData_is_vimukt,ReferenceData_is_minority,ReferenceData_religion_id,ReferenceData_is_migrated,ReferenceData_nominee_family_member_id,ReferenceData_is_native_of_MP,ReferenceData_is_BPL,ReferenceData_BPL_Survey_Year,ReferenceData_Toilet_Status,ReferenceData_Is_Water_Available,ReferenceData_House_Status,ReferenceData_is_locked_y,ReferenceData_is_verified,ReferenceData_is_deleted_y,ReferenceData_insert_time_y,ReferenceData_insert_by_user_id,ReferenceData_import_phase,ReferenceData_Varified_By,ReferenceData_Varified_On,ReferenceData_head_family_member_name,ReferenceData_FPS_Id,ReferenceData_is_updated_y,ReferenceData_Is_Van_Adhikar,ReferenceData_Caste_ID,ReferenceData_Is_BPL_Verified,NameSimilarity
0,100686666,1,686666,30117241,107579,BRS,RZK,0,2,01-01-2001,4,2,0,141513241,1,1,0,0,0,0,0,0,29-01-2013,4870,3,1,0,BRS RZK,100686666,1,686666,30117241,107579,BRS,RZK,0,2,01-01-2001,4,2,0,141513241,1,1,0,0,0,0,0,0,29-01-2013,4870,3,1,0,BRS RZK,30117241,1,0,107579,79,0,368,0,0,Heerapura,476335,6,141510564,3,3,0,0,1,1,100000000,1,0,0,6,1,1,0,1,0,30-03-2013,30402,0,46735,06-10-2013 10:00,WL,59929,1,0,0,0,1.000000
1,101094169,1,1094169,20257923,107874,DILITIDGURNM,SING BIRGI,0,1,01-01-1948,0,2,0,0,2,2,0,0,200000,0,0,0,01-02-2013,1150,3,1,0,DILITIDGURNM SING BIRGI,101094169,1,1094169,20257923,107874,DILITIDGURNM,SING BIRGI,0,1,01-01-1948,0,2,0,0,2,2,0,0,200000,0,0,0,01-02-2013,1150,3,1,0,DILITIDGURNM SING BIRGI,20257923,1,0,107874,256,A,1,A,0,Kalarna,476337,0,101096478,3,3,0,0,5,1,100000000,1,0,0,1,1,2,0,1,1,01-02-2013,1150,2,52296,28-10-2013 17:18,AMRTPL SING,63917,1,0,0,0,1.000000
2,101099177,1,1099177,20259742,107874,SMBO SING,GURZR,1,1,01-01-1970,9,2,0,0,2,1,0,0,65000,0,0,0,01-02-2013,1150,3,1,0,SMBO SING GURZR,101099177,1,1099177,20259742,107874,SMBO SING,GURZR,1,1,01-01-1970,9,2,0,0,2,1,0,0,65000,0,0,0,01-02-2013,1150,3,1,0,SMBO SING GURZR,20259742,1,0,107874,256,A,6,0,6,Kalarna,476337,4,101099177,3,28,0,0,1,1,100000000,1,0,0,1,1,2,1,1,0,01-02-2013,1150,2,45143,07-10-2013 14:05,SMBO SING GURZR,63917,1,0,0,0,1.000000
3,101100633,1,1100633,20259742,107874,SUGRIW,GURZR,0,1,26-06-1996,3,1,101099177,101099745,1,1,0,0,0,0,0,0,01-02-2013,1150,3,1,0,SUGRIW GURZR,101100633,1,1100633,20259742,107874,SUGRIW,GURZR,0,1,26-06-1996,3,1,101099177,101099745,1,1,0,0,0,0,0,0,01-02-2013,1150,3,1,0,SUGRIW GURZR,20259742,1,0,107874,256,A,6,0,6,Kalarna,476337,4,101099177,3,28,0,0,1,1,100000000,1,0,0,1,1,2,1,1,0,01-02-2013,1150,2,45143,07-10-2013 14:05,SMBO SING GURZR,63917,1,0,0,0,1.000000
4,101147505,1,1147505,28016000,114372,ZMIL,SIFY,0,2,10-08-1993,4,2,101142719,101143915,2,1,5,0,0,0,0,0,02-02-2013,1617,4,1,0,ZMIL SIFY,101147505,1,1147505,28016000,114372,ZMIL,SIFY,0,2,10-08-1993,4,2,101142719,101143915,2,1,5,0,0,0,0,0,02-02-2013,1617,4,1,0,ZMIL SIFY,28016000,1,0,114372,21,0,193,0,2,Ward 6,476337,5,132650566,4,0,0,0,2,1,132652037,1,0,0,1,1,2,0,1,0,21-03-2013,7596,2,47172,02-10-2013 16:27,AKBR ALI,59746,1,0,0,0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,101242830,1,1242830,42038346,107564,RZNI,PRIHR,0,2,15-06-2005,4,1,101239082,101239488,1,1,0,0,0,0,0,0,02-02-2013,789,1,1,0,RZNI PRIHR,101242830,1,1242830,42038346,107564,RZNI,PRIHR,0,2,15-06-2005,4,1,101239082,101239488,1,1,0,0,0,0,0,0,02-02-2013,789,1,1,0,RZNI PRIHR,42038346,1,0,107564,,,54,0,0,Kota,476332,6,188822503,1,32,0,0,1,1,,1,0,,,,,0,1,0,15-07-2014,80527,0,1148,05-10-2014 17:37,HRIPL PRIHR,59894,1,,0,0,1.000000
1563,101256204,1,1256204,20297764,114381,PLWI,BGIL,0,2,07-03-2004,4,1,101255164,101255459,1,1,0,0,0,0,0,0,02-02-2013,756,3,1,0,PLWI BGIL,101256204,1,1256204,20297764,114381,PLWI,BGIL,0,2,07-03-2004,4,1,101255164,101255459,1,1,0,0,0,0,0,0,02-02-2013,756,3,1,0,PLWI BGIL,20297764,1,0,114381,80,0,17,0,2,Regar Mohalla Sheopur,476337,4,101255164,3,23,0,0,1,1,100000000,1,1,9,1,1,2,0,1,0,02-02-2013,756,2,45059,06-09-2013 18:08,BRZIS BGIL,59752,1,0,0,0,1.000000
1564,101307024,1,1307024,20310063,114375,DIWYNS,MIN,0,1,11-05-2010,3,1,101306507,0,1,1,0,0,0,0,0,0,03-02-2013,4869,3,1,0,DIWYNS MIN,101779818,1,1779818,20426698,114375,MIN,,0,2,06-10-1989,2,2,0,0,2,1,0,0,0,0,0,0,05-02-2013,8077,4,1,0,MIN,20426698,1,0,114375,36,0,13,0,0,Chambal Colloniy Sheopur,467337,5,101779507,4,0,0,0,1,1,101779818,1,0,0,1,1,3,0,1,0,05-02-2013,8077,2,47169,09-10-2013 23:17,STYNRYN HINONIY,59748,1,0,0,0,0.500000
1565,101307024,1,1307024,20310063,114375,DIWYNS,MIN,0,1,11-05-2010,3,1,101306507,0,1,1,0,0,0,0,0,0,03-02-2013,4869,3,1,0,DIWYNS MIN,101307024,1,1307024,20310063,114375,DIWYNS,MIN,0,1,11-05-2010,3,1,101306507,0,1,1,0,0,0,0,0,0,03-02-2013,4869,3,1,0,DIWYNS MIN,20310063,1,0,114375,8,0,951,0,1,ward 09,476337,5,101306507,3,21,0,0,1,1,100000000,1,0,,6,1,2,0,1,0,03-02-2013,4869,0,765,07-05-2014 17:11,NR SING MIN,0,1,0,0,0,1.000000
1566,101335871,1,1335871,20317161,114381,PRITI,RIGR,0,2,16-10-2008,4,1,101334568,101335244,1,1,0,0,0,0,0,0,03-02-2013,756,1,1,0,PRITI RIGR,101335871,1,1335871,20317161,114381,PRITI,RIGR,0,2,16-10-2008,4,1,101334568,101335244,1,1,0,0,0,0,0,0,03-02-2013,756,1,1,0,PRITI RIGR,20317161,1,0,114381,80,0,18,0,2,Regar Mohalla Sheopur,476337,6,101334568,1,14,0,0,1,1,101335244,1,0,0,6,0,1,0,1,0,03-02-2013,756,2,756,09-03-2015 14:23,PURN RIGR,59752,1,0,0,0,1.000000